.table {
  margin-right: auto;
  margin-left: auto;

  th,
  td {
    padding: 0.5rem;

    text-align: center;
  }

  thead {
    font-weight: 500;

    th {
      padding: 0.5rem 1rem;
      border-bottom: solid 2px var(--border-color);

      color: var(--grey-70);
      white-space: nowrap;
    }
  }

  tbody {
    td {
      border-bottom: solid 1px var(--border-color);
    }
  }
}
