.container.top-buffer
  .row
    .col-md-12
      .documentation-index
        = preserve do
          - readme_text = File.read(Rails.root.join("doc", "README.#{@locale}.md"))
          - text = readme_text.dup
          - readme_text.scan(/\]\(([^(]+)\)/) { |match| text.gsub!(match.first, "help/#{match.first}") }
          = markdown text
