.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3rem 1fr;
  border-radius: var(--border-radius-md);

  background-color: var(--white);
  box-shadow: var(--block-box-shadow);

  transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;

  &:hover {
    box-shadow: 0 3px 7px var(--box-shadow-color);
    transform: translateY(-1px);
  }
}

.date {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 0 -0.375rem;
  padding: 0.25rem 0;

  color: var(--white);
  font-size: 0.875rem;

  background-color: var(--blue-70);

  span {
    font-size: 0.75rem;
  }

  &::before {
    position: absolute;
    top: -0.3125rem;
    left: 0;

    width: 0;
    height: 0;
    border-color: transparent transparent var(--blue-90) transparent;
    border-style: solid;
    border-width: 0 0 0.3125rem 0.3125rem;

    content: '';
  }

  &.active {
    background-color: var(--green-90);

    &::before {
      border-color: transparent transparent var(--green-70) transparent;
    }
  }
}

.official {
  margin: 0.5rem 0 0 -1px;
  padding: 0.125rem 0;
  border-left: 2px solid var(--red-90);

  color: var(--red-90);
  font-size: 0.75rem;
  text-align: center;

  background-color: rgba(var(--red-90-rgb), 0.07);
}

.eventInfo {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.75rem 0.5rem;

  hr {
    margin: 0.25rem 0;
  }
}

.title {
  color: var(--blue-grey-60);
  font-size: 1.25rem;
}

.icon {
  path {
    fill: var(--grey-70);
  }
}

.placeIcon {
  composes: icon;

  height: 1em;
}

.suitIcon {
  composes: icon;

  width: 0.875em;
}

.description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  color: var(--grey-90);
  font-size: 0.75rem;

  > :not(:last-child) {
    margin-right: 0.25rem;
  }
}

.separator {
  color: var(--grey-60);
}
