<p id="notice"><%= notice %></p>

<p>
  <strong>Tournament round:</strong>
  <%= @tournament_match.tournament_round_id %>
</p>

<%= link_to 'Edit', edit_tournament_match_path(@tournament_match) %> |
<%= link_to 'Back', tournament_matches_path %>
