<% provide :title, title(@track) %>

<div class="show-page">
  <%= render partial: 'tracks/header', locals: { track: @track } %>

  <div class="track-show-content">
    <h2><%= t '.header' %></h2>
    <%= render 'form' %>
  </div>
</div>
