.track-video-edit{'data-points': @points.to_json.html_safe}
  .container
    = render partial: 'tracks/header', locals: {track: @track}

    .content-block.content-block--bordered
      %h2
        = t '.header'

      = render 'form'

- content_for :page_js do
  :javascript
    var view = new Skyderby.views.TrackVideoForm({el: '.track-video-edit'});
