.profile-badges {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.achievement {
  display: inline-flex;
  position: relative;
  margin: 0 1rem 1rem 0;
  align-items: center;
}

.achievement__icon {
  height: 39px;
  width: 39px;
  box-sizing: content-box;
  border: 6px solid transparent;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 1.5rem;

  svg {
    height: 1em;
    width: 1em;
  }

  &.achievement--skyderby {
    background-color: var(--blue-30);
    border-color: var(--blue-10);
    color: var(--blue-gray-60);
  }

  &.achievement--sponsor {
    background: var(--green-70);
    border-color: var(--green-30);
    color: var(--green-90);
  }

  &.achievement--special {
    background: var(--red-30);
    border-color: var(--red-20);
    color: var(--red-80);
  }

  &.achievement--competition.achievement--gold,
  &.achievement--online.achievement--gold {
    background-color: var(--yellow-40);
    border-color: var(--yellow-20);
    color: var(--yellow-80);
  }

  &.achievement--competition.achievement--silver,
  &.achievement--online.achievement--silver {
    background-color: var(--blue-gray-20);
    border-color: var(--blue-gray-10);
    color: var(--blue-gray-50);
  }

  &.achievement--competition.achievement--bronze,
  &.achievement--online.achievement--bronze {
    background-color: var(--orange-30);
    border-color: var(--orange-20);
    color: var(--orange-80);
  }
}

.achievement__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin-left: -15px;
  display: flex;
  height: 2.75rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--default-border);
  border-top-right-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
  background: $white;
  position: relative;
  z-index: 1;

  span {
    color: var(--text-secondary);
    font-size: 10px;
    line-height: 10px;
  }
}

