footer {
  background-color: rgba(255, 255, 255, 0.95);
  border-top-color: rgba(0, 0, 0, 0.14);
  border-top-style: solid;
  border-top-width: 1px;

  color: #777777;
  font-size: 12px;

  padding-top: 10px;

  a {
    color: #555;
  }

  .section-title {
    font-weight: bold;
    margin-bottom: 10px
  }

  ul {
    padding-left: 0px;

    li {
      list-style-type: none;
      margin-bottom: 7px;
    }
  }

  .footer-buttons {
    .btn {
      padding: 5px;
      width: 100%;
      margin-bottom: 12px;
    }
  }
}
