footer {
  width: 100%;
  color: $main-text-color;
  display: block;
  font-size: 12px;
  line-height: 12px;
  margin: 10px 0;

  i {
    margin: 0 3px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      padding-bottom: 2px;
    }
  }
}
