- if policy(@event_track.event).update?
  %ul.nav.nav-pills
    - current_controller = controller.controller_path.split('/').last
    %li{class: ('active' if current_controller == 'event_tracks')}
      = link_to t('event_tracks.show.charts'), event_event_track_path(@event_track.event, @event_track), remote: true
    %li{class: ('active' if current_controller == 'jump_ranges')}
      = link_to t('event_tracks.show.jump_range'), event_event_track_jump_range_path(@event_track.event, @event_track), remote: true
    %li{class: ('active' if current_controller == 'penalties')}
      = link_to t('event_tracks.show.penalties'), event_event_track_penalty_path(@event_track.event, @event_track), remote: true

  %hr.condensed
