<%# locals: (options: [], **local_assigns) %>

<%= tag.template **local_assigns do %>
  <div class="hot-select-dropdown" role="listbox">
    <div class="hot-select-scrollable hot-select-selectable">
      <div class="hot-select-options" data-hot-select-target="options">
        <% if options.any? %>
          <% options.each do |value, label| %>
            <div class="hot-select-option" data-value="<%= value %>">
              <%= label || value %>
            </div>
          <% end %>
        <% elsif block_given? %>
          <%= yield %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
