<% can_update ||= false %>
<% result_class ||= '' %>

<td class="<%= class_names 'result-cell', result_class %>">
  <%= link_to(event_result_path(event, result),
              remote: !mobile?,
              class: 'result-show-cell',
              rel: 'nofollow') do  %>
    <% if result.valid? %>
      <%= result.formated %>
      <% if result.penalized? && result.apply_penalty_to_result? %>
        <sup class="text-danger">-<%= result.penalty_size %>%</sup>
      <% end %>
    <% elsif can_update %>
      <i class="far fa-question-circle text-danger"></i>
    <% end %>
  <% end %>
</td>
