.container-fluid
  .tournaments-match-map{'data-controller': 'tournaments--match-map',
               'data-url': url_for,
               'data-action': 'maps_api:ready@window->tournaments--match-map#on_maps_api_ready maps_api:failed@window->tournaments--match-map#on_maps_load_failed'}
    #track-map-loading.text-muted{'data-target': 'tournaments--match-map.placeholder'}
      .fa-2x
        %i.fa.fa-fw.fa-spin.fa-circle-notch{'data-target': 'tournaments--match-map.maps_loading_status'}
        Loading Google Maps API
      .fa-2x
        %i.fa.fa-fw.fa-spin.fa-circle-notch{'data-target': 'tournaments--match-map.data_loading_status'}
        Loading track data
    #match-map{'data-target': 'tournaments--match-map.map'}

  .center-block.text-center.top-buffer
    - @match_map.competitors.each do |competitor|
      %span
        %i.fa.fa-fw.fa-circle{style: "color: #{competitor.color}"}
        %span= competitor.name
