@import 'styles/breakpoints.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;

  > :not(:last-child) {
    margin-bottom: 15px;
  }

  @include sm-screen {
    > :not(:last-child) {
      margin-bottom: 0;
    }
  }
}
