<div class="container-lg">
  <div class="index-page-header-content">
    <div class='index-page-header'>
      <h1><%= t('application.header.profiles') %></h1>
    </div>

    <%= form_with url: profiles_path, method: :get,
                  data: { 'turbo-frame': 'profiles-list', params: index_params.except(:query), controller: 'auto-submit' } do |form| %>
      <%= form.search_field :query,
                            placeholder: 'Search for athletes',
                            data: { action: 'input->auto-submit#submit' },
                            class: 'input', value: index_params[:query] %>
    <% end %>
  </div>

  <turbo-frame class="profiles-list" id="profiles-list" target="_top">
    <%= render partial: 'profiles/profile_card', collection: @profiles, as: :profile %>
  </turbo-frame>
</div>
