<% provide :title, @profile.name if @profile.name.present? %>

<div class="show-page">
  <%= render 'profiles/header', profile: @profile %>

  <div class="show-page-content">
    <%= render 'profiles/overview', dashboard: @profile %>
  </div>
</div>
