<ul class="flight-profiles__tracks-list" id="tracks-list">
  <%= render partial: 'flight_profiles/track', collection: @tracks, as: :track %>
</ul>

<div class="flight-profiles__load-more text-center" id="tracks-pagination">
  <%= button_to t('will_paginate.load_more', default: 'Load more...'),
                polymorphic_path([@scope, :flight_profiles, :tracks]),
                params: { page: @tracks.next_page },
                form: { data: { turbo: true, turbo_stream: true } },
                method: :get,
                class: 'btn btn-default' %>
</div>
