<% provide :title, page_title(t('application.header.flight_profiles')) %>

<div class="explorer">
  <aside class="explorer-sidebar" data-controller="toggleable" data-toggle-class="collapsed">
    <div class="explorer-sidebar-container" data-controller="places--searchable-list">
      <div class="search-input-container">
        <div class="search-input-icon">
          <%= svg_icon 'magnifying-glass-solid' %>
        </div>
        <input class="search-input" type="text" data-action="input->places--searchable-list#filterPlaces" placeholder="Search...">
      </div>

      <div class="explorer-sidebar-scrollable">

      </div>

      <div class="explorer-sidebar-toggle">
        <button class="default-button" data-action="toggleable#toggle">
          <%= svg_icon 'angle-left-solid', class: 'explorer-sidebar-toggle-opened' %>
          <%= svg_icon 'angle-right-solid', class: 'explorer-sidebar-toggle-closed' %>
        </button>
      </div>
    </div>

    <div class="explorer-sidebar-footer">
      Footer
    </div>
  </aside>

  <main class="explorer-main">
    <div class="flight-profiles-charts">
      <div>Chart A</div>
      <div>Tagbar</div>
      <div>Chart B</div>
    </div>
  </main>
</div>
