<%# locals: (slot:, editable: false, modal: false, **) %>

<% match = slot.match %>
<% ordered = match.slots.select(&:track_id).sort_by { |candidate| candidate == slot ? 0 : 1 } %>

<div class="sd-container comparison-view">
  <%= render 'tournaments/matches/slots/header' %>

  <%= render 'tournaments/matches/comparisons/comparison', match: match, slots: ordered %>

  <% if editable %>
    <hr />
    <div class="form-actions justify-between">
      <div>
        <%= link_to t('general.delete'),
                    tournament_match_slot_result_path(slot.tournament, match, slot),
                    data: { turbo_method: :delete, turbo_stream: true, turbo_confirm: t('general.confirm_delete') },
                    class: 'button button--ghost button--danger' %>
      </div>
      <div>
        <% if modal %>
          <button class="button" type="button" data-action="dialog#close"><%= t('general.cancel') %></button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
