<table id="weather-table" class="table">
  <thead>
    <tr>
      <th class="text-right"><%= t('weather_datum.altitude') %></th>
      <th class="text-right"><%= t('weather_datum.wind_speed') %></th>
      <th class="text-right"><%= t('weather_datum.wind_direction') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'tracks/weather_data/weather_datum', collection: @weather_data.rows %>
  </tbody>
</table>
