<% provide :title, @event.name %>

<div class="show-page">
  <%= render 'performance_competitions/header', editable: @event.editable? %>

  <div class="show-page-content placeholder-page">
    <p class="placeholder-page__message"><%= t('events.lane_validations.no_results') %></p>
  </div>
</div>
