<%# locals: (title:, modal_size: 'md', **rest) %>

<div class="modal-overlay" data-controller="modal" data-modal-target="overlay">
  <div class="modal-container <%= "modal-size-#{modal_size}" %>" role="dialog" data-modal-target="dialog">
    <div class="modal-header">
      <h2 class="modal-title"><%= title %></h2>
      <button class="modal-close ghost-button" aria-label="Close modal" data-action="modal#close">
        <%= svg_icon 'xmark' %>
      </button>
    </div>

    <div class="modal-body">
      <%= yield %>
    </div>
  </div>
</div>
