.container {
  padding: 0 1rem 0 2rem;
  overflow-y: hidden;
}

.tagList {
  display: flex;
  margin: 0;
  padding: 0 0 2rem;
  overflow-x: auto;

  list-style: none;
  background-color: var(--white);

  > :not(:last-child) {
    margin-right: 0.5rem;
  }
}

.tag {
  flex-shrink: 0;
  border-radius: var(--border-radius-sm);

  color: var(--grey-80);

  background-color: var(--grey-20);
}

.label {
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

.deleteButton {
  width: 1.625rem;
  height: 1.625rem;
  padding: 0.25rem 0.5rem;
  border: 0;
  border-radius: var(--border-radius-sm);

  background-color: transparent;
  outline: none;
  cursor: pointer;

  svg {
    height: 0.75em;

    fill: rgba(0, 0, 0, 0.55);
  }

  &:hover {
    background-color: var(--grey-40);

    svg {
      fill: rgba(0, 0, 0, 0.85);
    }
  }
}
