@import 'styles/breakpoints';

.container {
  position: relative;

  height: 2.1875rem;
  overflow: hidden;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: scroll;

  white-space: nowrap;

  list-style: none;
}

.menuItem {
  @include sm-screen {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &:nth-last-child(2) {
      margin-right: 1.5rem;
    }
  }
}

.menuItem a {
  display: flex;
  border-bottom: solid 3px transparent;

  svg {
    height: 1em;
    margin-right: 0.25rem;
  }

  path {
    fill: var(--grey-60);
  }

  &:focus {
    outline: none;
  }
}

.menuItem a span {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: var(--border-radius-md);

  color: var(--grey-70);
  line-height: 2rem;
  white-space: nowrap;
  text-decoration: none;
}

.menuItem :global(.active) {
  border-bottom-color: var(--blue-grey-60);

  span {
    color: var(--blue-grey-60);
    font-weight: 500;
  }

  path {
    fill: var(--blue-grey-60);
  }
}

.menuItem a:hover span,
:global(.keyboardNavigation) .menuItem a:focus span {
  background-color: var(--grey-30);
}

.spacer {
  width: 2rem;
}

.right {
  margin-left: auto;
}

.fade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  width: 2rem;

  background: linear-gradient(to left, var(--grey-10) 45%, rgba(250, 250, 250, 0.4));
  opacity: 0;

  transition: opacity 0.25s ease-in-out;
}
