.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 320px minmax(350px, 1fr);
  padding: 1rem;
}

.content {
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius-lg);

  background-color: var(--white);
  box-shadow: var(--block-box-shadow);
}
