DB_NAME: your_db_name
DB_TEST_NAME: your_test_db_name
DB_HOST: your_postgres_hostname
DB_USERNAME: your_dn_username
REDIS_HOST: localhost
REDIS_PORT: 6379
REDIS_DB: 12
MAPS_API_KEY: AIzaSyBK52NrEXWYjmGLRkKOpjndjDxuT4PuB8U
HONEYBADGER_API_KEY: 'your_key'
TRACK_SCANNER_URL: http://track-scanner.herokuapp.com
FB_APP_ID: 123123123123
FB_APP_SECRET: 4f1d0e1234a26a5f5a51fd121f8c0dd7

SHRINE_S3_BUCKET: dev-test.skyderby.ru
SHRINE_S3_ACCESS_KEY_ID: abc
SHRINE_S3_SECRET_KEY: xyz
SHRINE_S3_REGION: eu-west-1
