<%# locals: (indicators:, terrain: nil) %>

<div class="base-jump-layout">
  <div class="base-jump-left">
    <div class="base-jump-chart-square"
         data-tracks--base-jump-track-target="sideProjection">
    </div>

    <%= terrain %>
  </div>

  <div class="base-jump-controls">
    <div class="base-jump-indicators-row">
      <%= indicators %>
    </div>

    <div class="base-jump-playback">
      <button class="base-jump-playback-button"
              data-tracks--base-jump-track-target="playButton"
              data-action="tracks--base-jump-track#togglePlay">
        <span class="icon-play"><%= icon_tag 'play-solid' %></span>
        <span class="icon-pause"><%= icon_tag 'pause-solid' %></span>
      </button>
      <input type="range"
             class="base-jump-playback-slider"
             min="0"
             max="100"
             value="0"
             data-tracks--base-jump-track-target="playbackSlider"
             data-action="input->tracks--base-jump-track#onSliderInput">
    </div>
  </div>

  <div class="base-jump-right">
    <div class="base-jump-map-container">
      <div class="base-jump-map"
           data-tracks--base-jump-track-target="map">
      </div>
    </div>

    <div class="base-jump-charts"
         data-controller="synchronized-charts"
         data-action="mousemove->synchronized-charts#refreshTooltip touchmove->synchronized-charts#refreshTooltip touchstart->synchronized-charts#refreshTooltip mousemove->tracks--base-jump-track#onChartHover touchmove->tracks--base-jump-track#onChartHover">
      <div class="base-jump-glide-chart"
           data-tracks--base-jump-track-target="glideChart"
           data-synchronized-charts-target="chart"></div>
      <div class="base-jump-speed-chart"
           data-tracks--base-jump-track-target="speedChart"
           data-synchronized-charts-target="chart"></div>
      <div class="base-jump-sep-chart"
           data-tracks--base-jump-track-target="sepChart"
           data-synchronized-charts-target="chart"></div>
    </div>
  </div>
</div>

<div class="track-empty-state hidden"
     data-tracks--base-jump-track-target="emptyState"></div>
