.track-charts__charts-container
  - if presenter.separate_charts?
    #glideratio_chart.track-charts__chart
    #speeds_chart.track-charts__chart
    #elevation_distance_chart.track-charts__chart
  - else
    #all_data_chart.track-charts__chart
