<% if presenter.separate_charts? %>
  <div class="track-charts-container" data-controller="synchronized-charts"
       data-action="mousemove->synchronized-charts#refreshTooltip touchmove->synchronized-charts#refreshTooltip touchstart->synchronized-charts#refreshTooltip">
    <div id="glideratio_chart" class="track-charts__chart" data-synchronized-charts-target="chart"></div>
    <div id="speeds_chart" class="track-charts__chart" data-synchronized-charts-target="chart"></div>
    <div id="elevation_distance_chart" class="track-charts__chart" data-synchronized-charts-target="chart"></div>
  </div>
<% else %>
  <div class="track-charts-container">
    <div id="all_data_chart" class="track-charts__chart"></div>
  </div>
<% end %>
