<div class="tracks-filters">
  <%= select_tag 'profile_id',
                 options_for_select([[profile_name_by_id(index_params[:profile_id]), index_params[:profile_id]]]),
                 name: 'profile_id',
                 class: 'form-control',
                 placeholder: t('tracks.index.filter_by_pilot'),
                 data: { remote: true, method: :GET, url: tracks_path, params: index_params.except(:profile_id).to_param },
                 'data-controller': 'select2--profiles' %>

  <%= select_tag 'suit_id',
                 options_for_select([[suit_name_by_id(index_params[:suit_id]), index_params[:suit_id]]]),
                 name: 'suit_id',
                 class: 'form-control',
                 placeholder: t('tracks.index.filter_by_suit'),
                 data: { remote: true, method: :GET, url: tracks_path, params: index_params.except(:suit_id).to_param },
                 'data-controller': 'select2--suits' %>

  <%= select_tag 'place_id',
                 options_for_select([[place_name_by_id(index_params[:place_id]), index_params[:place_id]]]),
                 name: 'place_id',
                 class: 'form-control',
                 placeholder: t('tracks.index.filter_by_place'),
                 data: { remote: true, method: :GET, url: tracks_path, params: index_params.except(:place_id).to_param },
                 'data-controller': 'select2--places' %>
</div>
