%meta{property: 'og:type', content: 'fitness.course'}
%meta{property: 'fitness:distance:value', content: "#{@track_presenter.distance}"}
%meta{property: 'fitness:distance:units', content: 'm'}
%meta{property: 'fitness:duration:value', content: "#{@track_presenter.time}"}
%meta{property: 'fitness:duration:units', content: 's'}
%meta{property: 'fitness:speed:value', content: "#{@track_presenter.avg_horizontal_speed}"}
%meta{property: 'fitness:speed:units', content: 'km/h'}
