<div class="text-center">
  <% if @tracks.next_page %>
    <%= button_to t('will_paginate.load_more', default: 'Load more...'),
                  tracks_path,
                  params: index_params.merge(page: @tracks.next_page),
                  form: { data: { turbo: true, turbo_stream: true } },
                  method: :get,
                  class: 'button' %>
  <% end %>

  <div class="pagination-list">
    <%= will_paginate @tracks, renderer: BootstrapPagination::Rails %>
  </div>
</div>
