%button.btn.btn-default.dropdown-toggle#dropdownMenu1{type: 'button', data: {toggle: 'dropdown'}}
  %i.fa.fa-cog
%ul.dropdown-menu.dropdown-menu-right{role: 'menu', aria: {labelledby: 'dropdownMenu1'}}
  %li.dropdown-header{role: 'presentation'}
    =t 'tracks.show.menu_header'
  %li{class: ('active' if preferred_charts_mode == 'separate'), role: 'presentation'}
    = link_to t('tracks.show.menu_sep'), params.except(:range).merge(charts_mode: 'separate'), remote: true
  %li{class: ('active' if preferred_charts_mode == 'single'), role: 'presentation'}
    = link_to t('tracks.show.menu_one'), params.except(:range).merge(charts_mode: 'single'), remote: true
  %li.dropdown-header{role: 'presentation'}
    =t 'tracks.show.units_header'
  %li{class: ('active' if preferred_charts_units == 'metric'), role: 'presentation'}
    = link_to t('tracks.show.m_units_metric'), params.except(:range).merge(charts_units: 'metric'), remote: true
  %li{class: ('active' if preferred_charts_units == 'imperial'), role: 'presentation'}
    = link_to t('tracks.show.m_units_imperial'), params.except(:range).merge(charts_units: 'imperial'), remote: true
