.container
  .tracks-index
    .page-header
      %h1=t '.title'
    .row
      .col-sm-12
        %h3=t '.filters'
    .row
      .col-sm-3
        %select{name: 'query[profile_id]'}
      .col-sm-3
        %select{name: 'query[suit_id]'}
      .col-sm-3
        %select{name: 'query[place_id]'}
      .col-sm-3
        .pull-right
          .btn-group
            - params_query = params[:query] || {}
            - kind = params_query[:kind]
            %a.btn.btn-sm.btn-default{href: tracks_path(query: params_query.except(:kind)), class: ('active' unless kind)}
              = t '.all'
            %a.btn.btn-sm.btn-default{href: tracks_path(query: params_query.merge(kind: :skydive)), class: ('active' if kind == 'skydive')} 
              Skydive
            %a.btn.btn-sm.btn-default{href: tracks_path(query: params_query.merge(kind: :base)), class: ('active' if kind == 'base')}
              B.A.S.E
    .row
      .col-sm-12.top-buffer
        - params_order = (params[:order] || '').split(' ')
        - order_field = (params_order[0] || 'id').upcase
        - order_direction = (params_order[1] || 'DESC').upcase
        %table#tracks-index.table.table-hover
          %thead
            %tr
              %th
                %span=t 'activerecord.attributes.track.id'
                - if order_field == 'ID' && order_direction == 'DESC'
                  %a{href: tracks_path(params.merge(order: 'id ASC')), 'data-toggle' => 'tooltip', title: 'Sort by ID ascending'}
                    %i.fa.fa-sort-amount-desc
                - elsif order_field == 'ID' && order_direction == 'ASC'
                  %a{href: tracks_path(params.merge(order: 'id DESC')), 'data-toggle' => 'tooltip', title: 'Sort by ID descending'}
                    %i.fa.fa-sort-amount-asc
                - else
                  %a.text-muted{href: tracks_path(params.merge(order: 'id DESC')), 'data-toggle' => 'tooltip', title: 'Sort by ID descending'}
                    %i.fa.fa-sort-amount-desc
                
              %th=t 'activerecord.attributes.track.name'
              %th=t 'activerecord.attributes.track.suit'
              %th=t 'activerecord.attributes.track.place'
              %th=t 'activerecord.attributes.track.comment'
              %th=t 'disciplines.distance'
              %th=t 'disciplines.speed'
              %th=t 'disciplines.time'
              %th
                %span
                  =t 'activerecord.attributes.track.recorded_at'
                - if order_field == 'RECORDED_AT' && order_direction == 'DESC'
                  %a{href: tracks_path(params.merge(order: 'recorded_at ASC')), 'data-toggle' => 'tooltip', title: 'Sort by recorded at ascending'}
                    %i.fa.fa-sort-amount-desc
                - elsif order_field == 'RECORDED_AT' && order_direction == 'ASC'
                  %a{href: tracks_path(params.merge(order: 'recorded_at DESC')), 'data-toggle' => 'tooltip', title: 'Sort by recorded at descending'}
                    %i.fa.fa-sort-amount-asc
                - else
                  %a.text-muted{href: tracks_path(params.merge(order: 'recorded_at DESC')), 'data-toggle' => 'tooltip', title: 'Sort by recorded at descending'}
                    %i.fa.fa-sort-amount-desc

              %th
          %tbody
            = render @tracks

    = will_paginate @tracks, renderer: BootstrapPagination::Rails
