.tracks-index
  = render 'filters'

  .tracks-list
    = render @tracks

  .tracks-index__pagination
    .pagination-load-more
      = will_paginate @tracks, renderer: WillPaginateLoadMoreRenderer
    .pagination-list
      = will_paginate @tracks, renderer: BootstrapPagination::Rails

