<div class="tracks-index">
  <%= render 'filters' %>

  <div class="tracks-list" id="tracks-list">
    <%= render @tracks %>
  </div>

  <div id="index__pagination">
    <%= render 'tracks_pagination' %>
  </div>
</div>

