<% provide :title, title(@track) %>

<div data-controller="tracks--index"></div>

<%# <%= render 'tracks/show_track' %>
<%#
<%# <% content_for :page_open_graph do %>
<%#   <%= render 'tracks/open_graph' %>
<%# <% end %>
<%#
<%# <% content_for :page_js do %>
<%#   <script>
<%#     <% if @track_presenter.separate_charts? %>
<%#       <%= render(partial: 'tracks/separate_charts', formats: [:js], locals: {presenter: @track_presenter}) %>
<%#     <% else %>
<%#       <%= render(partial: 'tracks/single_chart', formats: [:js], locals: {presenter: @track_presenter}) %>
<%#     <% end %>
<%#   </script>
<%# <% end %>
