.container
  %h1= "Ошибка при чтении файла"
  %p= "Пожалуйста, отправьте загружаемый файл по адресу ab@ipkunin.ru, указав каким устройством он был записан. После реализации поддержки данного формата я напишу Вам."
