.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
}

.row {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    flex-wrap: wrap;
    margin-left: 2.5rem;
  }
}

.editLink {
  display: flex;
  align-items: center;
  margin-left: auto;

  text-decoration: none;

  svg {
    height: 0.875em;
    margin-right: 0.25rem;

    path {
      fill: var(--grey-50);
    }
  }

  span {
    color: var(--grey-70);
    font-size: 1rem;
  }
}

.profile {
  display: flex;

  white-space: nowrap;

  img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    border-radius: 50%;
  }
}

.pilot {
  font-size: 1.5rem;
  line-height: 2rem;
}

.place {
  margin-right: 1em;

  svg {
    height: 0.75em;
    margin-right: 0.25em;

    path {
      fill: var(--grey-50);
    }
  }
}

.suit {
  white-space: nowrap;

  svg {
    height: 0.75em;
    margin-right: 0.25em;

    path {
      fill: var(--grey-50);
    }
  }
}
