<% var colspan = rules === 'hungary_boogie' ? 1 : 2 %>
<td class="text-center" data-round-id="<%=id%>" colspan=<%= colspan %>>
    <% if (can_manage) { %>
        <i class="fa fa-fw"></i>
    <% } %>
    <%=name%>
    <% if (rules !== 'hungary_boogie') { %>
        <a href="#" class="round-map-view">
            <i class="fa fa-compass"></i>
        </a>
    <% } %>
    <% if (can_manage) { %>
        <a href="#" class="delete-round">
            <i class="fa fa-fw fa-times-circle text-muted"></i>
        </a>
    <% } %>
</td>
