<thead>
	<tr id="disciplines-row">
		<td class="rt-ln" rowspan=3>#</td>
		<td rowspan=3 colspan=2><%= I18n.t("events.show.competitor") %></td>
	</tr>
	<tr id="rounds-row"></tr>
	<tr id="units-row"></tr>
</thead>
