<thead>
	<tr id="disciplines-row">
		<td class="rt-ln" rowspan=3>#</td>
		<td rowspan=3 colspan=2><%= I18n.t("events.show.competitor") %></td>
	</tr>
	<tr id="rounds-row"></tr>
	<tr id="units-row"></tr>
	<tr class="template-row">
		<td class="rt-ln" data-role="row_number"></td>
		<td data-role="competitor">
			<a class="competitor-profile-link" data-role="competitor-name" href="#"></a>
			<span data-role="competitor-suit"></span>
			<span data-role="competitor-edit-ctrls"></span>
		</td>
		<td class="text-center text-muted">
			<span class="dotted-underline" data-role="competitor-country" data-toggle="tooltip"></span>
		</td>
	</tr>
</thead>

