<button id="gmaps-settings-dropdown" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    <i class="fa fa-cog"></i>
</button>
<ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li class="dropdown-header" role="presentation">
        <%= I18n.t('tracks.show.units_header') %>
    </li>
    <li class="dropdown-header" role="presentation">
        <!-- <%= I18n.t('tracks.show.units_header') %> -->
    </li>
    <% if (wind_cancellation) { %>
        <li id="toggle_zerowind_trajectory">
            <a href="#" role="menuitem" tabindex="-1">
                Hide zero-wind trajectory
            </a>
        </li>
    <% } %>
</ul>
