<tr>
    <td>
        <input class='form-control' name='weather_datum[actual_on]' placeholder="YYYY-MM-DD HH:mm" <% if (default_date) { %> value="<%=default_date%>" <% } %>/>
    </td>
    <td>
        <input class='form-control text-right' name='weather_datum[altitude]' />
    </td>
    <td>
        <input class='form-control text-right' name='weather_datum[wind_speed]' />
    </td>
    <td>
        <input class='form-control text-right' name='weather_datum[wind_direction]' placeholder="0-359°"/>
    </td>
    <td>
        <a href="#" class="add-weather-datum">
            <i class="fa fa-angle-double-right fa-2x"></i>
        </a> 
    </td>
</tr>
