<td><%= actual_on %></td>
<td class="text-right"><%= Number(altitude).toFixed(0) %></td>
<td class="text-right"><%= wind_speed %></td>
<td class="text-right"><%= wind_direction %></td>
<% if (can_manage) { %>
    <td>
        <a href="#" class="weather-datum-delete">
            <i class="fa fa-times-circle text-muted"></i>
        </a>
    </td>
<% } %>
