.readOnly {
  display: flex;
  align-items: baseline;
  margin-left: auto;

  white-space: nowrap;

  svg {
    height: 0.75rem;
    margin-right: 0.25rem;

    path {
      fill: var(--grey-60);
    }
  }
}
