<%# locals: (event:, round:, result:) %>
<td class="text-right">
  <% if round.completed %>
    <% if result.penalized? %>
      <span class="dotted-underline" data-controller="tooltip">
        <%= format('%.1f', result.points.to_f.round(1)) if result.valid? %>
        <% if result.apply_penalty_to_score? %>
          <sup class="text-danger">-<%= result.penalty_size %>%</sup>
        <% end %>
        <span class="for-screen-reader"><%= result.penalty_reason %></span>
      </span>
    <% else %>
      <%= format('%.1f', result.points.to_f.round(1)) if result.valid? %>
    <% end %>
  <% end %>
</td>
