<% provide :title, @event.name %>
<% editable = policy(@event).update? %>
<%= turbo_stream_from @event, :open_scoreboard, editable ? :editable : :read_only %>

<div class="show-page">
  <%= render 'events/header', editable: %>

  <div class="show-page-content" id="open_scoreboard">
    <%= render 'scoreboard', event: @event, editable: %>
  </div>
</div>
