.container {
  display: grid;
  grid-template-rows: calc(100vh - 18rem);
  grid-template-columns: 1fr minmax(30%, 370px);
  border-bottom: solid 1px var(--border-color);
  border-radius: var(--border-radius-md);
  overflow: auto;

  background-color: var(--white);

  box-shadow: var(--block-box-shadow);
}

.competitors {
  padding: 0.625rem;
  border-left: solid 1px var(--border-color);
  overflow: scroll;
}


.group {
  padding: 0.625rem;
}

.header {
  display: flex;
  padding-bottom: 0.25rem;

  color: var(--grey-70);
  font-weight: 500;
  line-height: 1.5rem;
  text-transform: uppercase;

  > :not(:last-child) {
    margin-right: 0.625rem;
  }
}

.list {
  border-left: solid 0.125rem var(--border-color);
}

.flatButton {
  composes: button from '~styles/button.module.scss';
  composes: flat from '~styles/button.module.scss';
  composes: sizeXs from '~styles/button.module.scss';
}

.map {
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-rows: 1fr min-content;
}
