.container {
  display: grid;
  grid-template-rows: calc(100vh - 18rem);
  grid-template-columns: 1fr minmax(30%, 370px);
  border-bottom: solid 1px var(--border-color);
  border-radius: var(--border-radius-md);
  overflow: auto;

  background-color: var(--white);

  box-shadow: var(--block-box-shadow);
}
