@import 'styles/breakpoints';

.container {
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  margin: 0 auto;

  @include lg-screen {
    width: $bp-large;
  }
}

.scoreboardTable {
  width: 100%;
  border: var(--default-border);
  border-collapse: collapse;
  overflow: hidden;

  font-size: 0.875rem;

  background-color: var(--white);

  @include lg-screen {
    border-radius: var(--border-radius-md);

    box-shadow: var(--block-box-shadow);
  }
}

.scoreboardTable td,
.scoreboardTable th {
  padding: 0.5rem;
  border: 1px solid var(--border-color);

  vertical-align: middle;
}

.scoreboardTable thead th {
  font-weight: 500;
  text-align: center;
}

.scoreboardTable tbody > tr:first-child td {
  width: 1%;

  font-weight: 500;
  text-transform: uppercase;
}

.scoreboardTable tr:first-child > th:first-child,
.scoreboardTable tbody > tr:not(:first-child) > td:nth-child(1),
.scoreboardTable tbody > tr:not(:first-child) > td:nth-child(3) {
  width: 1%;

  text-align: center;
}

.scoreboardTable tr:first-child > th:nth-child(2) {
  text-align: left;
}

.taskScore,
.totalScore,
.roundResult,
.roundScore {
  text-align: right;
}
