@import 'styles/breakpoints';

.container {
  display: grid;
  grid-gap: 1rem;

  @include lg-screen {
    width: $bp-large;
    margin: 0 auto;
  }
}

.emptyState {
  color: var(--grey-80);
  font-size: 1.25rem;
}
