<% local ||= false %>
<% return unless policy(@tournament).update? && @result.track.present? %>

<div class="tab-bar">
  <%= render 'tournaments/qualifications/results/header_items', local: local %>
</div>
