@import 'styles/breakpoints';

.container {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 0.75rem;
  padding: 0 1rem;

  @include lg-screen {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 calc((100vw - 1200px) / 2 + 1rem);
  }
}

.card {
  display: grid;
  border-radius: var(--border-radius-lg);
  overflow: hidden;

  background-color: var(--white);
  box-shadow: var(--block-box-shadow);
}

.cover {
  width: 100%;
  height: 180px;

  background-position: center;

  background-size: cover;
}

.details {
  padding: 1rem;

  strong {
    color: var(--grey-80);
    font-size: 1.25rem;
    font-weight: 500;
  }
}
