@import 'styles/breakpoints';

.container {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 0.75rem;
  padding: 0 1rem;

  @include lg-screen {
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem calc((100vw - 1200px) / 2 + 1rem);
  }
}
