<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @tournament_round.order %>
</p>

<%= link_to 'Edit', edit_tournament_round_path(@tournament_round) %> |
<%= link_to 'Back', tournament_rounds_path %>
