<div class="place-photos__list row" id="photos-list">
  <%= render partial: 'places/photos/photo', collection: @photos, as: :photo %>
</div>

<%= link_to new_place_photo_path(@place), data: { turbo_stream: true }, class: 'btn btn-default' do %>
  <%= icon_tag 'plus-solid' %>
  Add
<% end %>
