<div class="show-page">
  <%= render partial: 'tracks/header', locals: { track: @track } %>

  <div class="track-show-content">
    <div class="row" data-controller="tracks--globe" data-url="<%= url_for %>" data-action="cesium_api:ready@window->tracks--globe#onCesiumReady cesium_api:failed@window->tracks--globe#onCesiumFailed">
      <div class="track-map-wrapper col-sm-12">
        <div id="track-map-loading" class="text-muted" data-tracks--globe-target="loadingProgress">
          <div id="track-map-loading-api" class="icon-2x">
            <%= icon_tag 'circle-notch-solid', class: 'icon--fw icon-spin' %>
            <span data-tracks--globe-target="cesiumStatus"></span>
            Loading Maps API
          </div>
          <div id="track-map-loading-data" class="icon-2x">
            <%= icon_tag 'circle-notch-solid', class: 'icon--fw icon-spin' %>
            <span data-tracks--globe-target="dataStatus"></span>
            Loading track data
          </div>
        </div>
        <div id="cesium-container" data-tracks--globe-target="viewer"></div>
      </div>
    </div>
  </div>
</div>
