.container-fluid.top-buffer.round-map
  .col-sm-12
    #round-map
      #track-map-loading.text-muted
        #track-map-loading-api.fa-2x
          %i.fa.fa-fw.fa-spin.fa-circle-o-notch
          Loading Cesium API
        #track-map-loading-data.fa-2x
          %i.fa.fa-fw.fa-check
          Loading track data
