@mixin font-face($fontFamily, $fileName, $svgLabel, $fontWeight: normal, $fontStyle: normal) {
	@font-face {
		font-family: $fontFamily;

		src: asset-url('#{$fileName}.eot');
		src: asset-url('#{$fileName}.eot?#iefix') format('embedded-opentype'),
         asset-url('#{$fileName}.woff') format('woff'),
         asset-url('#{$fileName}.ttf') format('truetype'),
         asset-url('#{$fileName}.svg##{$svgLabel}') format('svg');

		font-weight: $fontWeight;
		font-style: $fontStyle;
	}
}
