@mixin full-screen-container {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 41px;
}

@mixin full-screen-container-header {
  background: white;
  border-bottom: rgba(0, 0, 0, 0.14) solid 1px;
  line-height: 2;
  font-size: 24px;
  padding-left: 15px;
  color: $gray-dark;
}
