.modalBody {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.label {
  white-space: nowrap;
  text-align: right;
}

.primaryButton {
  composes: button from '~styles/button.module.scss';
  composes: primary from '~styles/button.module.scss';
}

.secondaryButton {
  composes: button from '~styles/button.module.scss';
}

.input {
  composes: input from '~styles/input.module.scss';

  padding: calc(0.5rem - 2px) calc(0.75rem - 2px);

  font-size: 1rem;
}
