%li.suits-index__list-item
  .suits-index__suit-name
    = link_to wingsuit.name, wingsuit
  .suits-index__suit-stat.text-muted
    .text-center
      = wingsuit.profiles
    .text-center
      pilots
  .suits-index__suit-stat.text-muted
    .text-center
      = wingsuit.base_tracks
    .text-center
      base
  .suits-index__suit-stat.text-muted
    .text-center
      = wingsuit.skydive_tracks
    .text-center
      skydive
