<tr class='disabled'>
    <td id='round-map-c<%= id %>' class='round-map-competitor'>
        <!-- <input type='checkbox'/> -->
        <%= name %>
    </td>
    <td>
        <span id='track-direction-c<%= id %>'></span> 
    </td>
</tr>
