<div class='modal-content'>
    <div class='modal-header'>
        <div class='pull-right'>
            <button class='close' type='button' data-dismiss='modal'>
                <span aria-hidden='true'>
                    <i class='fa fa-close'></i>
                    &times;
                </span>
                <span class='sr-only'>
                    Close
                </span>
            </button>
        </div>
        <h4 class='modal-title'><%= title %></h4>
    </div>
    <div class='modal-body'>
        <div class='container-fluid'>
            <div class='round-map-loading'>
                <i class='fa fa-3x fa-circle-o-notch fa-spin'></i>
                <p>Loading tracks data</p>
            </div>
            <div class='col-sm-8'>
                <div id="round-map"></div>
            </div>
            <div class='col-sm-4 round-competitors-wrap'>
                <table class='table table-condensed round-competitors'>
                    <thead>
                        <tr>
                            <th>Competitor</th>
                            <th>Track</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div> 
    </div>
    <div class='modal-footer'>
        <button class='btn btn-default' type='button' data-dismiss='modal'>
            OK
        </button>
    </div>
</div>
