.defaultButton {
  composes: button from '~styles/button';
}

.primaryButton {
  composes: button from '~styles/button';
  composes: primary from '~styles/button';
}

.deleteButton {
  composes: button from '~styles/button';
  composes: red from '~styles/button';
  composes: outlined from '~styles/button';
}

.tabBar {
  display: flex;

  > :not(:last-child) {
    margin-right: 0.5rem;
  }
}

.tabBarButton {
  composes: button from '~styles/button';
  composes: flat from '~styles/button';
}

.activeTab {
  --active-text-color: var(--white);
  --active-background-color: var(--blue-grey-70);

  composes: active from '~styles/button';
}

.footerRight {
  display: flex;

  > :not(:last-child) {
    margin-right: 0.5rem;
  }
}

.trackChart {
  height: 600px;
}

.indicators {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, auto);
}

.indicatorTitle,
.indicatorValue {
  text-align: center;
}

.indicatorTitle {
  color: var(--grey-70);
  font-weight: 600;
  text-transform: uppercase;
}

.indicatorValue {
  color: var(--grey-80);
  font-weight: 100;
  font-size: 2.5rem;
}
