.container {
  background-color: var(--white);
  border-radius: var(--border-radius-md);
  box-shadow: var(--block-box-shadow);
  display: grid;
  grid-gap: 0.5rem;
  padding: 1rem 1rem 0;
}

.title {
  color: var(--grey-80);
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

.subtitle {
  color: var(--grey-70);
  font-weight: 500;
  font-size: 1.125rem;
}

.navbar {
  display: flex;

  > :not(:last-child) {
    margin-right: 0.5rem;
  }
}

.navbarLink {
  display: inline-block;
  border-bottom: solid 3px transparent;
  color: var(--grey-80);
  font-weight: 500;

  &:focus {
    outline: none;
  }

  &:global(.active) {
    color: var(--blue-30);
    cursor: default;
    border-bottom-color: var(--blue-30);

    div:hover {
      background-color: var(--white);
    }
  }

  div {
    border-radius: var(--border-radius-sm);
    padding: 0.5rem 0.75rem;

    &:hover {
      background-color: var(--grey-10);
    }
  }
}

.spacer {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
