.toggle {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.5rem;
  border: 0;
  border-radius: var(--border-radius-md);

  background: transparent;
  cursor: pointer;

  > :not(:last-child) {
    margin-right: 0.25rem;
  }

  &:hover {
    background-color: var(--blue-20);
  }

  svg {
    width: 0.5rem;
    height: 0.5rem;

    path {
      fill: var(--white);
    }
  }
}

.flag {
  width: 1rem;
  height: 0.6875rem;

  background: url('~images/flags.png') center no-repeat;

  &[data-locale='ru'] {
    background-position: -32px -11px;
  }

  &[data-locale='en'] {
    background-position: 0 -11px;
  }

  &[data-locale='it'] {
    background-position: -16px -11px;
  }

  &[data-locale='de'] {
    background-position: 0 0;
  }

  &[data-locale='es'] {
    background-position: -16px 0;
  }

  &[data-locale='fr'] {
    background-position: -32px 0;
  }
}

.localeMenu {
  margin: 0;
  padding: 0;
  border-radius: var(--border-radius-md);

  list-style: none;

  > li:not(:last-child) {
    border-bottom: solid 1px var(--border-color);
  }
}

.localeButton {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0;

  text-align: left;

  background-color: var(--white);
  cursor: pointer;

  &:hover {
    background-color: var(--grey-20);
  }
}

.localeMenu > li:first-child > .localeButton {
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.localeMenu > li:last-child > .localeButton {
  border-bottom-right-radius: var(--border-radius-md);
  border-bottom-left-radius: var(--border-radius-md);
}
