.container {
  position: relative;

  height: 0;
  padding-bottom: calc(100% * (9 / 16));
  border-radius: var(--border-radius-md);
  overflow: hidden;

  background-color: #000;

  iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 63;

  width: 68px;
  height: 48px;
  margin-top: -24px;
  margin-left: -34px;
}
