- provide :title, @tournament.name

.container
  = render 'tournaments/header'

.container-fluid
  .content-block
    - if policy(@tournament).update?
      = button_to tournament_qualification_rounds_path(tournament_id: @tournament.id),
                  method: :post,
                  remote: true,
                  class: 'btn btn-default' do
        %i.fa.fa-plus
        Round

    .qualification-table__scrollable
      = render 'qualification_table'
