- provide :title, @tournament.name

.container
  = render 'tournaments/header'

.container
  .content-block
    = button_to tournament_qualification_rounds_path(tournament_id: @tournament.id),
                method: :post,
                remote: true,
                class: 'btn btn-default' do
      %i.fa.fa-plus
      Round

    .row
      .col-sm-12
        = render 'qualification_table'
