- provide :title, @tournament.name
- editable = policy(@tournament).update?

.container
  = render 'tournaments/header'

.container-fluid
  .content-block
    - if editable
      .scoreboard-actions
        = button_to tournament_qualification_rounds_path(tournament_id: @tournament.id),
                    method: :post,
                    remote: true,
                    class: 'btn btn-default' do
          %i.fa.fa-plus
          Round

    - if @tournament.surprise? && !editable
      %h1.text-muted.text-center
        🙅 Let it be a Surprise
    - else
      .scoreboard
        .scoreboard-scroll
          = render 'qualification_table'

    .container
      .row.top-buffer
        = render 'sponsors/list',
                 sponsorable: @tournament,
                 editable: editable
