<% provide :title, @tournament.name %>

<div class="page-wrap">
  <%= render 'tournaments/header' %>
  <%= render 'tournaments/navbar' %>

  <div class="content-block">
    <div class="scoreboard">
      <div class="scoreboard-scroll">
        <%= render 'qualification_table' %>
      </div>
    </div>
  </div>
</div>
