<div class="container">
  <h1>
    <%= link_to @tournament.name, @tournament %>:
    <%= link_to 'Competitors', tournament_competitors_path(tournament_id: @tournament.id) %>:
    Editing
  </h1>

  <%= render 'form' %>

  <%= link_to 'Show', @tournament_competitor %>
</div>
