<%# locals: (label:, rowspan: 1) %>
<td class="pinned-competitor-cell" rowspan="<%= rowspan %>" aria-hidden="true">
  <span class="pinned-competitor pinned-competitor--head">
    <span class="pinned-competitor__text"><%= label %></span>
  </span>
</td>
