.modalBody {
  display: grid;
  grid-gap: 0.75rem;
}

.formRow {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.competitorRow {
  composes: formrow;

  grid-template-columns: 1fr min-content;
}

.input {
  composes: input from '~styles/input.module.scss';

  width: 100%;
  padding: calc(0.5rem - 2px) calc(0.75rem - 2px);

  font-size: 1rem;
}

.primaryButton {
  composes: button from '~styles/button.module.scss';
  composes: primary from '~styles/button.module.scss';

  display: inline-flex;
  margin-right: 0.5rem;
}

.secondaryButton {
  composes: button from '~styles/button.module.scss';

  display: inline-flex;
}

.deleteButton {
  composes: button from '~styles/button.module.scss';
  composes: red from '~styles/button.module.scss';
  composes: outlined from '~styles/button.module.scss';
}

.flatButton {
  composes: button from '~styles/button.module.scss';
  composes: flat from '~styles/button.module.scss';

  width: 2.1875rem;
  height: 2.1875rem;

  border-color: var(--grey-10);

  font-weight: bold;

  background-color: var(--grey-10);
}
