@import 'styles/breakpoints';

.container {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: min-content;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;

  @include lg-screen {
    width: $bp-large;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;

  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
}
