<% url = @category.new_record? ?
           speed_skydiving_competition_categories_path(@event) :
           speed_skydiving_competition_category_path(@event, @category) %>

<%= form_with model: @category, url:, scope: :category,
              data: { controller: 'events--categories-form modal-form', action: 'form:submit-success->modal#close' } do |f| %>
  <div class="sd-form">
    <div class="grid">
      <%= f.label :name, class: 'form-label col-3' %>
      <%= f.text_field :name, class: 'form-input col-9' %>
    </div>

    <div class="form-actions">
      <%= f.submit t('general.save'), class: 'primary-button' %>
    </div>
  </div>
<% end %>
