@import 'styles/breakpoints';

.container {
  padding: 1rem;
  border: solid 1px transparent;
  border-top-color: var(--border-color);
  border-bottom-color: var(--border-color);

  background-color: var(--white);

  @include lg-screen {
    width: calc(1200px - 2rem);
    margin: 0 auto;

    border-right-color: var(--border-color);
    border-left-color: var(--border-color);
    border-radius: var(--border-radius-md);
  }
}
