<% if @suits.wingsuits.any? %>
  <h3 class="suits-index__list-title">Wingsuits</h3>
  <ul class="suits-index__list">
    <% @suits.wingsuits.each do |suit| %>
      <%= render suit %>
    <% end %>
  </ul>
<% end %>

<% if @suits.monotracks.any? %>
  <h3 class="suits-index__list-title">Monotracks</h3>
  <ul class="suits-index__list">
    <% @suits.monotracks.each do |suit| %>
      <%= render suit %>
    <% end %>
  </ul>
<% end %>

<% if @suits.tracksuits.any? %>
  <h3 class="suits-index__list-title">Tracksuits</h3>
  <ul class="suits-index__list">
    <% @suits.tracksuits.each do |suit| %>
      <%= render suit %>
    <% end %>
  </ul>
<% end %>

<% if @suits.slicks.any? %>
  <h3 class="suits-index__list-title">Slicks</h3>
  <ul class="suits-index__list">
    <% @suits.slicks.each do |suit| %>
      <%= render suit %>
    <% end %>
  </ul>
<% end %>
