<li class="suits-index__list-item">
  <div class="suits-index__suit-name">
    <%= link_to suit.name, suit %>
  </div>
  <div class="suits-index__suit-stat text-muted">
    <div class="text-center">
      <%= suit.profiles %>
    </div>
    <div class="text-center">
      pilots
    </div>
  </div>
  <div class="suits-index__suit-stat text-muted">
    <div class="text-center">
      <%= suit.base_tracks %>
    </div>
    <div class="text-center">
      base
    </div>
  </div>
  <div class="suits-index__suit-stat text-muted">
    <div class="text-center">
      <%= suit.skydive_tracks %>
    </div>
    <div class="text-center">
      skydive
    </div>
  </div>
</li>
