.container {
  display: grid;
  grid-template-rows: 2.5rem calc(100% - 2.5rem);
  border-bottom: solid 1px var(--border-color);
  overflow: auto;

  background-color: var(--white);
}

.header {
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
  border-bottom: solid 1px var(--border-color);

  color: var(--grey-50);
  font-weight: 500;
  font-size: 1.25rem;
}

.backLink {
  composes: button from '~styles/button.module.scss';
  composes: flat from '~styles/button.module.scss';
}

.content {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr minmax(30%, 370px);
}
