<li class="organizers__item" id="<%= dom_id(organizer) %>">
  <span><%= organizer.name %></span>
  <% if policy(organizer.organizable).update? && !organizer.organizable.finished? %>
    <%= button_to polymorphic_path([organizer.organizable, organizer]),
                  method: :delete,
                  remote: true,
                  class: 'delete-organizer btn-link' do %>
      <i class="fa fa-times text-muted"></i>
    <% end %>
  <% end %>
</li>
