<div class="modal fade" id="newParticipationFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Войдите или зарегистрируйтесь</h4>
      </div>

      <div class="modal-body">
        <h4>Для участия в соревновании Вам необходимо</h4>
        <%= link_to 'Войти', new_session_path(:user), class: 'button' %>
        или
        <%= link_to 'Зарегистрироваться', new_registration_path(:user), class: 'button' %>
        и иметь полностью заполненный профиль
        <br>
        <%= link_to t('devise.shared.links.sign_in_with_provider', provider: 'Google'), user_google_oauth2_omniauth_authorize_path %>
      </div>
    </div>
  </div>
</div>
