@import '../fonts/*';
@import '../variables';
@import './navbar/navbar';
@import './footer/footer';
@import './layout/fullscreen';
@import './highcharts';
@import './select2';

a {
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

@page {
  size: A4;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}
