@import '../variables';
@import './layout/fullscreen';
@import './highcharts';

a {
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

@page {
  size: A4 landscape;
}

@media print {
  html, body {
    width: 297mm;
    height: 210mm;
  }
}
