@import '../fonts/*';
@import '../variables';
@import './navbar/navbar';
@import './footer/footer';
@import './layout/fullscreen';
@import './highcharts';

a {
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}
