<% editable ||= false %>

<div class="row top-buffer">
  <%= render 'organizers/organizers', organizable: @tournament, editable: editable %>
</div>

<div class="row top-buffer">
  <%= render 'sponsors/sponsors', sponsorable: @tournament, editable: editable %>
</div>
