<div class="event__header">
  <div class="event__title">
    <%= @tournament.name %>
  </div>
  <div class="event__place">
    <i class="fa fa-map-marker-alt"></i>
    <%= @tournament.place.name %>
    <span><%= @tournament.place.country_code %></span>
  </div>
</div>
