<div class="event__header">
  <div class="event__title">
    <%= @tournament.name %>
  </div>
  <div class="event__place">
    <%= icon_tag 'location-dot-solid' %>
    <%= @tournament.place.name %>
    <span><%= @tournament.place.country_code %></span>
  </div>
</div>
