- provide :title, @tournament.name
- editable = policy(@tournament).update?

.tournament-show
  .container= render 'tournaments/header'

  .container
    .content-block
      - if editable
        = add_tournament_round_button(@tournament)

      = render 'scoreboard'

      .container= render 'footer', editable: editable
