<div class="container top-buffer">
  <div class="content-block">
    <h1 class="text-center"><%= @event.name %></h1>
    <div class="text-center">
      <p>
        Speed Skydiving competitions are available on a preview site.
      </p>
      <a href="https://next.skyderby.ru/events/speed_skydiving/<%= @event.id %>" class="btn btn-primary">Go to preview site</a>
    </div>
  </div>
</div>
