@import 'styles/breakpoints';

.container {
  display: flex;

  background-color: var(--white);

  @include lg-screen {
    width: $bp-large;
    margin: 0 auto;
    border-radius: var(--border-radius-md);

    box-shadow: var(--block-box-shadow);
  }
}

.button {
  composes: button from '~styles/button.module.scss';
  composes: flat from '~styles/button.module.scss';

  padding: 0.5rem 0.75rem;
  border-right: var(--default-border);
}

.button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button:not(:first-child) {
  border-radius: 0;
}

.button:not(:disabled):hover {
  border-right: var(--default-border);
}

.pullRight {
  margin-left: auto;
}

.right {
  border-right: 0;
  border-left: var(--default-border);
}

.right:last-child {
  border-top-right-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
}

.right:not(:disabled):hover {
  border-right: 0;
  border-left: var(--default-border);
}
