.title {
  margin: 0.25rem 0;

  color: var(--grey-80);
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.list {
  display: flex;
  justify-content: center;
}
