@import 'styles/breakpoints';

.pageContainer {
  width: 100%;
  margin: 0 auto;

  @include lg-screen {
    max-width: $bp-large;
  }
}

.formContainer {
  width: 100%;
  padding: 1rem;
  border: solid 1px transparent;
  border-top-color: var(--border-color);
  border-bottom-color: var(--border-color);

  background-color: var(--white);

  @include lg-screen {
    border-right-color: var(--border-color);
    border-left-color: var(--border-color);
  }
}

.form {
  position: relative;

  display: grid;
  grid-gap: 0.75rem 0;
  grid-template-columns: 1rem 3fr 7fr 15rem;
  padding-top: 1rem;

  hr {
    grid-column: 1/5;
  }
}

.altitudeRangeContainer {
  grid-column: 1/5;
}

.label {
  composes: formLabel from 'styles/label.module.scss';

  grid-column: 2;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.footer {
  display: flex;
  grid-column: 1/5;
  justify-content: space-between;

  button:not(:last-child) {
    margin-right: 1rem;
  }
}

.primaryButton {
  composes: button from '~styles/button.module.scss';
  composes: primary from '~styles/button.module.scss';
}

.secondaryButton {
  composes: button from '~styles/button.module.scss';
}

.dangerButton {
  composes: button from '~styles/button.module.scss';
  composes: red from '~styles/button.module.scss';
}

.backLink {
  composes: button from '~styles/button.module.scss';
  composes: flat from '~styles/button.module.scss';
}

.input {
  composes: input from '~styles/input.module.scss';
  composes: outlined from '~styles/input.module.scss';
}
