<table class="table table-hover">
  <thead>
  <tr>
    <th>№</th>
    <th>Участник</th>
    <th>Класс</th>
    <th>Вингсьют</th>
  </tr>
  </thead>
  <tbody>
  <% @event.competitors.each_with_index do |t, index| %>
    <tr class='clickableRow' style="cursor: pointer" data-url="#">
      <td class='text-info'><%= index + 1 %></td>
      <td class='text-info'><%= t.user.user_profile.name %></td>
      <td class='text-info'>Advanced</td>
      <td class='text-info'>Ghost 3</td>
    </tr>
  <% end %>
  </tbody>
</table>