<h3 class="text-danger">Не обработанные заявки</h3>
<div class="top-buffer">
  <% @event.participation_forms.where(:status => 'active').each do |pf| %>
    <%= render :partial => 'participation_form', locals: {pf: pf} %>
  <% end %>
</div>

<h3 class="text-info">Обработанные заявки</h3>
<div class="top-buffer">
  <% @event.participation_forms.where.not(:status => 'active').each do |pf| %>
    <%= render :partial => 'participation_form', locals: {pf: pf} %>
  <% end %>
</div>