.modal.fade#progress-modal{tabindex: '-1', role: 'dialog', aria: {labelledby: 'myModalLabel', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-body
        .container-fluid
          .col-sm-12.progress-tab
            .progress
              .progress-bar{role: 'progressbar', aria: {valuenow:"0", valuemin:"0", valuemax:"100"}, style:"width: 0%;"}
                %span.sr-only
                  = '0% Complete'
            .text-center
              = 'Uploading'
          .col-md-12.text-center.process-tab
            .process
              %i.fa.fa-3x.fa-circle-o-notch.fa-spin
              .process-caption
                = 'Processing'

