%h2= 'Раунды'

%table.table.table-hover
  %thead
    %tr
      %th= t('rounds.name')
      %th= t('rounds.discipline')
  %tbody#rounds_table_body
  - @event.rounds.each do |t|
    = render :partial => 'round', locals: {round: t }

%button.btn.btn-default{:data => {:toggle => 'modal', :target => '#newRoundEventModal'}}= t('general.create')

%hr