<tr class='clickableRow' style="cursor: pointer">
  <td class='text-info'><%= round.discipline %></td>
  <td class='text-info'><%= round.name %></td>
  <td class='text-info'>Редактировать Удалить</td>
</tr>
