.modal.fade#section-form-modal{:tabindex => '-1', :role => 'dialog', :aria => {:labelledby => 'myModalLabel', :hidden => 'true'}}
  .modal-dialog
    .modal-content
      %form.form-horizontal#section-form{:action => '#', :role => 'form'}
        %input#section-id{:type => 'hidden'}

        .modal-header
          %button.close{:type => 'button', :data => {:dismiss => 'modal'}}
            %span{:aria => {:hidden => 'true'}}
              &times;
            %span.sr-only
              Close
          %h4.modal-title#section-form-modal-title= ''

        .modal-body
          .form-group
            %span.col-sm-3.control-label= 'Class:'
            .col-sm-9
              %input.form-control#section-name

        .modal-footer
          %input.btn.btn-primary#submit-section-form{type: 'submit', value: "#{t 'general.save'}"}
          %button.btn.btn-default{:type => 'button', :data => {:dismiss => 'modal'}}= t 'general.cancel'

