- provide :title, @event.name

.fullscreen-container
  .fullscreen-header
    = render 'events/edit_header'

  .fullscreen-body
    .fullscreen-sidebar.fullscreen-sidebar--small
      = render 'events/edit_sidebar'
    .fullscreen-main-area
      = render 'form', allow_change_rules: false
