<%= turbo_stream.update 'competitions-list' do %>
  <% @events.each do |event_entity| %>
    <%= render event_entity.event %>
  <% end %>

  <% if @events.total_pages > 1 %>
    <div class="text-center">
      <div class="pagination">
        <%= paginate @events %>
      </div>
    </div>
  <% end %>
<% end %>
