.container.top-buffer

  %h2= t 'static_pages.index.events.completed'
  %table.table.table-hover
    %tbody
      - Event.all.each do |e|
        %tr.clickableRow{:data => {:url => event_path(:id => e.id)}}
          %td.text-info= e.name

  - if user_signed_in?
    %a.btn.btn-default{:href => new_event_path}
      = t 'static_pages.index.events.create'