.container.top-buffer

  - if current_user
    = link_to(new_event_path, remote: true, class: 'btn btn-default btn-info') do
      %i.fa.fa-plus
      = 'Competition'
  - else
    %span= 'Creating classic competitions available only for registered users.'

  %ul.comp-list
    - @events.each do |comp|
      = render comp
