.fullscreen-container
  .fullscreen-header
    = link_to @event, class: 'btn-back' do
      %i.fa.fa-chevron-left
      = @event.name
    \//
    = t('events.show.round_map_view')

  .fullscreen-body{'data-controller': 'events--round-replay',
                   'data-event-id': @event.id,
                   'data-round-id': @round.id}
