<% display_raw ||= false %>
{
  chart: {
    type: 'spline',
    marginLeft: 0,
    marginRight: 0,
    events: {
      load: function() {
        Skyderby.helpers.chart_load_callback('glide_ratio_chart_', this.series);
      }
    }
  },
  title: {
    style: { 'color': "#666", "fontSize": "14px" },
    text: '<%= t('charts.gr.title') %>'
  },
  plotOptions: {
    spline: {
      marker: {
        enabled: false
      }
    },
    series: {
      marker: {
        radius: 1
      },
      events: {
        legendItemClick: function() {
          localStorage.setItem('glide_ratio_chart_' + this.options.code, !this.visible);
        }
      }
    }
  },
  tooltip: {
    crosshairs: true,
    shared: true,
    valueDecimals: 2,
    pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: <b>{point.options.true_value}</b><br/>'
  },
  yAxis: {
    min: 0,
    max: 7.5,
    startOnTick: false,
    endOnTick: false,
    minPadding: 0.2,
    maxPadding: 0.2,
    tickInterval: 1,
    title: {
      text: null
    },
    labels: {
      x: 20,
      y: -2,
      formatter: function() {
        return this.isLast ? '≥ 7' : this.value;
      }
    }
  },
  credits: {
    enabled: false
  },
  legend: {
    itemStyle: {
      fontSize: '10px'
    }
  },
  series: [{
    name: I18n.t('charts.gr.series.gr'),
    code: 'gr',
    tooltip: {
      valueSuffix: ''
    },
    zones: [{
      value: 0.1,
      color: 'red'
    }, {
      value: 6.8,
      color: '#37889B'
    }, {
      color: 'red'
    }],
    color: '#37889B',
    zIndex: 2
  }
  <% if @track_presenter.wind_cancelation? %>
    ,{
      name: I18n.t('charts.gr.series.wind_effect'),
      code: 'gr_wind_effect',
      type: 'arearange',
      color: 'rgba(63, 136, 167, 0.3)',
      lineWidth: 1,
      dashStyle: 'ShortDash',
      tooltip: {
        pointFormatter: function() {
          var wind_adjust = (this.high - this.low).toFixed(2);
          var wind_adjust_str = wind_adjust > 0 ? "+" + wind_adjust : wind_adjust;
          return '<span style="color:' + this.series.color + '">●</span> ' + this.series.name + ': <b>' + wind_adjust_str + ' </b>';
        }
      }
    },
  <% end %>

  <% if display_raw %>
      ,{
    name: I18n.t('charts.gr.series.raw_gr'),
    type: 'line',
    color: '#A6CDCE',
    lineWidth: 7,
    enableMouseTracking: false,
    zIndex: 1,
    visible: false
      }
    <% end %>
  ]
}
