.round-map {

  height: 100%;

  #round-map {
    height: 90vh;
    min-height: 100%;
    width: 100%;
    position: relative;
  }

  .round-map-loading {
      background-color: rgba(255, 255, 255, 0.87);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1142;
      text-align: center;
      top: 0;
      bottom: 0;
      padding-top: 200px;
  }
  
  .round-competitors-wrap {
    width: 33%;
    overflow-y: scroll;	
  }

  .round-competitors__list-commands {
    padding: 7px 0;
  }

  table.round-competitors {

    tr.disabled {
      color: rgb(221, 221, 221);
    }

    tr > td:nth-child(1) {
      width: 25px;
    }

    td.round-map-competitor {
        padding-left: 7px;
    }

  }

}

.round-competitors__direction {
  max-width: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.round-competitors__group-row {
  font-weight: bold;
  color: #666;
  cursor: pointer;
}

// parent selector specified to overwheight bootstrap style
table.round-competitors td.round-competitors__check {
  padding-left: 10px;
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -820px 0
  }
  100%{
    background-position: 820px 0
  }
}

.round-map__legend-item {
  padding-top: 10px;
}

.round-map__legend-item > i.fa {
  font-size: 10px;
}

.round-map--start-window-color {
  color: #fc235e;
}

.round-map--end-window-color {
  color: #60ad42;
}

.round-map__animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #fff 8%, #dddddd 18%, #fff 33%);
  background-size: 800px 400px;
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.round-map__animation {
  position: relative;
  min-height: 400px;
}
