.index-header {
  position: relative;
  min-height: 200px;
  height: 40vh;
  margin-top: 0px;
  background-image: asset-url('index_header_bg.jpg');
  background-size: cover;
  background-position: center center;

  img {
    width: 100%;
    max-height: 400px;  
  }
}

.index-header-caption {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: rgba(121, 85, 72, 0.3);

  padding: 10px;

  text-align: center;

  p {
    color: white;
  }

  .index-subtitle {
    font-size: 30px;
    line-height: 36px;
  }
}

.description {
  margin: 15px;
  text-align: center;
}

.description__title {
  font-weight: bold;
  font-size: 1.3em;
}
