.online-competition {
  padding-top: 5px;
}

.online-competition__header {
  font-family: $fallback-fonts;
  font-size: 24px;
  line-height: 1.45;
  padding-left: 15px;
  padding-right: 15px;
}

.online-competition__subheader {
  color: lighten($main-text-color, 20%);
  font-family: $fallback-fonts;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.online-competition__table {
  margin-top: 20px;
  background-color: white;
}

.online-competition__personal-score {
  color: $table-text-color;
  font-family: $fallback-fonts;
  font-size: 18px;

  .td { vertical-align: middle; }
}

.online-competition__personal-score .td:nth-of-type(1) {
  border-left: transparent solid 5px;
}

.online-competition__personal-score:nth-of-type(1) .td:nth-of-type(1){
  border-left-color: $gold;
}

.online-competition__personal-score:nth-of-type(2) .td:nth-of-type(1){
  border-left-color: $silver;
}

.online-competition__personal-score:nth-of-type(3) .td:nth-of-type(1){
  border-left-color: $bronze;
}

.online-competition__rank {
  font-family: $fallback-fonts;
  font-size: 24px;
  color: rgba($table-text-color, 0.8);
}

.online-competition__profile {
  font-family: $fallback-fonts;
  font-size: 16px;
}

.online-competition__suit-place {
  font-size: 10px;
}

.online-competition__bests {
  font-size: 10px;
  color: rgba($table-text-color, 0.7);
}
