.online-competition-group {
  background-color: white;
  border: rgba(0, 0, 0, 0.14) solid 1px;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}

.online-competition-group__header {
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  padding-left: 5px;
}
