@import 'styles/breakpoints';

.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: min-content min-content 1fr min-content;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;

  @include lg-screen {
    grid-template-rows: min-content min-content max-content min-content;
    width: $bp-large;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;

  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
}

.activityLink {
  position: relative;

  padding: 0.5rem;
  border-radius: var(--border-radius-md);

  color: var(--grey-70);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: none;

  outline: none;

  &:hover,
  &:focus {
    color: var(--grey-70);
  }

  &[data-active='true'] {
    color: var(--blue-grey-70);

    &:hover,
    &:focus {
      color: var(--blue-grey-70);
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;
      height: 3px;

      background-color: var(--blue-grey-70);
      opacity: 0.9;

      content: '';
    }
  }

  :not(:last-child) {
    margin-right: 0.25rem;
  }

  &:not([data-active='true']) {
    &:hover,
    &:focus {
      background-color: var(--grey-30);
    }
  }
}
