<% copyable = sponsorable.is_a? PerformanceCompetition %>

<% if sponsorable.sponsors.any? || editable %>
  <div class="sponsors" id="sponsors">
    <h4 class="sponsors-title"><%= t('sponsors.list.event_sponsors') %></h4>

    <div class="sponsors-list">
      <%= render partial: 'sponsors/sponsor', collection: sponsorable.sponsors, as: :sponsor, locals: { editable: editable } %>
    </div>

    <% if editable %>
      <div>
        <%= new_sponsor_link(sponsorable) %>
        <% if copyable %>
          <%= copy_sponsors_link(sponsorable) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
