%table.table.table-bordered.tournament-competitors-table
  %thead
    %tr
      %th
        \#
      %th{colspan: 2}
        Profile
      %th
        Suit
      %th

  %tbody
    = render @competitors
