.container-fluid
  .col-sm-12{'data-controller': 'tournaments--match-globe',
             'data-url': url_for,
             'data-action': 'cesium_api:ready@window->tournaments--match-globe#onCesiumReady cesium_api:failed@window->tournaments--match-globe#onCesiumFailed'}
    #match-globe{'data-target': 'tournaments--match-globe.viewer'}
      #track-map-loading.text-muted{'data-target': 'tournaments--match-globe.loadingProgress'}
        #track-map-loading-api.fa-2x
          %i.fa.fa-fw.fa-spin.fa-circle-notch{'data-target': 'tournaments--match-globe.cesiumStatus'}
          Loading Cesium API
        #track-map-loading-data.fa-2x
          %i.fa.fa-fw.fa-spin.fa-circle-notch{'data-target': 'tournaments--match-globe.dataStatus'}
          Loading map data

  .center-block.text-center.top-buffer
    - @match_map.competitors.each do |competitor|
      %span
        %i.fa.fa-fw.fa-circle{style: "color: #{competitor.color}"}
        %span= competitor.name
