.online-competition-leaderboard {
  display: flex;
  justify-content: space-between;
}

.online-competition-leaderboard--horizontal {
  flex-direction: row;
  margin: 20px -15px;
}

.online-competition-leaderboard--vertical {
  flex-direction: column;
  margin: 0 15px;
}
