.track-header {
  padding: 15px 10px 0 10px;

  display: flex;
  justify-content: flex-start;
}

.track-header__photo {
  padding-right: 10px;

  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
}

.track-header__row:first-child {
  line-height: 30px;
}

.track-header__row {
  white-space: nowrap;
}

.track-header__pilot-name {
  font-size: 18px;
}

.track-header__suit {
  font-size: 12px;

  &:before {
    content: $icon-wingsuit;
    font: 10px $application-icon-font;
    color: #999;
    padding-right: 3px;
  }
}

.track-header__place {
  font-size: 12px;
  margin-right: 10px;

  &:before {
    content: $icon-location;
    font: 10px $application-icon-font;
    color: #999;
    padding-right: 3px;
  }
}

.track-header__actions {
  margin-left: auto;
}
