.tracks-index {
  margin-top: 70px;
  padding: 5px;
}

.tracks-index__table-container {
  background-color: white;
  border: rgba(0, 0, 0, 0.14) solid 1px;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.tracks-index__pagination {
  text-align: center;
  margin-top: 15px;
}
