.tracks-filters {
  display: flex;
  flex-direction: column;

  @media (min-width: $bp-medium) {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
  }
}

.tracks-filters__modal-footer {
  text-align: justify;

  .btn {
    width: 48%;
  }
}
