.track-indicators__column {
  padding-left: 8px;
  padding-right: 8px;
  flex-basis: 0;
  flex-grow: 1;
  overflow-x: hidden;
}

.track-indicators__indicator {
  margin-top: 10px;
  margin-bottom: 2px;

  &:first-child {
    margin-top: 10px;
  }
}

.track-indicators__param {
  font-size: 14px;
}
