.track-upload {
  padding: 20px 0;
}

.track-upload__title {
  padding: 0px 20px;
  margin-bottom: 15px;
  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
}

.track-upload__form {
  padding: 20px;
  margin-bottom: 15px;
}
