production:
  slack_webhook_url: 'https://your.slack.webhook.url'
  slack_channel: '#your_slack_channel'
  smtp_address: 'your.smtp.address'
  smtp_port: '25'
  smtp_domain: 'your.smtp.damain'
  smtp_user_name: 'your.user_name'
  smtp_password: 'your.password'
