<div class="upload-progress" style="display: none" data-controller="upload-progress">
  <div class="spinner" data-upload-progress-target="spinner">
    <%= icon_tag 'circle-notch-solid', class: 'icon-3x icon-spin' %>
  </div>
  <div class="done-indicator" data-upload-progress-target="done" style="display: none">
    <%= icon_tag 'check-solid', class: 'icon-3x text-success' %>
  </div>
  <div class="upload-comment" data-upload-progress-target="comment">
    <span>Uploading...</span>
    <span class="progress-count"></span>
  </div>
</div>
