.type {
  padding: 2px 7px;
  border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);

  color: rgba(0, 0, 0, 0.55);
  text-transform: capitalize;
}

.value {
  display: flex;
  align-items: center;
  padding: 2px 0 2px 7px;
  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;

  color: rgba(0, 0, 0, 0.85);
}

.container {
  --token-color: 230, 230, 230;
  --type-alpha: 0.55;
  --value-alpha: 0.75;
  display: flex;

  cursor: default;

  :hover {
    --type-alpha: 0.8;
    --value-alpha: 1;
  }

  > :not(:last-child) {
    margin-right: 1px;
  }

  .type {
    background-color: rgba(var(--token-color), var(--type-alpha));
  }

  .value {
    background-color: rgba(var(--token-color), var(--value-alpha));
  }
}

.placeContainer {
  --token-color: 160, 230, 210;
  composes: container;
}

.profileContainer {
  --token-color: 160, 210, 230;
  composes: container;
}

.suitContainer {
  --token-color: 230, 210, 160;
  composes: container;
}

.deleteButton {
  padding: 0 7px;
  border: 0;

  background-color: transparent;
  outline: none;
  cursor: pointer;

  svg {
    height: 0.75em;

    fill: rgba(0, 0, 0, 0.55);
  }

  &:hover {
    svg {
      fill: rgba(0, 0, 0, 0.85);
    }
  }
}
