@import 'styles/breakpoints';

.container {
  width: 100%;
  margin: 4rem auto auto;
  padding: 4rem 2rem;

  text-align: center;

  background-color: var(--white);
  box-shadow: var(--block-box-shadow);

  @include sm-screen {
    max-width: $bp-small;
    padding: 4rem;
    border-radius: var(--border-radius-lg);
  }
}

.title {
  margin: 0;
  padding: 0;

  color: var(--grey-70);
  font-weight: bold;
  font-size: 5rem;
}

.description {
  color: var(--grey-80);
  font-weight: 500;
  font-size: 2rem;
}

.primaryButton {
  composes: button from '~styles/button.module.scss';
  composes: cta from '~styles/button.module.scss';
  composes: sizeLg from '~styles/button.module.scss';

  display: inline-flex;
}
