<%# locals: (ranking:) %>
<% competition = ranking.competition %>
<% current_params = request.path_parameters.merge(request.query_parameters.symbolize_keys) %>

<div class="card actions-bar vc-actions-bar" id="actions-bar">
  <div class="vc-actions-bar__filters">
    <% if ranking.jump_kind_options.any? %>
      <div class="tab-bar tab-bar--jump-kind">
        <% ranking.jump_kind_options.each do |kind| %>
          <%= link_to t("virtual_competitions.show.jump_kinds.#{kind || 'all'}"),
                      url_for(current_params.merge(jump_kind: kind, page: nil)),
                      class: class_names('tab-bar-item', 'active' => ranking.jump_kind == kind) %>
        <% end %>
      </div>
    <% end %>

    <div class="tab-bar tab-bar--gender">
      <% ranking.gender_options.each do |gender| %>
        <%= link_to t("virtual_competitions.show.genders.#{gender || 'open'}"),
                    url_for(current_params.merge(gender: gender, page: nil)),
                    class: class_names('tab-bar-item', 'active' => ranking.gender == gender) %>
      <% end %>
    </div>
  </div>

  <% if competition.comparable_in_pro_view? %>
    <%= render 'application/track_compare',
               scope: 'virtual_competitions.compare',
               form_url: virtual_competition_comparison_path(competition),
               attention: !Current.subscription_active?,
               extra_hidden: { result_competition_id: competition.id } %>
  <% end %>
</div>
