:ruby
  orientation ||= 'horizontal'
  orientation_class = "online-competition-leaderboard--#{orientation}"

.online-competition-leaderboard{class: orientation_class}
  - leaders.each do |leader_result|
    = render 'virtual_competitions/winner', result: leader_result
