.panel.panel-winner
  .panel-body
    .row
      .col-sm-4.col-md-4
        = image_tag(result.profile.userpic.url(:medium), 
                    class: 'img-responsive img-rounded')
      .col-sm-8.col-md-8
        %a.vc-profile-name{href: profile_path(result.profile), 
          data: {toggle: 'tooltip'}, 
          title: t('virtual_competitions.show.show_profile')}
          = result.profile.name.titleize
        %div
          %a.vc-result-link{href: track_path(result.track_id), 
              data: {toggle: 'tooltip'}, 
              title: t('virtual_competitions.show.show_details')}
            %span.vc-result= format_result(result.result, result.virtual_competition)
            %span.vc-unit= competition_unit(result.virtual_competition)
