<div class="online-competitions-index">
  <div class="page-title">
    <%= t('application.header.online_competitions') %>
  </div>
  <% @competitions.each do |group, competitions| %>
    <div class="online-competition-group">
      <h3 class="online-competition-group__header"><%= group %></h3>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Task</th>
          </tr>
        </thead>
        <tbody>
          <%= render competitions %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
