<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <h4 class="modal-title">
        <%= event_result_presentation(@result) %>
      </h4>
    </div>

    <div class="modal-body">
      <div class="container-fluid">
        <%= render 'events/results/header' %>
        <hr class="condensed">
      </div>
      <%= yield %>
    </div>
  </div>
</div>
