.events-rounds-map{'data-target': 'events--round-map.map events--designated-lane.map'}
  .round-map-loading{'data-target': 'events--round-map.loading_placeholder'}
    %i.fa.fa-3x.fa-circle-notch.fa-spin
    %p
      Loading...
    .col-sm-4.round-competitors-wrap

= render 'events/maps/legend'
