<%# locals: (individual_standings:, event:, editable:) %>
<% competitor = individual_standings.competitor %>
<% if individual_standings %>
  <td class="competitor">
    <%= link_to competitor.profile.name, profile_path(competitor.profile), class: 'competitor-profile' %>
    <% if editable %>
      <div class="cell-actions">
        <div class="sd-dropdown" data-controller="dropdown">
          <button class="dropdown-toggle ghost-button small-button" data-action="click->dropdown#toggle">
            <%= svg_icon 'ellipsis-vertical-solid' %>
          </button>

          <template data-dropdown-target="menu">
            <div class="sd-dropdown-menu">
              <%= button_to 'Remove from team', performance_competition_team_competitor_path(event, competitor),
                            class: 'dropdown-item',
                            method: :delete, form: { data: { turbo_stream: true, confirm: 'Remove competitor from team?' } } %>
            </div>
          </template>
        </div>
      </div>
    <% end %>
  </td>
  <td class="text-right"><%= individual_standings.total_points %></td>
<% else %>
  <td colspan="2">-</td>
<% end %>
