<% editable = @event.editable? %>
<%= turbo_stream_from @event, :teams, editable ? :editable : :read_only %>

<div class="show-page">
  <%= render 'events/header', editable: %>

  <div class="show-page-content">
    <% if editable || @event.wind_cancellation %>
      <%= render 'actions_bar', event: @event  %>
    <% end %>

    <%= render 'scoreboard', event: @event, editable: editable && !@event.finished?, wind_cancellation: @wind_cancellation %>
  </div>
</div>
