<% provide :title, @event.name %>
<% can_manage = policy(@event).update? %>

<div class="show-page">
  <%= render 'events/header', editable: can_manage %>

  <% if !@event.surprise? || can_manage %>
    <div
      class="show-page-content"
      data-controller="events--teams-competition"
      data-event-id="<%= @event.id %>"
      data-editable="<%= can_manage %>"
    ></div>
  <% else %>
    <h1 class="text-muted text-center">
      🙅 Let it be a Surprise
    </h1>
  <% end %>
</div>
