<div class="row">
  <div class="col-sm-12">
    <%= link_to new_place_finish_line_path(@place), class: 'button' do %>
      <%= icon_tag 'plus-solid' %>
      Add
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <%= render collection: @finish_lines, partial: 'places/finish_lines/finish_line' %>
</div>
