<div class="row">
  <div class="col-sm-12">
    <%= link_to new_place_finish_line_path(@place), class: 'btn btn-default' do %>
      <i class="fa fa-plus"></i>
      Add
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <%= render collection: @finish_lines, partial: 'places/finish_lines/finish_line' %>
</div>
