<div class="container">
  <%= link_to place_finish_lines_path(@place), class: 'btn-back' do %>
    <%= icon_tag 'angle-left-solid' %>
    <%= @place.name %>
    // Finish line
  <% end %>
</div>

<div class="content-block">
  <%= render 'form' %>
</div>
