.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: min-content max-content;
}

.scoreboardContainer {
  composes: container from '~styles/scoreboard';
}

.tableWrapper {
  composes: tableWrapper from '~styles/scoreboard';
}

.scoreboardTable {
  composes: table from '~styles/scoreboard';
}

.category {
  font-weight: 500;
  text-transform: capitalize;
}

.alignRight {
  text-align: right;
}

.result {
  color: var(--text-color);
}
