.menu {
  margin: 0;
  padding: 0;

  > :not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.separator {
  margin-bottom: 1rem;
}

.linkContent {
  padding-left: 0.5rem;
  border-left: solid 3px transparent;
}

.link {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-sm);

  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--grey-20);
  }

  &:global(.active) {
    .linkContent {
      border-left-color: var(--blue-30);
    }
  }
}

.title {
  border-left: solid 1px transparent;

  color: var(--grey-80);
  font-weight: 500;
  font-size: 1.125rem;
}

.subtitle {
  color: var(--grey-70);
}
