<% provide :title, @event.name %>
<% editable = @event.editable? %>

<div class="show-page">
  <%= render 'events/header', editable: %>

  <div class="show-page-content">
    <h1 class="text-muted text-center">No rounds information yet</h1>
  </div>
</div>
