@import 'styles/breakpoints.scss';

.button {
  --background-color: var(--white);
  --border-color: var(--grey-30);
  --text-color: var(--grey-70);
  --outline-color: var(--blue-60-rgb);
  --active-background-color: var(--white);
  --active-border-color: var(--blue-60);
  --active-text-color: var(--blue-60);

  appearance: none;
  align-items: center;
  background-color: var(--background-color);
  border-radius: var(--border-radius-md);
  border: solid 1px var(--border-color);
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  font-weight: normal;
  line-height: normal;
  outline: none;
  padding: 0.25rem 0.75rem;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, background-color, border-color, color;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--outline-color), var(--outline-opacity));
  }

  &:disabled {
    opacity: 0.3;
  }

  @include sm-screen {
    font-size: 1rem;

    &:not(:disabled):hover {
      background-color: var(--active-background-color);
      border-color: var(--active-border-color);
      color: var(--active-text-color);

      svg path {
        fill: var(--active-text-color);
      }
    }
  }

  >:not(:last-child) {
    margin-right: 0.25rem;
  }

  svg {
    height: 0.875em;

    path {
      fill: var(--text-color);
      transition-duration: 0.25s;
      transition-timing-function: ease-in-out;
      transition-property: fill;
    }
  }
}

.rounded {
  border-radius: 1.5em;
}

.sizeLg {
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
}

.sizeXs {
  border-width: 1px;
  font-size: 1rem;
  line-height: 1.5;
  padding: 3px 1em 1px;

  @include sm-screen {
    font-size: 0.75rem;
  }
}

.cta {
  composes: rounded;

  --background-color: var(--blue-50);
  --border-color: var(--blue-50);
  --text-color: var(--white);
  --active-background-color: var(--blue-60);
  --active-border-color: var(--blue-60);
  --active-text-color: var(--white);

  box-shadow: 0 3px 7px var(--box-shadow-color);

  @include sm-screen {
    &:not(:disabled):hover,
    &:focus {
      box-shadow: 0 5px 10px var(--box-shadow-color);
    }
  }
}

.red {
  --background-color: var(--red-70);
  --border-color: var(--red-70);
  --text-color: var(--white);
  --outline-color: var(--red-70-rgb);
  --active-background-color: var(--red-80);
  --active-border-color: var(--red-80);
  --active-text-color: var(--white);

  &.outlined {
    --background-color: var(--white);
    --text-color: var(--red-70);
    --active-background-color: var(--white);
    --active-border-color: var(--red-80);
    --active-text-color: var(--red-80);
  }
}

.primary {
  --background-color: var(--green-40);
  --border-color: var(--green-40);
  --text-color: var(--white);
  --outline-color: var(--green-50-rgb);
  --active-background-color: var(--green-50);
  --active-border-color: var(--green-50);
  --active-text-color: var(--white);
}

.flat {
  --background-color: transparent;
  --border-color: transparent;
  --text-color: var(--grey-50);

  --active-background-color: var(--grey-20);
  --active-border-color: transparent;
  --active-text-color: var(--grey-70);
}

.active {
  --text-color: var(--active-text-color);
  --border-color: var(--active-border-color);
  --background-color: var(--active-background-color);
}

.fab {
  composes: button;
  composes: cta;

  align-items: center;
  border-radius: 100%;
  box-shadow: 0 5px 10px var(--box-shadow-color);
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;

  svg {
    height: 1.25rem;
    width: 1.25rem;
  }
}
