@import 'styles/breakpoints';

.button {
  --background-color: var(--white);
  --border-color: var(--grey-40);
  --text-color: var(--grey-70);
  --outline-color: var(--blue-80-rgb);
  --active-background-color: var(--white);
  --active-border-color: var(--blue-80);
  --active-text-color: var(--blue-80);

  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.75rem;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius-md);

  color: var(--text-color);
  font-weight: normal;
  line-height: normal;
  text-align: center;
  text-decoration: none;

  background-color: var(--background-color);
  outline: none;
  cursor: pointer;

  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-property: box-shadow, background-color, border-color, color;

  appearance: none;

  @include sm-screen {
    font-size: 1rem;

    &:not(:disabled):hover {
      border-color: var(--active-border-color);

      color: var(--active-text-color);

      background-color: var(--active-background-color);

      svg path {
        fill: var(--active-text-color);
      }
    }
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--outline-color), var(--outline-opacity));
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  >:not(:last-child) {
    margin-right: 0.25rem;
  }

  svg {
    height: 0.875em;

    path {
      transition-timing-function: ease-in-out;
      transition-duration: 0.25s;
      transition-property: fill;

      fill: var(--text-color);
    }
  }
}

.rounded {
  border-radius: 1.5em;
}

.sizeLg {
  padding: 0.5rem 1.5rem;

  font-size: 1.25rem;
}

.sizeXs {
  padding: 3px 1em 1px;
  border-width: 1px;

  font-size: 1rem;
  line-height: 1.5;

  @include sm-screen {
    font-size: 0.75rem;
  }
}

.cta {
  --background-color: var(--blue-90);
  --border-color: var(--blue-90);
  --text-color: var(--white);
  --active-background-color: var(--blue-80);
  --active-border-color: var(--blue-80);
  --active-text-color: var(--white);

  composes: rounded;

  box-shadow: 0 3px 7px var(--box-shadow-color);

  @include sm-screen {
    &:focus,
    &:not(:disabled):hover {
      box-shadow: 0 5px 10px var(--box-shadow-color);
    }
  }
}

.red {
  --background-color: var(--red-70);
  --border-color: var(--red-70);
  --text-color: var(--white);
  --outline-color: var(--red-70-rgb);
  --active-background-color: var(--red-90);
  --active-border-color: var(--red-90);
  --active-text-color: var(--white);
}

.primary {
  --background-color: var(--green-90);
  --border-color: var(--green-90);
  --text-color: var(--white);
  --outline-color: var(--green-80-rgb);
  --active-background-color: var(--green-80);
  --active-border-color: var(--green-80);
  --active-text-color: var(--white);
}

.outlined {
  --background-color: var(--white);
  --text-color: var(--border-color);
  // TODO: check other buttons in stylebook
  //--active-background-color: var(--white);
  //--active-text-color: var(--active-border-color);
}

.flat {
  --background-color: transparent;
  --border-color: transparent;
  --text-color: var(--grey-70);
  --active-background-color: var(--grey-30);
  --active-border-color: transparent;
  --active-text-color: var(--grey-70);
}

.active {
  --text-color: var(--active-text-color);
  --border-color: var(--active-border-color);
  --background-color: var(--active-background-color);
}

.fab {
  composes: button;
  composes: cta;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75em;
  height: 1.75em;
  padding: 0;
  border-radius: 100%;

  font-size: 1.5rem;

  box-shadow: 0 5px 10px var(--box-shadow-color);

  svg {
    width: 1em;
    height: 1em;
  }
}
