@import 'styles/fonts';
@import '~normalize.css';

:root {
  --blue-grey-90: #252f3c;
  --blue-grey-80: #42546b;
  --blue-grey-70: #567888;
  --blue-grey-60: #75a4ba;
  --blue-90: #007bbd;
  --blue-70: #39c0ff;
  --blue-80-rgb: 0, 167, 255;
  --blue-80: rgb(var(--blue-80-rgb));
  --red-70-rgb: 255, 94, 94;
  --red-70: rgb(var(--red-70-rgb));
  --red-90-rgb: 214, 30, 30;
  --red-90: rgb(var(--red-90-rgb));
  --green-80-rgb: 52, 158, 52;
  --green-80: rgb(var(--green-80-rgb));
  --green-70-rgb: 92, 184, 92;
  --green-70: rgb(var(--green-70-rgb));
  --green-90-rgb: 45, 134, 45;
  --green-90: rgb(var(--green-90-rgb));
  --grey-90: #333;
  --grey-80: #565656;
  --grey-70: #737373;
  --grey-60: #949494;
  --grey-40: #d3d3d3;
  --grey-30: #eee;
  --grey-20: #f3f3f3;
  --grey-10: #fafafa;
  --white: #fff;
  --border-color: var(--grey-40);
  --default-border: solid 1px var(--grey-40);
  --text-color: var(--grey-90);
  --border-radius-lg: 1rem;
  --border-radius-md: 0.5rem;
  --border-radius-sm: 0.375rem;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --block-box-shadow: 0 0 3px var(--box-shadow-color);
  --outline-opacity: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  color: var(--grey-90);
  font-family:
    'Proxima Nova',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';

  background-color: var(--grey-10);
}

.modalShown {
  overflow: hidden;
}

.keyboardNavigation {
  --outline-opacity: 0.5;
}

a {
  text-decoration: none;
}

hr {
  height: 0;
  margin: 1.25rem 0;
  border: 0;
  border-top: solid 1px var(--grey-30);
}

form {
  margin: 0;
}

label {
  color: var(--grey-80);
  font-weight: 500;
}

table {
  width: 100%;

  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem;
  }

  thead {
    font-weight: 500;

    th {
      padding: 0.5rem 1rem;
      border-bottom: solid 2px var(--border-color);

      color: var(--grey-70);
      white-space: nowrap;
    }
  }

  tbody {
    td {
      border-bottom: solid 1px var(--border-color);
    }
  }
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
