.input {
  background-color: var(--grey-10);
  border: solid 2px var(--grey-10);
  border-radius: var(--border-radius-md);
  color: var(--grey-90);
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 0.875rem;
  line-height: normal;
  padding: 0.5rem 0.75rem;
  transition: background-color 150ms linear;
  width: 100%;
  -webkit-appearance: none;

  &:focus {
    border-color: var(--blue-50);
    background-color: var(--grey-5);
    outline: none;
  }

  ::placeholder {
    font-size: 1em;
  }

  :disabled {
    color: var(--grey-70);
  }

  &[data-hide="true"] {
    display: none;
  }

  &[data-invalid="true"] {
    color: var(--red-80);
    border-width: 1px;
    border-color: var(--red-80);
  }
}

.outlined {
  background-color: transparent;
  border: solid 1px var(--border-color);
}

.sizeLg {
  font-size: 1.25rem;
  padding: 0.75em 1em;
}
