@import 'styles/breakpoints';

.container {
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  margin: 0 auto;

  @include lg-screen {
    width: $bp-large;
  }
}

.tableWrapper {
  overflow-x: auto;

  @include lg-screen {
    border-radius: var(--border-radius-md);

    box-shadow: var(--block-box-shadow);
  }
}

.table {
  width: 100%;
  border: var(--default-border);
  border-collapse: collapse;
  overflow: hidden;

  font-size: 0.875rem;

  background-color: var(--white);

  @include lg-screen {
    border-radius: var(--border-radius-md);
  }
}

.table td,
.table th {
  padding: 0.5rem;
  border: 1px solid var(--border-color);

  vertical-align: middle;
}

.table thead th {
  font-weight: 500;
  text-align: center;
}

.stickyHeader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  border-bottom: var(--default-border);

  @include lg-screen {
    right: auto;
    left: auto;
  }
}
