<% if current_page.last? -%>
  <button class="button button--ghost" disabled aria-label="<%= t('general.next_page') %>"><%= icon_tag 'angle-right-solid' %></button>
<% else -%>
  <%= link_to icon_tag('angle-right-solid'), url, class: 'button button--ghost', aria: { label: t('general.next_page') } %>
<% end -%>
