<% if current_page.last? -%>
  <span class="button button--ghost" disabled><%= icon_tag 'angle-right-solid' %></span>
<% else -%>
  <%= link_to icon_tag('angle-right-solid'), url, class: 'button button--ghost' %>
<% end -%>
