<% if current_page.first? -%>
  <span class="button button--ghost" disabled><%= icon_tag 'angle-left-solid' %></span>
<% else -%>
  <%= link_to icon_tag('angle-left-solid'), url, class: 'button button--ghost' %>
<% end -%>
