<% if current_page.first? -%>
  <span class="button button--ghost" disabled aria-label="<%= t('general.previous_page') %>"><%= icon_tag 'angle-left-solid' %></span>
<% else -%>
  <%= link_to icon_tag('angle-left-solid'), url, class: 'button button--ghost', aria: { label: t('general.previous_page') } %>
<% end -%>
