#ajax-error-message.flash.flash-error
  %i.fa.fa-exclamation-triangle
  %a.flash-close.ajax-error-dismiss{href: '#'}
    &times;
  %span#ajax-error-message-text
    Something went wrong with that request. Please try again.
