<div id="ajax-error-message" class="flash flash-error" data-controller="action-errors" data-action="mouseover->action-errors#clear_timeout">
  <%= icon_tag 'triangle-exclamation-solid' %>
  <a class="flash-close" data-action="click->action-errors#hide">&times;</a>
  <span data-action-errors-target="message">Something went wrong with that request. Please try again.</span>
</div>
