@import 'styles/breakpoints';

.container {
  position: relative;

  flex-shrink: 0;
  width: 100%;

  @include sm-screen {
    width: 20%;
  }
}

.card {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  height: 12vh;
  border-radius: var(--border-radius-md);
  overflow: hidden;

  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 6px 0;

  transition: transform 350ms ease-in;

  @include sm-screen {
    height: auto;
  }

  canvas {
    max-width: 100%;
    max-height: 100%;

    vertical-align: middle;
  }
}
