@import '../mixins/font_face';

$achievement-icon-font: 'AchievementIcons';
@include font-face($achievement-icon-font, 'achievement-icons', 'achievement-icons');

$achievement-icon-star: '\e904';
$achievement-icon-cup:  '\e900';
$achievement-icon-sd:   '\e901';
$achievement-icon-fire: '\e902';
$achievement-icon-bc:   '\e903';
