.container {
  margin-bottom: 0.75rem;
  padding: 1rem;
  border-bottom: solid 1px var(--border-color);

  background-color: var(--white);
}

.eventName {
  margin: 0.25rem 0;

  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.eventPlace {
  display: flex;
  align-items: baseline;
  justify-content: center;

  font-size: 0.75rem;
}

.eventPlace svg {
  height: 0.75em;
  margin-right: 0.25em;

  path {
    fill: var(--grey-60);
  }
}
