<% provide :title, @competition_series.name %>

<div class="container-fluid top-buffer">
  <div class="content-block">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>
          <span><%= @competition_series.name %></span>
        </h1>
      </div>
    </div>

    <div class="row">
      <h1 class="text-muted text-center">
        🙅 Let it be Surprise
      </h1>
    </div>
  </div>
</div>
