.modal.fade#newTrackModal{tabindex: '-1', role: 'dialog', 'data-controller': 'modal'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden: 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title= t 'static_pages.index.track_form.title'

      %div{data: {controller: 'new-track-form', 'user-signed-in': user_signed_in?}}
