@import 'styles/breakpoints.scss';

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > :not(:last-child) {
    margin-right: 0.25rem;
  }

  @include sm-screen {
    > :not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}

.arrow {
  display: flex;

  svg {
    height: 1rem;

    path {
      fill: var(--grey-50);
    }
  }
}

.page {
  align-items: center;
  border-radius: var(--border-radius-md);
  color: var(--grey-80);
  display: flex;
  font-size: 1.75rem;
  height: 2.5rem;
  justify-content: center;
  padding: 0 0.5rem;
  position: relative;
  text-decoration: none;

  @include sm-screen {
    font-size: 1.75rem;
    height: 3rem;
    padding: 0 0.75rem;

    :focus {
      outline: none;
    }

    &:not([data-active="true"]):not(:disabled):hover {
      color: var(--grey-80);
      background-color: var(--grey-20);
    }
  }

  &[data-active="true"] {
    color: var(--blue-30);

    &:hover {
      color: var(--blue-30);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0.25rem;
      right: 0.25rem;
      height: 3px;
      background-color: var(--blue-30);
      opacity: 0.9;
    }
  }

}

.desktop {
  display: none;

  @include sm-screen {
    display: flex;
  }
}
