@import 'styles/breakpoints';

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include sm-screen {
    > :not(:last-child) {
      margin-right: 0.75rem;
    }
  }

  > :not(:last-child) {
    margin-right: 0.25rem;
  }
}

.arrow {
  display: flex;

  svg {
    height: 1rem;

    path {
      fill: var(--grey-60);
    }
  }
}

.page {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 0.5rem;
  border-radius: var(--border-radius-md);

  color: var(--grey-80);
  font-size: 1.75rem;
  text-decoration: none;

  @include sm-screen {
    height: 3rem;
    padding: 0 0.75rem;

    font-size: 1.75rem;

    :focus {
      outline: none;
    }

    &:not([data-active='true']):not(:disabled):hover {
      color: var(--grey-80);

      background-color: var(--grey-30);
    }
  }

  &[data-active='true'] {
    color: var(--blue-grey-70);

    &:hover {
      color: var(--blue-grey-70);
    }

    &::after {
      position: absolute;
      right: 0.25rem;
      bottom: 0;
      left: 0.25rem;

      height: 3px;

      background-color: var(--blue-grey-70);
      opacity: 0.9;

      content: '';
    }
  }
}

.desktop {
  display: none;

  @include sm-screen {
    display: flex;
  }
}
