<%# Open category (when splitting by categories is disabled) doesn't have id %>
<% return unless section.id %>

<tr id="<%= dom_id(section) %>">
  <td class="scoreboard-section" colspan="<%= columns_count %>">
    <span class="section-name"><%= section.name %></span>

    <% if editable %>
      <%= render 'boogies/sections/edit_section_controls', event: @event, section: section %>
    <% end %>
  </td>
</tr>
