.container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: 2.5rem calc(100% - 3rem);
  border-bottom: solid 1px var(--border-color);
  border-radius: var(--border-radius-md);
  overflow: auto;

  background-color: var(--white);
  box-shadow: var(--block-box-shadow);
}

.header {
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
  border-bottom: solid 1px var(--border-color);

  color: var(--grey-60);
  font-weight: 500;
  font-size: 1.25rem;
}

.backLink {
  composes: button from '~styles/button.module.scss';
  composes: flat from '~styles/button.module.scss';
}

.playerControls {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 15px;

  > :not(:last-child) {
    margin-right: 10px;
  }
}

.playButton {
  composes: button from '~styles/button.module.scss';
  composes: sizeLg from '~styles/button.module.scss';
}
