.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;

  height: 40px;
}

.caption {
  color: var(--blue-grey-50);
  font-weight: bold;
  font-size: 1.5rem;
}

@keyframes rotate {
  0% { transform: rotate(0); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

.outer {
  position: absolute;
  top: -20px;
  left: -20px;

  width: 35px;
  height: 35px;
  border: 2px solid var(--blue-grey-50);
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 100%;

  animation: rotate 1s 0s linear infinite;
}

.inner {
  composes: outer;

  top: -10px;
  left: -10px;

  display: inline-block;
  width: 15px;
  height: 15px;
  border-color: var(--blue-grey-50) transparent;

  animation-duration: 0.5s;
  animation-direction: reverse;
}
