.event-result__header {
  white-space: nowrap;
  overflow-x: hidden;
  padding: 10px;
  text-overflow: ellipsis;
}

@media print {
  .event-result__header {
    display: none;
  }

  .event-result__navigation {
    display: none;
  }
}

.event-result__body {
  border-top: rgba(0, 0, 0, 0.14) solid 1px;
  border-bottom: rgba(0, 0, 0, 0.14) solid 1px;
  background-color: white;
  padding: 10px 15px;
}

.event-result__title-bar {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
  line-height: 30px;
  color: #555;

  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.inside-iframe {
  .event-result__header {
    display: none;
  }

  .designated-lane-form {
    display: none;
  }

  .content-block {
    margin: 0;
  }
}
