.comp-list-item {
  display: flex;
  background-color: var(--white);
  border: var(--default-border);
  border-radius: var(--border-radius-md);
  padding: 1rem 1.5rem;
  gap: 1rem;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-property: background-color;
  overflow: hidden;

  &:hover {
    background-color: var(--gray-10);
  }

  .event-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .event-name {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.25rem;
    color: var(--gray-80);
    font-weight: 500;
    overflow: hidden;

    @media (min-width: 576px) {
      flex-direction: row;
      font-size: 1.5rem;
      gap: 1rem;
      align-items: center;
    }
  }

  .event-info {
    font-family: var(--secondary-font);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: var(--gray-70);
    font-size: 0.875rem;
    line-height: 1.3;

    @media (min-width: 576px) {
      flex-direction: row;
      gap: 2rem;
    }
  }

  .event-labels {
    display: flex;
    gap: 1rem;
  }

  .event-list-details {
    padding-left: 70px;
  }

  .event-start-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 1.5rem;
    border-right: var(--default-border);
    color: var(--gray-70);

    .start-date-day {
      font-size: 30px;
    }

    .start-date-month {
      display: block;
      font-weight: 500;
    }
  }

  .comp-classes,
  .comp-place {
    color: var(--gray-70);
  }
}


