.event__scoreboard {
  color: $main-text-color;
  padding: 0;
  margin-bottom: 0;
  position: relative;
  background-color: $white;
}

.event__scoreboard-scroll {
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  z-index: 1;
}

.event__scoreboard-table {
  width: 100%;
  margin-right: 20px;
  border-collapse: collapse;

  thead td {
    font-family: $pn-semibold;
  }

  td {
    white-space: nowrap;
    font: 13px/13px "Proxima Nova Regular";
    padding: 8px;
    border: 1px solid #eee;
    vertical-align: middle;

    &.text-green {
      color: $green;
    }
  }

  a {
    color: $blue-dark;
    text-decoration: none;

    &.text-green {
      color: $green;
    }

    &.text-light-red {
      color: #ff9191;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.event__scoreboard-section {
  .section__name {
    font-family: $pn-semibold;
    text-transform: uppercase;
    padding-right: 10px;
  }

  .section__control {
    visibility: hidden;
    margin-left: 5px;
    color: $gray-dark;
  }

  &:hover .section__control {
    visibility: visible;
  }
}

.event__scoreboard-competitor {
  transition: background-color 1000ms linear;

  .competitor__name {
    padding-right: 10px;
  }

  .competitor__suit {
    font: 8px/8px $pn-semibold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }

  .competitor__control {
    visibility: hidden;
    margin-left: 5px;
    color: $gray-dark;
  }

  &:hover .counted-result {
    color: #00BA02;
    text-decoration: underline;
  }

  & td:hover .competitor__control {
    visibility: visible;
  }
}

.round-cell__actions {
  font-family: $pn-regular;
}

td.event__scoreboard-result {
  position: relative;
  text-align: right;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  &.text-center {
    text-align: center;
  }

  span {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;

    &:hover a {
      opacity: 1;
    }

    a {
      float: right;
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: center;
      height: 100%;
      width: 100%;
      color: transparent;
      background-color: rgba(146, 231, 240, 0.7);
      opacity: 0;
      font-size: 14px;
      line-height: 14px;

      &:hover {
        background-color: #428bca;
        color: white;
      }
    }
  }
}

td.event__scoreboard-total-result {
  text-align: right;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
