@import 'styles/breakpoints.scss';

.container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;

  & > :nth-child(2n):not(:last-child) {
    margin-bottom: 1rem;
  }

  @include sm-screen {
    grid-template-columns: 3fr 7fr;
    grid-gap: 0.75rem 0rem;

    & > label {
      padding: 0.5rem 0.75rem;
      text-align: right;
    }

    & > :nth-child(2n):not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.formGroup {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 0.125rem 0;
}

.primaryButton {
  composes: button from '~styles/button.module.scss';
  composes: primary from '~styles/button.module.scss';
}

.secondaryButton {
  composes: button from '~styles/button.module.scss';
}

.input {
  composes: input from '~styles/input.module.scss';
  composes: outlined from '~styles/input.module.scss';
}
