.container
  .page-header
    %h1 Учетные записи

  .content-block
    .index-search__container
      %span.index-search__icon
        %i.fa.fa-search
      %input.index-search__input{name: 'search', data: { remote: true, url: accounts_path }, placeholder: 'Type to search', value: params[:search]}

    .table.accounts__table
      .thead
        .th #
        .th Name
        .th Email
        .th Last sign in
      .tbody
        = render partial: 'manage/accounts/account', collection: @accounts, as: :account

  .accounts__pagination.text-center.top-buffer
    = will_paginate @accounts, renderer: BootstrapPagination::Rails

- content_for :page_js do
  :javascript
    (function() {
      var elem = document.querySelector('input[name="search"]');
      var timer_id = undefined;
      elem.addEventListener('input', function() {
        if (timer_id !== undefined) clearTimeout(timer_id);

        timer_id = setTimeout(function() {
          $.rails.handleRemote($(elem));
          timer_id = undefined;
        }, 200);
      });
    })();
