<% editable = policy(@place).update? %>

<div class="show-page place-show">
  <%= render 'places/header', editable: %>

  <div class="show-page-content">
    <div class="thumbnails">
      <%= render collection: @videos, partial: 'track_videos/thumbnail', as: :video %>
    </div>
  </div>
</div>
