.places__search {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px 15px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.14);

  input {
    height: 40px;
  }
}

.places__mobile {
  position: relative;
  padding-top: 60px;
}

.places-country {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.places-country-name {
  font-family: var(--font-serif);
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--gray-80);
  padding: 0.5rem;
}

.places__item {
  display: block;
  color: var(--gray-90);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;

  &:hover {
    background-color: var(--gray-20);
    color: var(--gray-90);
    text-decoration: none;
  }
}

.places__map {
  width: 100%;
  height: 100%;
}
