.place-preview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 300px;
  transition: right 0.3s ease-in-out;
  background-color: white;
  overflow-x: hidden;

  &.visible {
    right: 0;
    visibility: visible;
  }
}

.place-preview__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.14);

  a {
    display: block;
    height: 100%;
    width: 60px;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    border-right: solid 1px rgba(0, 0, 0, 0.14);
    color: #555;
    cursor: pointer;

    &:hover {
      background-color: #f7f7f9;
    }
  }
}

.place-preview__loading {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 32px;
  color: #777;
  background-color: white;
}

.place-preview__container {
  height: 100%;
  width: 100%;
  padding-top: 60px;

  > * {
    margin-bottom: 15px;
  }
}

.place-preview__photo {
  height: 150px;
  background-size: cover;
  background-position: center center;
}

.place-preview__title {
  padding: 0 10px;
  font-size: 18px;
}

.place-preview__geo {
  padding: 0 10px;
  color: #777;
  font-size: 12px;

  i { color: #999; }
}
