footer {
  background-color: $white;
  border-top: 1px solid $border-color;
  color: $dark-gray-text;
  display: flex;
  font: 14px / 40px $fallback-fonts;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 15px;
}

@media print {
  footer {
    display: none;
  }
}
