footer {
  background-color: var(--white);
  border-top: var(--default-border);
  color: var(--gray-70);
  display: flex;
  font-size: 0.875rem;
  line-height: 2.5rem;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 15px;
}

@media print {
  footer {
    display: none;
  }
}
