- show_cancel ||= false

= form_for :jump_range, url: tournament_qualification_result_jump_range_path(@tournament, @result), method: :put, remote: true do |f|
  = render 'concerns/jump_range_form', track: @result.track, form: f

  %hr

  .modal-actions
    .modal-actions__left
      = delete_qualification_track_link(@tournament, @result)

    .modal-actions__right
      = f.submit t('general.save'), class: 'btn btn-primary'
      - if show_cancel
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'
