<turbo-frame id="<%= sanitize params[:frame_id] %>">
  <div class="hot-select-options">
    <% @profiles.each do |profile| %>
      <div class="hot-select-option" data-value="<%= profile.id %>">
        <%= profile.name %>
      </div>
    <% end %>

    <% if @profiles.total_pages > @profiles.current_page %>
      <% next_page = @profiles.current_page + 1 %>
      <% frame_id = "#{sanitize params[:frame_id]}-#{next_page}" %>
      <%= render 'hot_select/load_more', page: next_page, frame_id:, term: params[:term] %>
    <% end %>
  </div>
</turbo-frame>
