.flatButton {
  composes: button from '~styles/button.module.scss';
  composes: flat from '~styles/button.module.scss';

  display: inline-flex;
}

.table {
  width: 100%;
  border: solid 1px var(--border-color);
  border-collapse: collapse;

  background-color: var(--white);

  thead {
    font-weight: 500;
  }

  th {
    color: var(--grey-70);
    white-space: nowrap;
    text-transform: uppercase;
  }

  td,
  th {
    padding: 0.75rem 1rem;
    border: solid 1px var(--border-color);

    .flatButton {
      opacity: 0;
    }
  }

  td:hover,
  th:hover {
    .flatButton {
      opacity: 1;
    }
  }

  td:last-child,
  th:last-child {
    width: 5%;

    text-align: right;
  }

  td:first-child,
  th:first-child {
    text-align: center;
  }
}

.teamName {
  width: 50%;

  > :not(:last-child) {
    margin-right: 0.25rem;
  }
}

.teamDetails {
  display: flex;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;

    color: var(--grey-70);
    font-size: 0.875rem;
    text-transform: capitalize;
  }
}
