<% provide :title, title(@track) %>

<div class="show-page">
  <%= render partial: 'tracks/header', locals: { track: @track } %>

  <div class="track-show-content">
    <div class="row" data-controller="tracks--map" data-action="maps_api:ready@window->tracks--map#onMapsReady">
      <script type="application/json" data-target="tracks--map.data">
        <%= raw render partial: 'tracks/maps/map_data', locals: { map_data: @map_data }, formats: [:json] %>
      </script>

      <div class="track-map-wrapper col-sm-12">
        <div id="track-map" data-target="tracks--map.map"></div>
        <% if @track.weather_data.exists? %>
          <div id="track-map-polar-chart" data-controller="tracks--wind-chart">
            <script type="application/json" data-target="tracks--wind-chart.data">
              <%= raw render partial: 'tracks/weather_data/weather_data', locals: { weather_data: @track.weather_data }, formats: [:json] %>
            </script>
          </div>
        <% end %>
        <%= render 'tracks/speed_grades' %>
      </div>
    </div>
  </div>
</div>
