- provide :title, title(@track)

.track-map-data
  .container
    = render partial: 'tracks/header', locals: {track: @track}
    .content-block.content-block--bordered
      .row
        .track-map-wrapper.col-sm-12
          #track-map-loading.text-muted
            #track-map-loading-api.fa-2x
              %i.fa.fa-fw.fa-spin.fa-circle-o-notch
              Loading Google Maps API
            #track-map-loading-data.fa-2x
              %i.fa.fa-fw.fa-spin.fa-circle-o-notch
              Loading track data
          #track-map
          #track-map-polar-chart
          = render 'tracks/speed_grades'

- content_for :page_js do
  :javascript
    var track_map = new Skyderby.models.TrackMap({
      id: #{@track.id}
    });

    var view = new Skyderby.views.TrackMapView({
      model: track_map,
      el: '.track-map-data'
    });
    view.render();
