.container {
  --background-color: var(--red-60);
  height: 60px;
  margin-bottom: 0.5rem;

  padding: 0 1rem;
}

.slider {
  position: relative;

  width: 100%;
  height: 100%;
}

.rail {
  position: absolute;
  top: 25px;
  right: -6px;
  left: -6px;

  height: 12px;
  border-radius: var(--border-radius-md);

  background-color: var(--grey-30);
  outline: none;
}

.track {
  position: absolute;
  top: 25px;

  height: 12px;

  background-color: var(--background-color);
}

.handle {
  position: absolute;
  top: 23px;
  z-index: 2;

  width: 0.5rem;
  height: 1rem;
  margin-left: -4px;

  cursor: pointer;

  &::before {
    position: absolute;
    left: calc(50% - 1px);

    display: block;
    width: 2px;
    height: 100%;

    background-color: var(--background-color);

    content: '';
  }
}

.singleValue {
  position: absolute;

  padding: 1px 5px;
  border-radius: var(--border-radius-md);

  color: var(--white);
  font-size: 10px;
  line-height: 1.333;
  white-space: nowrap;
  text-align: center;
  text-shadow: none;

  background-color: var(--background-color);
  transform: translate(-50%);

  &::after {
    position: absolute;
    bottom: -6px;
    left: 50%;

    display: block;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top-color: var(--background-color);
    overflow: hidden;

    transform: translate(-3px);

    content: '';
  }
}

.mergedValues {
  position: absolute;

  padding: 1px 5px;
  border-radius: var(--border-radius-md);

  color: var(--white);
  font-size: 10px;
  line-height: 1.333;
  white-space: nowrap;
  text-align: center;
  text-shadow: none;

  background-color: var(--background-color);
  transform: translate(-50%);

  &::after {
    position: absolute;
    bottom: -6px;
    left: calc(50% - 3px);

    display: block;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top-color: var(--background-color);
    overflow: hidden;

    content: '';
  }
}

.tick {
  position: absolute;
  top: 40px;

  height: 20px;
  padding-top: 10px;

  color: var(--grey-50);
  font-size: 9px;
  line-height: 9px;
  text-align: center;

  span {
    position: absolute;

    display: none;

    transform: translate(-50%);
  }

  &::after {
    position: absolute;
    top: 0;

    display: block;
    width: 1px;
    height: 5px;

    background-color: var(--grey-30);

    content: '';
  }

  &:empty &::after {
    height: 5px;
  }

  &:first-child {
    text-align: right;
  }

  &:last-child {
    text-align: left;
  }

  &[data-major='true'] {
    span {
      display: block;
    }

    &::after {
      height: 8px;
    }
  }
}
