<tr>
  <td>
    <%= form.number_field :altitude %>
  </td>
  <td>
    <%= form.number_field :distance %>
  </td>
  <td>
    <%= form.hidden_field :id %>
    <%= form.hidden_field :_destroy %>
    <a class="place-form__mark-deleted-measurement" data-action="click->places--exit-measurements#remove">
      <i class="fa fa-times"></i>
    </a>
  </td>
</tr>
