<div class="row">
  <div class="col-sm-12">
    <%= link_to new_place_jump_profile_path(@place), class: 'btn btn-default' do %>
      <i class="fa fa-plus"></i>
      <%= t('general.create') %>
    <% end %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <%= render collection: @jump_profiles, partial: 'places/jump_profiles/jump_profile' %>
  </tbody>
</table>
