<div class="container">
  <%= link_to place_jump_profiles_path(@place), class: 'btn-back' do %>
    <%= icon_tag 'angle-left-solid' %>
    <%= @place.name %> // Jump profiles
  <% end %>

  <div class="content-block">
    <%= render 'form' %>
  </div>
</div>
