<div class="container">
  <%= link_to place_jump_profiles_path(@place), class: 'btn-back' do %>
    <i class="fa fa-chevron-left"></i>
    <%= @place.name %> // Jump profiles
  <% end %>

  <div class="content-block">
    <%= render 'form' %>
  </div>
</div>
