.btn-back {
  color: $light-text-color;
  margin-right: 5px;
  padding: 3px 5px;
  line-height: 2;
  font-size: 24px;

  &:hover {
    text-decoration: none;
    background-color: #f3f3f3;
    border-radius: 4px;
    color: $light-text-color;
  }

  i { color: $gray-dark; }
}
