.btn-flat {
  color: rgb(102, 102, 102);
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.45;

  &.same-padding {
    padding: 6px;
  }

  &:hover {
    color: rgb(17, 17, 17);
    background-color: #f2f2f2;
    text-decoration: none;
    border-radius: 6px;
  }

  &.active {
    background-color: #ddd;
    border-radius: 6px;
  }
}

.btn-tab.active {
  margin-bottom: -1px;
  color: rgb(17, 17, 17);
  border-top: #0084b4 solid 3px;
  border-left: rgba(0, 0, 0, 0.14) solid 1px;
  border-right: rgba(0, 0, 0, 0.14) solid 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
}
