.button--jelly {
  -webkit-transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
          transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.button--jelly:hover,
.button--jelly:focus {
  box-shadow: 0 1px 8px rgba(58,51,53,0.4);
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
          transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
