.create-result-cell {
  position: relative;
  padding: 0px;
}

a.create-result-cell__link {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  width: 100%;
  height: 100%;
  display: block;
  color: transparent;

  &:hover {
    color: white;
    background-color: #428bca;
    text-decoration: none;
  }
}

