.button-locale {
  display: inline-block;
  position: relative;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  margin-left: 15px;
  margin-right: 15px;
  height: 32px;
  width: 32px;
}

.button-locale__img {
  position: absolute;
  top: 10px;
  left: 8px;
}
