.round-cell {
  text-align: center;
}

.round-cell__content {
  position: relative;
}

.round-cell__actions {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  text-align: right;

  button[data-toggle=dropdown] {
    width: 100%;
    text-align: right;
    color: rgb(51, 51, 51);
  }

  button[data-toggle=dropdown]:focus {
    outline: none;
  }
}

