@import 'styles/breakpoints';

.section {
  display: flex;
  flex-wrap: wrap;

  @include sm-screen {
    flex-wrap: nowrap;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.description {
  width: 100%;
  padding-right: 16px;

  @include sm-screen {
    width: 30%;
  }

  h2 {
    margin: 0;
    padding: 0.375rem 0;

    color: var(--grey-80);
    font-weight: 500;
    font-size: 1.25rem;
  }
}

.controls {
  width: 100%;

  @include sm-screen {
    width: 70%;
  }

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.trackChartCard {
  width: 100%;
  height: 0;
  padding: 1rem 0.5rem calc(100% * (9 / 16));
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius-md);
}

.inputContainer {
  width: 10rem;
}

.footer {
  display: flex;
  justify-content: space-between;

  button {
    display: inline-flex;
  }

  button:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.primaryButton {
  composes: button from '~styles/button.module.scss';
  composes: primary from '~styles/button.module.scss';
}

.secondaryButton {
  composes: button from '~styles/button.module.scss';
}

.dangerButton {
  composes: button from '~styles/button.module.scss';
  composes: red from '~styles/button.module.scss';
  composes: outlined from '~styles/button.module.scss';
}

.input {
  composes: input from '~styles/input.module.scss';
  composes: outlined from '~styles/input.module.scss';
}
