<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right">
        <%= link_to performance_competition_round_globe_path(@event, @round), target: '_blank', class: 'modal-header-link' do %>
          <i class="fa fa-external-link-alt"></i>
        <% end %>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <h4 class="modal-title">
        <%= t('events.show.round_map_view') %>
      </h4>
    </div>

    <div class="modal-body">
      <% if user_signed_in? %>
        <%= render 'round_map' %>
      <% else %>
        <%= render 'components/maps_auth_wall' %>
      <% end %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>
