<div class="text-right" style="margin-bottom: 1rem;">
  <%= link_to performance_competition_round_globe_path(@event, @round), target: '_blank', class: 'button button--ghost button--sm' do %>
    <%= icon_tag 'up-right-from-square' %>
    Open in new tab
  <% end %>
</div>

<% if user_signed_in? %>
  <%= render 'round_map' %>
<% else %>
  <%= render 'components/maps_auth_wall' %>
<% end %>

<div class="form-actions">
  <button type="button" class="button" data-action="dialog#close">OK</button>
</div>
