.container {
  display: inline-flex;
  align-items: baseline;

  svg {
    height: 0.75em;
    margin-right: 0.25em;

    path {
      fill: var(--grey-60);
    }
  }
}

.separator {
  color: var(--grey-60);
}

.countryCode {
  color: var(--blue-grey-60);
  text-transform: uppercase;
}
