@keyframes loading {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.loadingContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-40);
  text-align: center;
  vertical-align: middle;
}

.loadingDot {
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  background: currentColor;
  display: inline-block;
  height: 1em;
  width: 1em;

  &:not(:last-child) {
    margin-right: 0.5em;
  }

  &:nth-child(1) {
    animation-delay: 0ms;
  }

  &:nth-child(2) {
    animation-delay: 160ms;
  }

  &:nth-child(3) {
    animation-delay: 320ms;
  }
}

.input {
  composes: input from '~styles/input.module.scss';
  composes: outlined from '~styles/input.module.scss';

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.button {
  composes: button from '~styles/button.module.scss';

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  min-width: 2.25rem;
  overflow: hidden;
  transition: background-color 150ms linear;
}

.inputGroup {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;

  input[type='file'] {
    cursor: inherit;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    min-width: 100%;

    ::-webkit-file-upload-button {
      cursor: inherit;
    }
  }

  .disabled {
    .button {
      background-color: var(--grey-10);
      pointer-events: none;
    }

    .input {
      background-color: var(--grey-10);
    }
  }

  .invalid {
    .button {
      border-top-color: var(--red-80);
      border-bottom-color: var(--red-80);
      border-right-color: var(--red-80);
    }

    .input {
      border-color: var(--red-80);
    }
  }
}
