.landing__stats-list {
  display: flex;
  list-style-type: none;
}

.landing__stats-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  border-right: 1px solid #ccc;
  padding: 10px 0;

  &:last-child {
    border-right: 1px solid transparent;
  }
}

.landing__stats-count {
  font-size: 30px;
  font-weight: 500;
  color: $gray-dark;
  line-height: 2;
}

.landing__stats-caption {
  color: $gray-dark;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
