<%# locals: (modal: false) %>

<div class="scrollable-pills">
  <ul class="nav nav-pills scrollable-pills__list">
    <%= render 'performance_competitions/results/header_items', modal: %>
  </ul>
</div>
