.flag {
	width: 16px;
	height: 11px;
	background: asset-url('flags.png') no-repeat;

  &.flag-de {background-position: -16px 0}
  &.flag-es {background-position: -32px 0}
  &.flag-en {background-position: 0 -11px}
  &.flag-ru {background-position: -16px -11px}
}
