$table-cell-padding: 8px;
$table-border-color: #ddd;
$table-border-width: 1px;

.table {
  display: block;
  margin: 0;
}

@media (min-width: 576px) {
  .table {
    display: table;
    border-collapse: collapse;
  }
}

.table-hover > .tbody > .tr:hover {
  background-color: #f5f5f5;
}

.thead {
  display: none;

  .th {
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }
}

@media (min-width: 576px) {
  .thead {
    display: table-header-group;
  }
}

.tbody { display: block; }

.tr { display: block; }

@media (min-width: 576px) {
  .tbody {
    display: table-row-group;
  }

  .tr {
    display: table-row;
  }
}

a.tr {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.td {
  vertical-align: top;
  border-top: $table-border-width solid $table-border-color;
}

.th, .td {
  display: block;
  padding: $table-cell-padding;
}

@media (min-width: 576px) {
  .th, .td {
    display: table-cell;
  }
}

.table > thead > tr > th,
.table > .thead > .tr > .th {
  color: var(--gray-80);
  font-weight: bold;
}
