.finish-line-card {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 0;
  color: inherit;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;
  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
}
