.inputContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 0.125rem 0;
  grid-column: 3;
}

.inputModeToggle {
  font-size: 0.825rem;
  line-height: normal;

  margin: 0;
}

.errorMessage {
  font-size: 0.825rem;
  color: var(--red-80);
}

.flatButton {
  composes: button from '~styles/button.module.scss';
  composes: flat from '~styles/button.module.scss';
  composes: sizeXs from '~styles/button.module.scss';

  display: inline-flex;
}

.input {
  composes: input from '~styles/input.module.scss';
  composes: outlined from '~styles/input.module.scss';
}
