.actions-bar {
  --card-padding: 0;

  display: flex;
}

.actions-bar-button {
  border: 0;
  background-color: var(--white);
  color: var(--gray-80);
  border-right: var(--default-border);
  padding: 0.5rem 0.75rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  height: 100%;

  &:hover {
    background-color: var(--gray-20);
    color: var(--gray-80);
  }
}

.actions-bar > :first-child:not(.actions-bar-right) {
  border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
}

.actions-bar > :first-child:not(.actions-bar-right) > .actions-bar-button {
  border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
}

.actions-bar > :last-child,
.actions-bar-right > :last-child,
.actions-bar-right > :last-child .actions-bar-button {
  border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
}

.actions-bar-right {
  display: flex;
  margin-left: auto;
  border-left: var(--default-border);
}
