.announcement {
  color: #555;
  font-size: 16px;
  text-align: center;
  background-color: #ceeaff;
  border-bottom: solid 1px rgba(0, 0, 0, .14);

  p {
    font-family: 'Proxima Nova Regular';
    margin: 0;
    padding: 0.25rem 1rem;
    line-height: 1.5;
  }

  strong {
    font-family: 'Proxima Nova Semibold';
  }
}
