.base-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-md);
  border: 0;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--button-bg, var(--white));
  color: var(--button-text-color, var(--gray-80));

  &:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-text-color-hover);
  }

  &:focus {
    outline-offset: 0.25rem;
  }

  svg {
    pointer-events: none;
  }
}

.default-button {
  @extend .base-button;

  border: var(--default-border);
}

.ghost-button {
  @extend .base-button;

  --button-bg: transparent;
  --button-bg-hover: var(--gray-20);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.ghost-danger-button {
  @extend .base-button;

  --button-bg: transparent;
  --button-bg-hover: var(--gray-20);
  --button-text-color: var(--red-80);
  --button-text-color-hover: var(--red-90);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.primary-button {
  @extend .base-button;

  --button-bg: var(--blue-90);
  --button-bg-hover: var(--blue-70);
  --button-text-color: var(--white);
  --button-text-color-hover: var(--white);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.small-button {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}
