.contributors {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  padding: 1rem;
  max-width: 970px;
  position: relative;

  @media (min-width: 767px) {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 2px 10px 3px rgba(0,0,0, 0.2);
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #646464;
    padding-bottom: 1rem;
    margin: 0;
    border-bottom: 1px solid #ccc;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .contributors-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
  }

  .contributor-list-item {
    display: flex;
    align-items: center;

    img {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 100%;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
      margin-right: 0.5rem;
      z-index: 2;
    }

    .contributor-name {
      border-radius: 2rem;
      height: 2rem;
      padding-right: 1rem;
      padding-left: 2rem;
      border: var(--default-border);
      margin-left: -2rem;
      line-height: 2rem;
    }

    &.active {
      .contributor-name {
        background-color: var(--yellow-10);
        border-color: var(--yellow-40);
        box-shadow: 0 0 6px 3px var(--yellow-10);
      }

      img {
        box-shadow: 0 0 4px 2px var(--yellow-30);
      }
    }
  }

  .contributors-footer {
    border-top: 1px solid #ccc;
    padding: 1rem 0 0.5rem;
    text-align: center;
  }
}

.contributor {
  font-weight: 500;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, var(--red-50), var(--blue-gray-70));
  color: transparent;
}
