.content-block {
  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;

  &> h2, > h3, > h4 {
    color: rgba(0, 0, 0, 0.6);
  }

  .card-action {
    display: flex;
    margin-left: auto;
    text-align: right;

    &> .dropdown > button,
    > button,
    > a {
      text-transform: uppercase;
    }

    & > *           { margin-right: 7px; }
    & > :last-child { margin-right: 0px; }
  }
}

@media print {
  .content-block {
    margin: 0;
  }
}

.content-block--bordered {
  border: rgba(0, 0, 0, 0.14) solid 1px;
  box-shadow: none;
}
