.dashboard {
  width: 100%;
  max-width: $bp-large;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
}

.dashboard-block {
  background-color: var(--white);
  border-radius: var(--border-radius-md);
  box-shadow: var(--block-box-shadow);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.dashboard-block-title {
  font-size: 1rem;
  font-weight: 500;
  font-family: $pn-semibold;
  text-transform: uppercase;
  color: var(--gray-80);
  grid-column: span 2;
}

.dashboard-chart {
  grid-column: span 2;
  height: 125px;
}

.dashboard-value {
  font-size: 2rem;
  font-weight: 500;
  font-family: $pn-semibold;
  color: var(--gray-80);
}

.dashboard-label {
  font-size: 1rem;
  font-weight: 500;
  font-family: $pn-semibold;
  color: var(--gray-60);
}
