
.penalties, .penalties-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.penalties-row {
  display: grid;
  grid-template-columns: 6rem 20rem max-content;
  gap: 0.5rem;
}

