.flight-profiles {
  @include full-screen-container;
  flex-direction: column;
}

.flight-profiles__header {
  background: white;
  border-bottom: rgba(0, 0, 0, 0.14) solid 1px;
  line-height: 2;
  font-size: 24px;
  padding-left: 15px;
  color: $gray-dark;
}

.flight-profiles__body {
  display: flex;
  flex-basis: 100%;
}

.flight-profiles__sidebar {
  width: 30%;
  padding-bottom: 55px;
  position: relative;
  border-right: rgba(0, 0, 0, 0.14) solid 1px;
  overflow: hidden;
}

.flight-profiles__tracks-container {
  height: 100%;
  padding: 15px 10px;
  overflow-y: scroll;
}

.flight-profiles__place-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  border-top: rgba(0, 0, 0, 0.14) solid 1px;
  background-color: #fff;
}

.flight-profiles__chart-container {
  width: 70%;
  background-color: white;
}

.flight-profiles__tracks-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flight-profiles__track {
  border-radius: 4px;
  padding: 1px 7px;

  &:hover {
    background-color: rgba(3, 169, 244, 0.24);
  }

  & > .checkbox > label {
    width: 100%;
  }
}

.flight-profiles__track-header {
  display: flex;
  justify-content: space-between;
}
