.flight-profiles {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 41px;
}

.flight-profiles__sidebar {
  height: 100%;
  width: 30%;
  padding-bottom: 55px;
  position: relative;
  border-right: rgba(0, 0, 0, 0.14) solid 1px;
  overflow: hidden;
}

.flight-profiles__tracks-container {
  height: 100%;
  padding: 15px 10px;
  overflow-y: scroll;
}

.flight-profiles__place-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  border-top: rgba(0, 0, 0, 0.14) solid 1px;
  background-color: #fff;
}

.flight-profiles__chart-container {
  height: 100%;
  width: 70%;
}

.flight-profiles__tracks-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flight-profiles__track {
  border-radius: 4px;
  padding: 1px 7px;

  &:hover {
    background-color: rgba(3, 169, 244, 0.24);
  }

  & > .checkbox > label {
    width: 100%;
  }
}

.flight-profiles__track-header {
  display: flex;
  justify-content: space-between;
}
