footer {
  background-color: var(--white);
  border-top: var(--default-border);
  color: var(--gray-70);
  display: flex;
  font-size: 0.75rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

@media print {
  footer {
    display: none;
  }
}
