@layer reset, base, components, modules, utilities, native, platform;

:root {
  --gray-90: #333;
  --gray-80: #565656;
  --gray-70: #737373;
  --gray-50: #8B8B8B;
  --gray-60: #949494;
  --gray-40: #d3d3d3;
  --gray-30: #eee;
  --gray-20: #f3f3f3;
  --gray-10: #fafafa;

  --blue-gray-90: #252f3c;
  --blue-gray-80: #2a3544;
  --blue-gray-70: #42546b;
  --blue-gray-60: #5D6E85;
  --blue-gray-50: #78879D;
  --blue-gray-40: #8A96A8;
  --blue-gray-30: #A6AFBB;
  --blue-gray-20: #C7CBD1;
  --blue-gray-10: #E5E6E7;

  --blue-90: #0071b2;
  --blue-80: #0083c9;
  --blue-70: #1993e0;
  --blue-60: #28a9fb;
  --blue-50: #34aefa;
  --blue-40: #48b8fa;
  --blue-30: #6dc8fb;
  --blue-20: #9fdcfd;
  --blue-10: #d0eeff;

  --red-90: #9e0419;
  --red-80: #b41220;
  --red-70: #c91a25;
  --red-60: #e22732;
  --red-50: #e3353f;
  --red-40: #e64f57;
  --red-30: #ec777e;
  --red-20: #f4a7ac;
  --red-10: #fcd4d7;

  --orange-90: #a36200;
  --orange-80: #bb7302;
  --orange-70: #ec961a;
  --orange-60: #d2820b;
  --orange-50: #ed9c2a;
  --orange-40: #efa945;
  --orange-30: #f3bd6f;
  --orange-20: #f8d4a1;
  --orange-10: #feeace;

  --yellow-90: #ae8b00;
  --yellow-80: #caa100;
  --yellow-70: #e3b600;
  --yellow-60: #ffce09;
  --yellow-50: #ffd11c;
  --yellow-40: #ffd738;
  --yellow-30: #ffe064;
  --yellow-20: #ffeb9a;
  --yellow-10: #fff6cb;

  --green-90: #0ca17a;
  --green-80: #29ba8f;
  --green-70: #36d1a1;
  --green-60: #43ecb8;
  --green-50: #4decbd;
  --green-40: #5feec5;
  --green-30: #81f2d2;
  --green-20: #aef6e2;
  --green-10: #d9faf1;

  --white: #fff;

  --border-color: var(--gray-40);
  --default-border: solid 1px var(--gray-40);
  --text-color: var(--gray-90);
  --text-secondary: var(--gray-70);
  --border-radius-lg: 1rem;
  --border-radius-md: 0.5rem;
  --border-radius-sm: 0.375rem;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --block-box-shadow: 0 0 3px var(--box-shadow-color);
  --outline-opacity: 0;
  --header-height: 3.75rem;
  --footer-height: 2rem;

  --font-sans: "Adwaita Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-serif: ui-serif, serif;
  --font-mono: ui-monospace, monospace;

  --primary-font: var(--font-sans);
  --secondary-font: var(--font-serif);
}

html, body {
  font-size: 16px;
  line-height: 1.15;
  font-family: var(--primary-font);
}
