.hot-select-container {
  padding: 0;
}

.omni-search-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}

.selected-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 0.5rem;

  &:not(:empty) {
    padding: 0.25rem;
  }
}


.filter-tag {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  background-color: var(--gray-20);
  border-radius: var(--border-radius-sm);
  font-size: 0.85rem;
  max-width: 100%;
  margin-right: 0.25rem;
}

.filter-tag-type {
  font-weight: 500;
  padding: 0.25rem 0 0.25rem 0.5rem;
  color: var(--gray-80);
}

.filter-tag-separator {
  color: var(--gray-60);
}

.filter-tag-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-tag-remove {
  background: none;
  border: none;
  border-radius: var(--border-radius-sm);
  color: var(--gray-70);
  padding: 0.25rem 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--gray-30);
    color: var(--red-60);
  }
}

.hot-select--hidden {
  display: none;
}

.hot-select-control {
  display: flex;
}

.hot-select-value,
.hot-select-placeholder {
  flex-grow: 1;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: left;
}

.hot-select-placeholder {
  color: var(--gray-70);
}

.hot-select-indicators {
  display: flex;
}

.hot-select-button {
  @extend .ghost-button;

  border-radius: 0;
  padding: 0.5rem;
  height: 100%;
  color: var(--gray-70);
  height: 100%;

  &:last-child {
    border-top-right-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
  }
}

.hot-select-separator {
  margin: 0.5rem 0;
  width: 1px;
  background-color: var(--border-color);
}

.hot-select-dropdown {
  background-color: var(--white);
  border: var(--default-border);
  border-radius: var(--border-radius-md);
  padding: 0.5rem 0;
  z-index: 4500;
}

.hot-select-dropdown-content {
  position: relative;
  padding-top: 2rem;
  overflow-y: auto;
  height: 100%;
}

.hot-select-search-form {
  padding: 0 0.5rem 0.5rem;
}

.hot-select-search {
  padding: 0.25rem 0.5rem;
  width: 100%;
  border: var(--default-border);
  border-radius: var(--border-radius-sm);
}

.hot-select-scrollable {
  display: block;
  max-height: 16rem;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.hot-select-option {
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    margin-right: 0.25rem;
    color: var(--gray-80);
  }

  &:hover {
    background-color: var(--gray-10);
  }

  &.hot-select-option--focused {
    background-color: var(--gray-20);
    outline: none;
  }
}

.hot-select-option-group {
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  color: var(--gray-80);
}

.hot-select-no-results {
  padding: 0.5rem 0.75rem;
  color: var(--gray-70);
  text-align: center;
  font-style: italic;
}

.hide {
  display: none !important;
}
