.inside-iframe {
  body {
    background-color: var(--white);
  }

  .navbar,
  .announcement,
  footer {
    display: none;
  }

  .page {
    padding: 0;

    > .container {
      padding: 0;
    }
  }
}
