.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  padding-bottom: 10vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.modal-container {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.modal-size-md {
  width: 500px;
}

.modal-size-lg {
  width: 100%;

  @media (min-width: $bp-medium) {
    width: $bp-medium;
  }
}

.modal-header {
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: baseline;

  // this is to override bootstrap styles
  // should be removed when not using bootstrap
  border: 0;
  &::before, &::after {
    content: none;
  }
}

.modal-title {
  line-height: 1;
  font-family: $pn-bold;
  font-size: 1.25rem;
  letter-spacing: -.025em;
}
