.modal-header {
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: baseline;

  // this is to override bootstrap styles
  // should be removed when not using bootstrap
  border: 0;
  &::before, &::after {
    content: none;
  }
}

.modal-title {
  line-height: 1;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: -.025em;
  color: var(--gray-80);
}
