.app-navbar {
  display: flex;
  background: radial-gradient(circle at center left, #293f70 1%, var(--blue-gray-90) 7%);
  border-radius: 0;
  box-shadow: 0 1px 2px 0 var(--box-shadow-color);
  gap: 0.5rem;
  height: 60px;
  width: 100%;
  padding: 0 0.5rem;
  z-index: 150;
}

@media (min-width: 576px) {
  .app-navbar {
    padding: 0 1rem;
  }
}

.inside-iframe .app-navbar {
  display: none;
}

@media print {
  .app-navbar {
    display: none;
  }
}

.navbar--top {
  position: absolute;
}

.nav-menu {
  display: none;
}

@media (min-width: 960px) {
  .nav-menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
  }

  .nav-menu li {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.nav-menu-item {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-menu-item a,
.nav-menu-item button:not(.app-navbar-button) {
  color: var(--white);
  display: flex;
  background-color: transparent;
  border: none;
  flex-grow: 1;
  font-size: 0.875rem;
  justify-content: center;
  text-align: center;
  word-break: normal;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: var(--border-radius-md);
}

.nav-menu-item:hover a,
.nav-menu-item:hover button {
  background-color: var(--blue-gray-70);
}

.nav-menu-item--active a,
.nav-menu-item--active button.dropdown-toggle {
  color: var(--blue-30);
}

.nav-menu-item--active::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 0.25rem;
  background-color: var(--blue-30);
  border-radius: 2px;
  content: '';
}

.nav-menu--right {
  flex-grow: 1;
  justify-content: flex-end;
  gap: 0.5rem;
  color: var(--white);
}

.nav-menu--desktop {
  display: none;
}

@media (min-width: 960px) {
  .nav-menu--desktop {
    display: flex;
  }
}

.nav-menu--mobile {
  display: flex;
}

@media (min-width: 960px) {
  .nav-menu--mobile {
    display: none;
  }
}

.nav-profile {
  border-radius: 100%;
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.7);
  height: 40px;
  width: 40px;
}

.nav-brand {
  display: flex;
  align-items: center;
  color: var(--white);
  flex-direction: row;
  font-size: 1.375rem;
  font-weight: 200;
  gap: 0.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}

.nav-brand .icon {
  --icon-size: 2.5rem;
}

.nav-brand:hover,
.nav-brand:focus {
  color: var(--white);
  text-decoration: none;
}

li:has(.upload-track-button) {
  height: 100%;
}

.upload-track-button {
  height: 100%;
  width: 60px;
  font-size: 1.25rem;
  border: 0;
}

.upload-track-button button {
  border: none;
  color: var(--white);
  height: 100%;
  width: 100%;
  background-color: var(--blue-40);
}

.upload-track-button button:hover {
  background-color: var(--blue-60);
}

.header__bar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 25px 0 20px;
  background: var(--blue-gray-80);
}

.header__home {
  color: var(--white);
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

.header__home span {
  opacity: 1;
}

.header__home .icon {
  --icon-size: 2.5rem;
  margin-right: 0.5rem;
}

.header__home:hover {
  color: var(--white);
  text-decoration: none;
}

.app-navbar-button {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.75rem;
  font-size: 1.25rem;
  background-color: transparent;
  border: 0;
  border-radius: var(--border-radius-md);
  color: var(--white);
}

.app-navbar-button:hover {
  color: var(--white);
  background-color: var(--blue-gray-70);
}

.app-navbar-button.with-dot:before {
  display: block;
}

.app-navbar-button:before {
  content: '';
  width: 4px;
  height: 4px;
  display: none;
  border-radius: 10px;
  border: 2px solid var(--blue-gray-90);
  background: var(--blue-40);
  position: absolute;
  top: 0;
  right: -1px;
  margin: 0 !important;
  z-index: 2;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 350ms ease-in-out;
  z-index: 50;
}

.header__page-overlay.overlay--hidden {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

.main-menu {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: var(--blue-gray-90);
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  z-index: 100;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, visibility 200ms ease-in-out;
  display: grid;
  grid-template-rows: 60px 1fr min-content;
}

.main-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  box-shadow: rgba(0, 0, 0, 0.08) -6px 0 16px 0,
              rgba(0, 0, 0, 0.12) -3px 0 6px -4px,
              rgba(0, 0, 0, 0.05) -9px 0 28px 8px;
  transition-delay: 100ms;
}

.main-menu-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--blue-gray-80);
  gap: 1rem;
}

.main-menu__profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  min-width: 150px;
}

.main-menu__profile img {
  width: 40px;
  height: 40px;
  display: block;
  padding: 0;
  margin: 0 20px;
  border-radius: 100%;
}

.main-menu__profile p {
  width: 22vw;
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  margin: 0;
}

.main-menu__bar-actions {
  display: flex;
  align-items: baseline;
  list-style: none;
  padding-right: 1.25rem;
  margin: 0;
  gap: 0.5rem;
}

.main-menu__bar-actions li {
  position: relative;
}

.main-menu__bar-action {
  color: var(--white);
  text-decoration: none;
  position: relative;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.main-menu-body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-menu-footer {
  background: var(--blue-gray-80);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.main-menu-footer .dropdown-toggle {
  color: var(--white);
  border: solid 1px var(--blue-gray-70);
  padding: 0.5rem;
}

.main-menu-footer .dropdown-toggle:hover {
  background-color: var(--blue-gray-70);
}

.main-menu-bottom {
  margin-top: auto;
}

.main-menu__item {
  border-bottom: 1px solid var(--blue-gray-80);
}

.main-menu__item.active a,
.main-menu__item.active a span:before {
  color: var(--blue-50);
}

.main-menu__item a {
  display: flex;
  color: var(--white);
  height: 4rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  align-items: center;
  position: relative;
  padding: 0 1.25rem;
  gap: 1.25rem;
}

.main-menu--login {
  margin-top: 50px;
  border-bottom: none;
  text-align: center;
}

.main-menu--login a {
  display: inline;
  padding: 6px 12px;
  border: var(--default-border);
  border-radius: var(--border-radius-md);
}
