.page-nav {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  gap: 0.25rem;
}

.page-nav-right {
  margin-left: auto;
}

.page-tab {
  display: inline-flex;
  align-items: center;
  position: relative;
  border-radius: var(--border-radius-md);
  color: var(--gray-70);
  font-family: $pn-semibold;
  font-size: 0.875rem;
  padding: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 3px;
  gap: 0.25rem;
}

.page-tab:focus {
  outline: none;
  color: var(--gray-70);
}

.page-tab:hover {
  background-color: var(--gray-30);
  color: var(--gray-70);
}

.page-tab-active {
  color: var(--blue-gray-60);

  &::after {
    position: absolute;
    background-color: var(--blue-gray-60);
    bottom: -3px;
    display: block;
    height: 3px;
    left: 0;
    right: 0;
    content: "";
    border-radius: 2px;
  }
}

.page-tab-right {
  margin-left: auto;
}
