.pill {
  display: inline-block;
  border-radius: 1rem;
  font-size: 0.875rem;
  padding: 0.125rem 0.75rem;
  font-weight: 500;
  color: var(--white);
}

.pill-orange {
  background-color: var(--orange-70);
}

.pill-yellow {
  background-color: var(--yellow-70);
}

.pill-blue-gray {
  background-color: var(--blue-gray-70);
}

.pill-blue {
  background-color: var(--blue-70);
}

.pill-green {
  background-color: var(--green-90);
}

.pill-red {
  background-color: var(--red-70);
}
