// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.place-map img {
  width: 100%;
}

#places-map {
  height: 400px;
}
