.place-show .show-page-header {
  padding-top: 0;
}

.place-cover {
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 240px;
  border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);

  @media (min-width: $bp-large) {
    height: 320px;
  }
}

.place-popular-times {
  height: 200px;
}

.place-weather-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.place-form {
  max-width: 700px;
  margin: 0 auto;

  label {
    text-align: right;
  }
}

.place-form--map {
  height: 100%;
  border-radius: var(--border-radius-md);
}

.place-jump-profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.jump-profile-card {
  border: var(--default-border);
  border-radius: var(--border-radius-md);
  padding: 1rem;

  @media (min-width: $bp-small) {
    width: 25%;
  }
}
