.profiles__search-container {
  display: table;
  width: 100%;
}

.profiles__search-icon {
  display: table-cell;
  background-color: #f7f7f9;
  color: #999;
  width: 34px;
  height: 34px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}

.profiles__search {
  display: table-cell;
  background-color: #f7f7f9;
  color: #777;
  height: 34px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  border-radius: 4px;
  outline: none;
}
