.replay-controls {
  .replay-controls-inner {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}

.replay-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.rounds-timeline {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex: 1;
  overflow-x: auto;
  padding: 0 1rem;

  .button.button--ghost {
    &::before {
      content: '';
      position: absolute;
      left: 0.25rem;
      right: 0.25rem;
      bottom: 0.25rem;
      height: 3px;
      border-radius: 3px;
      background-color: transparent;
    }

    &.active::before {
      background-color: var(--blue-40);
    }
  }
}
