@import "./variables";
@import "./fonts/*";

.scoreboard-container {
  width: 100%;

  @media (min-width: $bp-large) {
    width: $bp-large;
    margin: 0 auto;
    border-radius: var(--border-radius-md);
    box-shadow: var(--block-box-shadow);
  }
}

.scoreboard-container-fluid {
  width: calc(100vw - 2rem);
  margin: 0 auto;
}

.scoreboard-actions {
  margin-bottom: 15px;
}

.scoreboard {
  background-color: $white;
  color: $main-text-color;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}

.scoreboard-scroll {
  overflow: hidden;
  overflow-x: auto;
  position: relative;
  z-index: 1;
}

.scoreboard-table {
  background-color: $white;
  border: var(--default-border);
  border-collapse: collapse;
  overflow: hidden;
  margin-right: 20px;
  width: 100%;
  font-size: 0.875rem;

  @media (min-width: $bp-large) {
    border-radius: var(--border-radius-md);
  }

  thead th {
    font-weight: 500;
    color: var(--gray-70);
  }

  thead th:first-child,
  tbody td:first-child {
    width: 1%;
  }

  thead th.round {
    padding: 0.5rem 1.75rem;
    text-align: center;
    position: relative;
  }

  tbody td.competitor {
    padding-right: 1.75rem;
    position: relative;
  }

  .scoreboard-category {
    font-weight: 500;
    text-transform: uppercase;
  }

  .category-actions {
    display: inline-flex;
    visibility: hidden;
    margin-left: 0.5rem;
  }

  .category-actions .small-button {
    color: var(--gray-70);
    padding: 0.25rem;
  }

  .scoreboard-category:hover .category-actions {
    visibility: visible;
  }

  .round-status {
    position: absolute;
    left: 0.375rem;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
      width: 1em;
      height: 1em;
    }
  }

  .cell-actions {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .round-completed {
    color: var(--green-90);
  }

  thead tr {
    background-color: $white;
  }

  .result-cell {
    text-align: right;
    padding: 0;
  }

  .result-show-cell {
    width: 100%;

    button {
      background-color: var(--white);
      text-align: right;
      border: 0;
      padding: 0.5rem;
      width: 100%;
      position: relative;
      cursor: pointer;
    }

    button:hover::before {
      content: '';
      background-color: var(--blue-70);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
    }
  }

  .result-upload-cell {
    width: 100%;

    button {
      background-color: var(--white);
      border: 0;
      padding: 0.5rem;
      width: 100%;
      position: relative;
      cursor: pointer;
      color: var(--white);
    }

    button:hover {
      background-color: var(--blue-70);
    }
  }


  td,
  th {
    border: var(--default-border);
    padding: 0.5rem;
    vertical-align: middle;
    white-space: nowrap;

    &.text-green {
      color: $green;
    }
  }

  a {
    color: $blue-dark;
    text-decoration: none;

    &.text-green {
      color: $green;
    }

    &.text-light-red {
      color: $red-light;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.scoreboard-controls {
  color: $gray-dark;
  margin-left: 5px;
  visibility: hidden;
}

.scoreboard-table-separate-border {
  border-right-width: 4px !important;
}


.scoreboard-section {
  .section-name {
    font-weight: 500;
    padding-right: 10px;
    text-transform: uppercase;
  }

  &:hover .scoreboard-controls {
    visibility: visible;
  }
}


.scoreboard-competitor {
  transition: background-color 1000ms linear;

  .competitor-suit {
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 500;
    letter-spacing: .8px;
    margin-top: 2px;
    text-transform: uppercase;
  }

  &:hover .counted-result {
    color: #00BA02;
    text-decoration: underline;
  }

  td:hover .scoreboard-controls {
    visibility: visible;
  }
}


td.scoreboard-result {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-align: right;

  &.text-center {
    text-align: center;
  }

  span {
    background-color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &:hover a {
      opacity: 1;
    }

    a {
      background-color: rgba(146, 231, 240, 0.7);
      color: transparent;
      float: right;
      font-size: 14px;
      height: 100%;
      line-height: 14px;
      opacity: 0;
      padding-bottom: 8px;
      padding-top: 8px;
      text-align: center;
      width: 100%;

      &:hover {
        background-color: #428bca;
        color: $white;
      }
    }
  }
}

td.scoreboard-total-result {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: right;
}


.scoreboard-round {
  text-align: center;
}

.scoreboard-round-content {
  position: relative;
}

.scoreboard-round-actions {
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 100%;

  button[data-toggle=dropdown] {
    color: rgb(51, 51, 51);
    text-align: right;
    width: 100%;
  }

  button[data-toggle=dropdown]:focus {
    outline: none;
  }
}

