.tab-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-md);
  background-color: var(--gray-20);
  padding: 0.25rem;
  gap: 0.5rem;
}

.tab-bar-item {
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: var(--border-radius-md);
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--gray-70);
  border: 0;
}

.tab-bar-item:hover {
  background-color: var(--white);
  color: var(--gray-80);
  cursor: pointer;
}

.tab-bar-item:disabled {
  cursor: not-allowed;
}

.tab-bar-item.active {
  background-color: var(--white);
  box-shadow: var(--block-box-shadow);
  color: var(--gray-80);
}
