@import "./variables";
@import "./fonts/*";

.tournament-match {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
  border-radius: 4px;
  border-width: 0px;
  margin: 10px 0;
  padding: 10px;
}

.tournament-match-map {
  margin-left: 10px;
  font-size: 11px;
  cursor: pointer;
}

.tournament-round {
  padding-bottom: 15px;
}

.tournament-spacer {
  height: 56.5px;
}

.tournament-match-links {
  font: 14px / 18px $fallback-fonts;
  text-align: right;
}

.tournament-competitor {
  display: flex;

  a {
    color: $light-text-color;
  }
}

.tournament-competitor-profile {
  flex-grow: 1;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  img {
    height: 22px;
    width: 22px;
    border-radius: 100%;
    margin: 5px;
  }
}

.tournament-competitor a:hover {
  border-bottom-style: solid;
  text-decoration: none;
}

.tournament-competitor-result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#match-map {
  height: 400px;
}

#match-globe {
  min-height: 400px;
}

#tournament-form-map {
  height: 370px;
}
