.tracks-index-filters {
  display: flex;
  justify-content: space-between;
}

.tracks-index-filters-button {
  @media (min-width: $bp-small) {
    display: none;
  }
}

.tracks-index-search {
  display: none;

  @media (min-width: $bp-small) {
    display: block;
  }
}

.tracks-table-header {
  display: none;

  @media (min-width: $bp-small) {
    display: table-header-group;
  }
}

.tracks-table-body {
  display: block;

  @media (min-width: $bp-small) {
      display: table-row-group;
  }
}

.tracks-table {
  display: block;

  @media (min-width: $bp-small) {
    display: table;
  }
}
