.tracks-index-filters {
  display: flex;
  justify-content: space-between;
}

.tracks-index-filters-button {
  @media (min-width: $bp-small) {
    display: none;
  }
}

.tracks-index-search {
  display: none;

  @media (min-width: $bp-small) {
    display: block;
  }
}
