.track-indicators {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;

  @media (min-width: 576px) {
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
  }
}

.track-indicator {
  overflow: hidden;
  text-align: center;

  &[data-value='glide-ratio'] {
    grid-row: 1;
    grid-column: 1;

    @media (min-width: 576px) {
      grid-row: 1;
      grid-column: 3;
    }
  }

  &[data-value='ground-speed'] {
    grid-row: 1;
    grid-column: 2;

    @media (min-width: 576px) {
      grid-row: 1;
      grid-column: 2;
    }
  }

  &[data-value='time'] {
    grid-row: 2;
    grid-column: 1;

    @media (min-width: 576px) {
      grid-row: 2;
      grid-column: 3;
    }
  }

  &[data-value='vertical-speed'] {
    grid-row: 2;
    grid-column: 2;

    @media (min-width: 576px) {
      grid-row: 2;
      grid-column: 2;
    }
  }

  &[data-value='distance'] {
    grid-row: 3;
    grid-column: 1;

    @media (min-width: 576px) {
      grid-row: 1;
      grid-column: 1;
    }
  }

  &[data-value='elevation'] {
    grid-row: 3;
    grid-column: 2;

    @media (min-width: 576px) {
      grid-row: 2;
      grid-column: 1;
    }
  }
}

.track-indicator-title {
  overflow: hidden;
  font-weight: 700;
  color: var(--gray-70);
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track-indicator-value-container {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  justify-content: center;
  color: var(--gray-80);
  font-size: 2.25rem;
  white-space: nowrap;
}

.track-indicator-value {
  font-size: 2.25rem;
  color: var(--gray-80);
}

.track-indicator-info {
  color: var(--gray-70);
}

.track-indicator-units {
  font-size: 1.75rem;
}

.track-indicator-minmax-value {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  justify-content: space-between;

  >:first-child {
    display: flex;
    align-items: flex-start;
  }

  >:last-child {
    display: flex;
    align-items: flex-end;
  }

  > * {
    font-size: 0.875rem;

    > * {
      margin-right: 0.25rem;
    }
  }
}

.track-indicator-max {
  --text-color: var(--green-90);
  --icon-color: var(--green-70);

  span {
    color: var(--text-color);
  }

  svg {
    height: 1em;
    color: var(--icon-color);
  }
}

.track-indicator-min {
  --text-color: var(--red-90);
  --icon-color: var(--red-70);

  span {
    color: var(--text-color);
  }

  svg {
    height: 1em;
    color: var(--icon-color);
  }
}

.wind-effect-container {
  display: flex;
  flex-wrap: wrap;
}

.wind-effect-rail {
  display: flex;
  flex-basis: 100%;
  height: 3px;
}

.wind-effect-result-percent {
  display: block;
  height: 2px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  background-color: var(--green-70);
}

.wind-effect-wind-percent {
  height: 2px;

  background-color: var(--red-70);
}

.wind-effect-result {
  flex-basis: 50%;

  color: var(--green-90);
  font-weight: 200;
  font-size: 0.875rem;
}

.wind-effect-wind {
  flex-basis: 50%;

  color: var(--red-90);
  font-weight: 200;
  font-size: 0.875rem;
  text-align: right;
}
