.edit {
  margin-top:15px;
  margin-left:27px;
  width: 40px;
}

.user-avatar {
  margin-top: 20px;
  text-align: center;
  position: relative;
  height: 150px;
  width: 150px;
}

.user-avatar__change {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border: transparent solid 0px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 100%;

  &:hover, &:focus {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.avatar-edit__crop {
  max-height: 292;
  max-width: 390;
}

.avatar-edit__title {
  color: #777;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

.avatar-edit__preview-container {
  height: 150px;
  width: 150px;
  border-radius: 2px;
  overflow: hidden;
}

.gold {
  color: #D9D919;
}

.silver {
  color: silver;
}

.bronze {
  color: #CD7F32;
}
