$gold:   #fc0;
$gold-light: #ffe57c;
$gold-dark: #e1b400;

$silver: #dfdfdf;
$silver-light: #eaeaea;
$silver-dark: #c6c6c6;

$bronze: #df8250;
$bronze-light: #ffaa72;
$bronze-dark: #c87548;

$blue:       #75a4ba;
$blue-light: #8fc8e3;
$blue-dark:  #5c8293;
$blue-hover: #39c0ff;

$green: #5cb85c;
$green-light: #6cd86c;
$green-dark: #458a45;

$red: #f66;
$red-light: #ff9090;
$red-dark: #be4c4c;

$gray: #ccc;
$gray-light: #fafafa;
$gray-dark: #999;

$white: #fff;
$black: #000;

$nav-background:      #252f3c;
$nav-background-light: #2a3544;

$main-text-color: #333;
$light-text-color: #555;
$dark-gray-text: #777;
$gray-text-color: $gray;
$table-text-color: $main-text-color;

$border-color: rgba(0, 0, 0, .14);
$box-shadow-dark: rgba(0, 0, 0, .08);
$box-shadow-light: rgba(255, 255, 255, .7);
