@media(max-width: 767px){
  .vc-profile-name {
    font-size: 1.4em;
  }
  .vc-result {
    font-size: 3em;
  }
  .vc-unit {
    font-size: 2em;
  }
}

@media(min-width: 768px){
  .vc-profile-name {
    font-size: 1.1em;
  }
  .vc-result {
    font-size: 2.5em;
  }
  .vc-unit {
    font-size: 1.5em;
  }
}

@media(min-width: 992px){
  .vc-profile-name {
    font-size: 1.4em;
  }
  .vc-result {
    font-size: 3em;
  }
  .vc-unit {
    font-size: 2em;
  }
}

@media(min-width: 1200px){
  .vc-profile-name {
    font-size: 1.4em;
  }
  .vc-result {
    font-size: 3em;
  }
  .vc-unit {
    font-size: 2em;
  }
} 

.vc-profile-name,
.vc-result,
.vc-unit {
  letter-spacing: 1px;
  font-weight: 200;	
}

.all-results-table {
  margin-bottom: 0px;	
}

.hiddenRow {
    padding: 0 !important;
    border-top-width: 0px !important;
}

.panel-heading a,
.vc-profile-name,
.vc-result-link,
.vc-scoreboard-table a {
  color: rgb(51, 51, 51);
  border-bottom-style: dotted;
  border-bottom-width: 1.1px;
}

.panel-heading a:hover,
.vc-profile-name:hover,
.vc-result-link:hover,
.vc-scoreboard-table a:hover {
  color: rgb(51, 51, 51);
  border-bottom-style: solid;
  text-decoration: none;
}

.online-competitions-list tr > td:nth-child(1) { width: 50% }
.online-competitions-list tr > td:nth-child(2) { width: 25% }
.online-competitions-list tr > td:nth-child(3) { width: 25% }
