.vc-group-scoreboard-table .competitor-profile {
  font-weight: 700;
}

.vc-group-scoreboard-table .competitor-profile .contributor {
  font-weight: inherit;
}

.vc-group-scoreboard-table a.result-show-cell,
.vc-group-scoreboard-table td.scoreboard-total-result {
  font-weight: 700;
}

.vc-group-scoreboard-table a.result-show-cell {
  background-color: transparent;
  line-height: 1.2;
  padding: 0.25rem 0.5rem 0.125rem;
}

.vc-group-scoreboard-table tbody td {
  vertical-align: top;
}

.vc-group-scoreboard-table tbody td.result-cell {
  height: auto;
}

.vc-group-scoreboard-table tbody tr.scoreboard-competitor > td:not(.result-cell, .pinned-competitor-cell) {
  padding-top: 0.3rem;
}

.vc-group-scoreboard-table td.text-green,
.vc-group-scoreboard-table a.text-green {
  color: var(--green-90);
}

.vc-group-scoreboard-table td.result-points-cell {
  font-variant-numeric: tabular-nums;
}

.vc-group-scoreboard__more td {
  text-align: center;
  padding: 0.5rem;
}

.vc-group-scoreboard__blank {
  padding: 2rem;
  text-align: center;
  color: var(--gray-70);
}
