/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker3
 *= require select2.min
 *= require select2-bootstrap
 *= require ion.rangeSlider
 *= require ion.rangeSlider.skinFlat
 *= require_self
 *= require normalize.min
 */

@import 'bootstrap_variables_overrides';
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import 'variables';
@import './*';
@import './common/**/*';
@import './blocks/**/*';
@import './events/**/*';
@import './tracks/**/*';

html, body {
  height: 100%;
  background-color: #fafafa;
}

a, button, label, span {
  transition-property: border-color, background, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.loading-bg {
  background: image-url('loading.gif') no-repeat center center;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -61px;
  padding: 50px 0 60px;

  &.wrap--no-top-padding {
    padding-top: 0px;
  }
}

label.valid {
  display: none !important;
}

.img-50 {
  height: 32px;
  width: 32px;
}

a.dropdown-toggle.profile-dropdown {
  padding-bottom: 9px;
  padding-top: 9px;
}

.top-buffer { margin-top: 20px }
.top-buffer-10 { margin-top: 10px }
.top-buffer-30 { margin-top: 30px }

.clickableRow { cursor: pointer }

.datepicker {
  z-index: 1151 !important;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.no-right-space {
  margin-right: -5px;
}

button.btn-link {
  background:none!important;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
} 

form.button_to {
  display: inline-block;
}
