/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize.min
 *= require_self
 *= require jquery.Jcrop
*/

@import 'bootstrap_variables_overrides';
@import "bootstrap-sprockets";
@import "bootstrap";

@import 'variables';
@import './mixins/**/*';
@import './fonts/**/*';
@import './common/**/*';
@import './blocks/**/*';
@import './events/**/*';
@import './tracks/**/*';
@import './places/**/*';
@import './profiles/**/*';
@import './tournaments/**/*';
@import './online_competitions/**/*';
@import './inside_iframe';
@import './contributions';
@import './*';

html, body {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
}

*, input[type="search"] {
  box-sizing: border-box;
}

a, button, label, span {
  transition-property: border-color, background, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.loading-bg {
  background: image-url('loading.gif') no-repeat center center;
}

.overflow-hidden {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  font-weight: 500;
  font-size: 0.875rem;
  margin: 0;
}

code {
  padding: 0.125rem 0.25rem;
  font-size: 0.875rem;
  color: var(--gray-80);
  background-color: var(--gray-20);
  border-radius: var(--border-radius-sm);
}

#modal-root, #dropdown-root {
  position: absolute;
  top: 0;
  left: 0;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  &.wrap--no-top-padding {
    padding-top: 0px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=radio] {
  margin: 0;
}

.fullscreen {
  height: 100%;
}

.page-content {
  height: 100%;
  min-height: 0;
}

@media print {
  .page {
    padding: 0;
  }
}

label.valid {
  display: none !important;
}

.img-50 {
  height: 32px;
  width: 32px;
}

.dropdown-toggle.profile-dropdown {
  background-color: transparent;
  border: 0;
  padding-bottom: 9px;
  padding-top: 9px;
}

.top-buffer { margin-top: 20px }
.top-buffer-10 { margin-top: 10px }
.top-buffer-30 { margin-top: 30px }

.clickable { cursor: pointer }

.datepicker {
  z-index: 1151 !important;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.no-right-space {
  margin-right: -5px;
}

turbo-cable-stream-source {
  display: none;
}
