/* Стили для списка соревнования */
.comp-list {}

.comp-list-item {
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  border-bottom-color: rgb(238, 238, 238);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.comp-list-title {
  margin-bottom: 10px;
}

.comp-list-params {
  color: rgb(136, 136, 136);
  float: right;
  margin-top: 17px;
}

.comp-group {}

.comp-dash {}

.comp-name {}

/*Общие стили для событий*/

.event-request { margin-top:15px }

.edit-result {
  cursor: pointer;
}

.template-row {
  display: none;
}

#edit-event-commands {
  margin-top: 20px;
}

.edit-competitor, 
.edit-section,
.edit-round
{
  margin-left: 10px;
}

.section-up,
.section-down, 
.pipe-edit-section,
.delete-competitor, 
.delete-section,
.delete-round
{
  margin-left: 5px;
}

td .edit-section,
td .edit-competitor,
td .pipe-edit-section,
td .section-up,
td .section-down,
td .delete-section,
td .delete-competitor,
td .edit-round,
td .delete-round
{
  visibility: hidden;
}

td:hover .edit-section,
td:hover .pipe-edit-section,
td:hover .section-up,
td:hover .section-down,
td:hover .delete-section,
td:hover .edit-competitor,
td:hover .delete-competitor,
td:hover .edit-round,
td:hover .delete-round
{
  visibility: visible;
}

.rt-ln {
  width: 20px;
}

[data-role="points"],
[data-role="competitor-suit"] {
  color: rgb(153, 153, 153);
}
