/* */
.organizer {
  padding: 6px 1px;
}
/* Стили для списка соревнования */
.comp-list {}

.comp-list-item {
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-top: 25px;
  min-height: 60px;
  position: relative;
  border-color: rgb(238, 238, 238);
  border-left-style: solid;
  border-left-width: 5px;
}

.comp-list-item.active {
  border-color: rgb(77, 197, 147);
}

.comp-list-title {
  margin-bottom: 10px;
  font-weight: 200;
}

.comp-list-params {
  color: rgb(136, 136, 136);
  float: right;
  width: 35%;
}

.comp-group {
  line-height: 24px;
  font-size: 20px;
  font-weight: normal;
  color: rgb(65, 131, 196);
}

.comp-dash {
  line-height: 24px;
  font-size: 20px;
  font-weight: normal;
  color: rgb(65, 131, 196);
}

.comp-name {
  line-height: 24px;
  font-size: 20px;
  color: rgb(65, 131, 196);
}

/*Общие стили для событий*/

.event-request { margin-top:15px }

.edit-result,
.show-result {
  cursor: pointer;
}

.template-row {
  display: none;
}

#edit-event-commands {
  margin-top: 20px;
}

.edit-competitor, 
.edit-section,
.edit-round
{
  margin-left: 10px;
}

.section-up,
.section-down, 
.pipe-edit-section,
.delete-competitor, 
.delete-section,
.delete-round
{
  margin-left: 5px;
}

td .edit-section,
td .edit-competitor,
td .pipe-edit-section,
td .section-up,
td .section-down,
td .delete-section,
td .delete-competitor,
td .edit-round,
td .delete-round
{
  visibility: hidden;
}

td:hover .edit-section,
td:hover .pipe-edit-section,
td:hover .section-up,
td:hover .section-down,
td:hover .delete-section,
td:hover .edit-competitor,
td:hover .delete-competitor,
td:hover .edit-round,
td:hover .delete-round
{
  visibility: visible;
}

.rt-ln {
  width: 20px;
}

.form-label {
  padding-top: 7px;	
}

[data-role="points"],
[data-role="competitor-suit"] {
  color: rgb(153, 153, 153);
}

/* Hungary boogie specific */
.hc-best-result {
	color: #00BA02;
}

.hc-worst-result {
  color: rgb(213, 139, 138);
}

.dotted-underline {
  border-bottom-style: dotted;
  border-bottom-width: 1.1px;
}

.competitor-profile-link {
  color: rgb(51, 51, 51);
  border-bottom-style: dotted;
  border-bottom-width: 1.1px;
}

.competitor-profile-link:hover {
  color: rgb(51, 51, 51);
  border-bottom-style: solid;
  text-decoration: none;
}

.event-start-date {
  float: left;
  position: absolute;
  top: 8px;
  left: 13px;
}

.event-start-date span {
  font-size: 30px;
  font-weight: 200;
}

.event-start-date em {
  display: block;
  font-weight: 500;
  font-style: normal;
}

.event-list-details {
  padding-left: 70px;
}
