/*Общие стили для событий*/

.event-request { margin-top:15px }

.template-row {
  display: none;
}

.edit-competitor, 
.edit-section,
.edit-round
{
  margin-left: 10px;
}

.section-up,
.section-down, 
.pipe-edit-section,
.delete-competitor, 
.delete-section,
.delete-round
{
  margin-left: 5px;
}

td .edit-section,
td .edit-competitor,
td .pipe-edit-section,
td .section-up,
td .section-down,
td .delete-section,
td .delete-competitor,
h1 .edit-event,
td .edit-round,
td .delete-round
{
  visibility: hidden;
}

td:hover .edit-section,
td:hover .pipe-edit-section,
td:hover .section-up,
td:hover .section-down,
td:hover .delete-section,
td:hover .edit-competitor,
td:hover .delete-competitor,
h1:hover .edit-event,
td:hover .edit-round,
td:hover .delete-round
{
  visibility: visible;
}

.rt-ln {
  width: 20px;
}
