#result-gr-chart, 
#result-spd-chart,
#result-elev-chart {
  width: 100%;
}

#result-gr-chart {
  height: 250px;
}

#result-spd-chart,
#result-elev-chart {
  height: 350px;
}

#open-track-link {
  opacity: 0.4;
  color: black;
  padding-right: 7px;
}

.result-min-val {
  color: #9a3558;
}

.result-max-val {
  color: #4b725a;
}

.result-min-val,
.result-max-val {
  font-size: 12px;
  line-height: 12px;
}

.result-param {
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
  color: #888;
}
