$table-cell-padding: 8px;
$table-head-color: rgba(0,0,0, 0.54);
$table-border-color: #ddd;
$table-border-width: 1px;

.table   { display: table; }

.thead   {
  display: table-header-group;

  .th {
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }
}

.tbody { display: table-row-group }

.tr { display: table-row; }

.td {
  vertical-align: top;
  border-top: $table-border-width solid $table-border-color;
}

.th, .td { 
  display: table-cell;
  padding: $table-cell-padding;
}

.table > thead > tr > th,
.table > .thead > .tr > .th {
  color: $table-head-color ;
  font-weight: normal;
}
