.tournament-match {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
  border-width: 0px;
}

.tournament-match-map {
  margin-right: 10px;
  font-size: 11px;
  cursor: pointer;
}

.tournament-round {
  padding-bottom: 15px;
}

.tournament-spacer {
  height: 46px;
}

.tournament-competitor {
  margin-bottom: 8px;
}

.tournament-competitor a,
.qualification-table a {
  color: rgb(51, 51, 51);
  border-bottom-style: dotted;
  border-bottom-width: 1.1px;
}

.tournament-competitor a:hover,
.qualification-table a:hover {
  border-bottom-style: solid;
  text-decoration: none;
}


.qualification-table tr > td:nth-child(1) {
  width: 5%;
}
.competitors-container {
  padding-bottom: 7px;
  padding-top: 2px;
}

#match-map {
  height: 400px;
}

#match-globe {
  min-height: 400px;
}

#tournament-form-map {
  height: 370px;
}
