.tournament-match {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
  border-width: 0px;
}

.tournament-round {
  padding-bottom: 15px;
}

.tournament-spacer {
  height: 46px;
}

.tournament-competitor {
  margin-bottom: 8px;
}

.competitors-container {
  padding-bottom: 7px;
}
