/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.min-val, .avg-val, .max-val, .val-unit {
  display: inline;
}

.min-val, .max-val {
  color: #aaa;
}

.d-term {
  width: 200px;
}

           
.dropdown-container .dropdown {
  margin-top:15px;
  margin-left:27px;
  width: 40px;
}

.glyphicon {
  margin-left:1px;
  margin-top:2px;
}      
