
.min-val, .avg-val, .max-val, .val-unit {
  display: inline;
}

.min-val, .max-val {
  color: #aaa;
}

.d-term {
  width: 200px;
}

           
.dropdown-container .dropdown {
  margin-top:15px;
  margin-left:27px;
  width: 40px;
}

.glyphicon {
  margin-left:1px;
  margin-top:2px;
}

.range-selector {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 97%
}

#glideratio_chart {
  width:100%;
  height:250px;
}

#speeds_chart {
  width:100%;
  height:400px;
}

#elevation_distance_chart {
  width:100%;
  height:400px;
}

#all_data_chart {
  width:100%;
  height:600px;
}
