@media(max-width: 767px){
  .vc-profile-name {
    font-size: 1.4em;
  }
  .vc-result {
    font-size: 3em;
  }
  .vc-unit {
    font-size: 2em;
  }
}

@media(min-width: 768px){
  .vc-profile-name {
    font-size: 1.1em;
  }
  .vc-result {
    font-size: 2.5em;
  }
  .vc-unit {
    font-size: 1.5em;
  }
}

@media(min-width: 992px){
  .vc-profile-name {
    font-size: 1.4em;
  }
  .vc-result {
    font-size: 3em;
  }
  .vc-unit {
    font-size: 2em;
  }
}

@media(min-width: 1200px){
  .vc-profile-name {
    font-size: 1.4em;
  }
  .vc-result {
    font-size: 3em;
  }
  .vc-unit {
    font-size: 2em;
  }
} 
