.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: min-content max-content;
}

.scoreboardContainer {
  composes: container from '~styles/scoreboard';
}

.tableWrapper {
  composes: tableWrapper from '~styles/scoreboard';
}

.scoreboardTable {
  composes: table from '~styles/scoreboard';
}

.alignRight {
  text-align: right;
}
