.inputContainer {
  display: grid;
  grid-gap: 0.125rem 0;
  grid-template-rows: 1fr;
}

.inputModeToggle {
  margin: 0;

  font-size: 0.825rem;
  line-height: normal;
}

.errorMessage {
  color: var(--red-80);
  font-size: 0.825rem;
}

.flatButton {
  composes: button from '~styles/button.module.scss';
  composes: flat from '~styles/button.module.scss';
  composes: sizeXs from '~styles/button.module.scss';

  display: inline-flex;
}

.input {
  composes: input from '~styles/input.module.scss';
  composes: outlined from '~styles/input.module.scss';
}
