.actions {
  display: inline-flex;
  margin-left: 0.5rem;
}

.actionButton {
  composes: button from '~styles/button';
  composes: flat from '~styles/button';

  display: inline-flex;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.25rem;

  font-size: 0.825rem;

  visibility: hidden;
}

.categoryCell:hover .actionButton,
.competitorCell:hover .actionButton {
  visibility: visible;
}

.categoryStandings:first-of-type .actions .actionButton:nth-child(3) {
  display: none;
}

.categoryStandings:last-of-type .actions .positionButton:last-child {
  display: none;
}

.competitorCell {
  padding: 0.25rem 0.5rem;

  > :not(:last-child) {
    margin-right: 0.25rem;
  }
}

.competitorMain {
  display: flex;
  align-items: center;

  > :not(:last-child) {
    margin-right: 0.25rem;
  }
}

.competitorAdditional {
  color: var(--grey-70);
  font-weight: 500;
  font-size: 0.625rem;
  text-transform: uppercase;
}

.categoryCell {
  > :not(:last-child):not(:first-child) {
    margin-right: 0.25rem;
  }
}

.resultCell {
  position: relative;

  text-align: right;
}

.standingRow > .resultCell {
  padding: 0;
}

.newResult {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: 0;

  background-color: var(--blue-80);
  visibility: hidden;
  cursor: pointer;

  svg {
    height: 1rem;

    path {
      fill: var(--white);
    }
  }
}

.showResult {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 3rem;
  padding: 0 0.5rem;
  border: 0;

  text-align: right;

  background-color: var(--white);
  cursor: pointer;

  &.withWarning {
    align-items: center;
  }

  .warningIcon {
    height: 1.25em;
    margin: auto;

    path {
      fill: var(--red-70);
    }
  }
}

.showResult:hover::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 3px;

  background-color: var(--blue-80);

  content: '';
}

.resultCell:hover .newResult {
  visibility: visible;
}

.assignedNumber {
  color: var(--grey-70);
}
