<div class="show-page">
  <%= render 'profiles/header', profile: @profile %>

  <div class="show-page-content">
    <div class="card">
      <div id="tracks-table" class="table table-hover">
        <div class="thead">
          <%= render 'tracks/table_header', except_columns: [:profile] %>
        </div>
        <div id="tracks-list" class="tbody">
          <%= render collection: @tracks, partial: 'tracks/track', locals: { except_columns: [:profile] } %>
        </div>
      </div>
      <div class="flex justify-center">
        <%= will_paginate @tracks, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
