@import 'styles/breakpoints';

.trackLink {
  display: grid;
  grid-row-gap: 0.25rem;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 0.75rem;
  padding: 1rem;
  border-radius: var(--border-radius-md);

  color: var(--grey-90);
  text-decoration: none;

  background-color: var(--white);
  box-shadow: var(--block-box-shadow);
  cursor: pointer;

  &:hover {
    color: var(--grey-90);
    text-decoration: none;
  }

  .active {
    box-shadow: var(--block-box-shadow), inset 5px 0 0 var(--blue-grey-60);
  }

  &:not(.compact) {
    @include sm-screen {
      display: table-row;
      margin: 0;
      padding: 0;

      box-shadow: none;

      &:not(:last-child) .attribute {
        border-bottom: solid 1px var(--border-color);
      }

      &:hover > :first-child {
        box-shadow: inset 3px 0 0 var(--blue-grey-60);
      }
    }
  }
}

.id {
  composes: attribute;

  order: 0;

  color: var(--grey-70);

  &::before {
    content: '#';
  }
}

.pilot {
  composes: attribute;

  grid-column: 1/3;
  order: 1;

  color: var(--grey-80);
  font-weight: 500;
}

.suit {
  composes: attribute;

  order: 3;

  text-align: right;
}

.place {
  composes: attribute;

  order: 2;
}

.comment {
  composes: attribute;

  grid-column: 1/3;
  order: 4;

  color: var(--grey-70);

  :not(:empty) {
    margin-top: 0.5rem;
  }
}

.result {
  composes: attribute;

  display: none;

  text-align: right;
}

.timestamp {
  composes: attribute;

  flex: 50%;
  order: 0;

  color: var(--grey-70);
  text-align: right;
}

.trackLink:not(.compact) .attribute {
  @include sm-screen {
    display: table-cell;
    padding: 0.5rem;

    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;

    &.id::before {
      content: '';
    }

    &.suit {
      text-align: left;
    }

    &.pilot {
      font-weight: normal;
    }
  }
}
