= edit_section_link(@event, section)

- if @event.sections.many?
  %span.pipe-edit-section.text-muted
    |

  - unless section.first_position?
    = move_section_upper_button(@event, section)
  - unless section.last_position?
    = move_section_lower_button(@event, section)

  %span.pipe-edit-section.text-muted
    |

= delete_section_button(@event, section)
