%tr.head-row{id: dom_id(section)} 
  %td.section-cell{colspan: columns_count}
    %span
      = section.name + ':'

    - if editable
      = render 'events/sections/edit_section_controls',
               event: @event,
               section: section,
               display_raw_results: @display_raw_results 
