<div class="page-header">
  <h1>Listing tracks</h1>
</div>
<div class='row'>
	<div class="btn-group btn-group-sm col-sm-12 col-md-3 col-lg-2" data-toggle='buttons'>
		<label class="btn btn-default <% if (!this.params.kind) { %> active <% } %>">
			<input id="tracks-all" type="radio" name="track-kind" value="all" autocomplete="off">
			All
		</label>
		<label class="btn btn-default <% if (this.params.kind === 'skydive') { %> active <% } %>">
			<input id="tracks-skydive" type="radio" name="track-kind" value="skydive" autocomplete="off">
			Skydive
		</label>
		<label class="btn btn-default <% if (this.params.kind === 'base') { %> active <% } %>">
			<input id="tracks-base" type="radio" name="track-kind" value="base" autocomplete="off">
			B.A.S.E.
		</label>
	</div>
	<div class='col-sm-12 col-md-9 col-lg-10'>
		<table id="tracks-table" class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Пилот</th>
					<th>Костюм</th>
					<th>Локация</th>
					<th>Комментарий</th>
					<th>Дата загрузки</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
