<%# locals: (event:) %>

<div class="display-statusbar">
  <div class="display-statusbar-left">
    <span class="display-live-dot"></span>
    <span class="display-live-label"><%= t('speed_skydiving_competitions.display.live') %></span>
    <span class="display-statusbar-divider"></span>
    <span class="display-statusbar-meta"><%= event.name %></span>
  </div>

  <div class="display-brand">
    <span class="display-brand-name">Skyderby</span>
  </div>
</div>
