.actions {
  display: inline-flex;
  margin-left: 0.5rem;
}

.actionButton {
  composes: button from '~styles/button';
  composes: flat from '~styles/button';

  display: inline-flex;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.25rem;

  font-size: 0.825rem;

  visibility: hidden;
}

.categoryCell:hover .actionButton,
.competitorCell:hover .actionButton {
  visibility: visible;
}

.categoryStandings:first-of-type .actions .actionButton:nth-child(3) {
  display: none;
}

.categoryStandings:last-of-type .actions .positionButton:last-child {
  display: none;
}

.competitorCell {
  > :not(:last-child) {
    margin-right: 0.25rem;
  }
}

.categoryCell {
  > :not(:last-child):not(:first-child) {
    margin-right: 0.25rem;
  }
}

.assignedNumber {
  color: var(--grey-70);
}
