<turbo-frame id="<%= sanitize params[:frame_id] %>">
  <div class="hot-select-options">
    <% @suits.each do |suit| %>
      <div class="hot-select-option" data-value="<%= suit.id %>">
        <%= suit_presentation suit %>
      </div>
    <% end %>
  </div>
</turbo-frame>
