<turbo-frame id="<%= sanitize params[:frame_id] %>">
  <div class="hot-select-options">
    <% @suits.each do |suit| %>
      <div class="hot-select-option" data-value="<%= suit.id %>">
        <%= suit_presentation suit %>
      </div>
    <% end %>

    <% if @suits.next_page %>
      <% frame_id = "#{sanitize params[:frame_id]}-#{@suits.next_page}" %>
      <%= render 'hot_select/load_more', page: @suits.next_page, frame_id: %>
    <% end %>
  </div>
</turbo-frame>
