@import 'styles/breakpoints.scss';

.container {
  display: grid;
  width: 100%;

  @include sm-screen {
    border-bottom: solid 1px var(--border-color);
    grid-template-columns: 350px 1fr;
    grid-template-rows: 100%;
    overflow: auto;
  }
}

.settingsContainer {
  display: grid;
  grid-template-rows: 1fr min-content;

  @include sm-screen {
    border-right: solid 1px var(--border-color);
  }
}

.terrainProfileSelect {
  border-top: solid 1px var(--border-color);
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
}

.charts {
  display: grid;
  background-color: var(--white);
  grid-template-rows: minmax(300px, 1fr) 2rem 9rem;
  grid-template-columns: minmax(250px, 1fr);
  grid-gap: 0.5rem;
  min-width: 0;
  position: relative;
}

.toolbar {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.flatButton {
  composes: button from '~styles/button.module.scss';
}

.activeButton {
  composes: active from '~styles/button.module.scss';
}
