@import 'styles/breakpoints';

.container {
  display: grid;
  grid-template-rows: calc(max(100vh, 568px) - 4.5rem) 100vh;
  width: 100%;

  @include sm-screen {
    grid-template-rows: 100%;
    grid-template-columns: 350px 1fr;
    border-bottom: solid 1px var(--border-color);
    overflow: auto;
  }
}

.settingsContainer {
  display: grid;
  grid-row: 2;
  grid-template-rows: min-content 1fr;

  @include sm-screen {
    grid-row: 1;
    grid-template-rows: 1fr min-content;
    border-right: solid 1px var(--border-color);
  }
}

.terrainProfileSelect {
  display: flex;
  grid-row: 1;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: solid 1px var(--border-color);

  background-color: var(--white);

  @include sm-screen {
    grid-row: 2;
    border-top: solid 1px var(--border-color);
    border-bottom: 0;
  }
}

.charts {
  position: relative;

  display: grid;
  grid-gap: 0.5rem;
  grid-row: 1;
  grid-template-rows: minmax(300px, 1fr) 2rem 9rem;
  grid-template-columns: minmax(250px, 1fr);
  min-width: 0;
  border-bottom: solid 1px var(--border-color);

  background-color: var(--white);

  @include sm-screen {
    border-bottom: 0;
  }
}

.fab {
  composes: fab from '~styles/button.module.scss';

  position: fixed;
  right: 1rem;
  bottom: 1.5rem;

  @include sm-screen {
    position: absolute;
  }
}
