

.track-show-content {
  margin: 0 auto;
  width: 100%;
  background-color: var(--white);
  border: var(--default-border);
  border-left-width: 0;
  border-right-width: 0;
  padding: 1rem;

  @media (min-width: $bp-large) {
    width: $bp-large;
    border-radius: var(--border-radius-lg);
    border-left-width: 1px;
    border-right-width: 1px;
  }
}

.track-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.track-header__id {
  font-size: 1.25rem;
  color: #bbb;
}

.track-header__photo {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-right: 0.25rem;
}

.track-header-profile {
  color: var(--gray-90);
  font-size: 1.5rem;
}

.track-header__info {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  align-items: baseline;
}
