.track-indicators {
  display: flex;
  justify-content: space-around;
  font-weight: 200;

  .units {
    font-size: 28px;
    color: #555;
  }

  .avg-val {
    font-size: 42px;
    color: #555;
    font-weight: 200;
  }

  .avg-val, .units {
    display: inline;
    font-weight: 200;
  }

  .min-max {
    text-align: right;
    display: inline-block;
    margin-left: 3px;
    margin-right: 25px;

    :first-child::after {
      transform: rotate(-90deg);
      top: 3px;
    }

    :last-child::after {
      transform: rotate(90deg);
      top: 4px;
    }
  }

  .max-val {
    color: #1FBE78;
  }

  .min-val {
    color: #FF777C;
  }

  .min-val, .max-val {
    position: relative;

    &::after {
      content: $icon-arrow-light;
      font: 12px/12px $application-icon-font;
      display: inline-block;
      position: absolute;
      right: -15px;
    }
  }

  .param-val {
    white-space: nowrap;
  }
}

.track-indicators__param {
  color: #aaa;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-indicators__indicator {
  margin-top: 40px;

  &:first-child {
    margin-top: 15px;
  }
}

.track-indicators__wind-effect {
  border-radius: 0px;
  height: 2px;
  margin-bottom: 0px;

  .progress-bar-success {
    background-color: #00ba65;
  }

  .progress-bar-danger {
    background-color: #FF777C;
  }
}

.track-indicators__components {
  display: table;
  width: 100%;
}

@media print {
  .track-indicators__components {
    display: none;
  }
}

.track-indicators__component {
  display: table-cell;

  &.text-success {
    color: #1FBE78;
  }

  &.text-danger {
    color: #FF777C;
  }
}



.modal-body .track-indicators {

  .avg-val {
    font-size: 2em;
  }

  .units {
    font-size: 14px;
  }

  .min-val, .max-val {
    font-size: 12px;
    line-height: 12px;
  }

  .param {
    font-size: 12px;
    margin-top: -5px;
  }
}
