.track-indicators {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 200;
  gap: 1.25rem;

  .units {
    font-size: 0.75em;
    color: var(--gray-80);
  }

  .avg-val {
    color: var(--gray-80);
    font-weight: 200;
  }

  .avg-val, .units {
    display: inline;
    font-weight: 200;
  }

  .min-max {
    font-size: 0.375em;
    text-align: right;
    display: inline-block;
    margin-left: 3px;
    margin-right: 5px;

    :first-child::after {
      transform: rotate(-90deg);
      top: 3px;
    }

    :last-child::after {
      transform: rotate(90deg);
      top: 4px;
    }
  }

  .max-val {
    color: #1FBE78;
  }

  .min-val {
    color: #FF777C;
  }

  .min-val, .max-val {
    position: relative;
  }

  .param-val {
    font-size: 2rem;
    white-space: nowrap;

    @media (min-width: $bp-small) {
      font-size: 2.5rem;
      text-align: center;
    }
  }

  @media (min-width: $bp-small) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.range-shortcuts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.track-indicator {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.track-indicator-distance {
  order: 1;
}

.track-indicator-h-speed {
  order: 3;

  @media (min-width: $bp-small) {
    order: 2;
  }
}

.track-indicator-glide {
  order: 2;

  @media (min-width: $bp-small) {
    order: 3;
  }
}

.track-indicator-v-speed {
  order: 4;

  @media (min-width: $bp-small) {
    order: 5;
  }
}

.track-indicator-elevation {
  order: 5;

  @media (min-width: $bp-small) {
    order: 4;
  }
}

.track-indicator-time {
  order: 6;
}

.track-indicators__param {
  color: var(--gray-70);
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: $bp-small) {
    text-align: center;
  }
}

.track-indicators__wind-effect {
  border-radius: 0px;
  height: 2px;
  margin-bottom: 0px;

  .progress-bar-success {
    background-color: #00ba65;
  }

  .progress-bar-danger {
    background-color: #FF777C;
  }
}

.track-indicators__components {
  display: table;
  width: 100%;
}

@media print {
  .track-indicators__components {
    display: none;
  }
}

.track-indicators__component {
  display: table-cell;

  &.text-success {
    color: #1FBE78;
  }

  &.text-danger {
    color: #FF777C;
  }
}



.modal-body .track-indicators {

  .avg-val {
    font-size: 2em;
  }

  .units {
    font-size: 14px;
  }

  .min-val, .max-val {
    font-size: 12px;
    line-height: 12px;
  }

  .param {
    font-size: 12px;
    margin-top: -5px;
  }
}
