#track-map-wrapper {
  position: relative;
}

#track-map {
  height: 500px;
  width: 100%;
}

#track-map-polar-chart {
  position: absolute;
  bottom: 20px;
  left: 10px;
  height: 50%;
  width: 23%;
  z-index: 99;
}

#track-map-loading {
  position: absolute;
  width: 400px;
  height: 100px;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -100px;
  z-index: 99;
}
