@import '../mixins/font_face';

$pn-thin:            'Proxima Nova Thin';
$pn-light:           'Proxima Nova Light';
$pn-regular:         'Proxima Nova Regular';
$pn-semibold:        'Proxima Nova Semibold';
$pn-bold:            'Proxima Nova Bold';
$pn-thin-italic:     'Proxima Nova Thin Italic';
$pn-light-italic:    'Proxima Nova Light Italic';
$pn-regular-italic:  'Proxima Nova Regular Italic';
$pn-semibold-italic: 'Proxima Nova Semibold Italic';
$pn-bold-italic:     'Proxima Nova Bold Italic';

@include font-face($pn-thin,            'proxima-nova/ProximaNovaT-Thin',      'ProximaNova-Thin');
@include font-face($pn-light,           'proxima-nova/ProximaNova-Light',      'ProximaNova-Light');
@include font-face($pn-regular,         'proxima-nova/ProximaNova-Regular',    'ProximaNova-Regular');
@include font-face($pn-semibold,        'proxima-nova/ProximaNova-Semibold',   'ProximaNova-Semibold');
@include font-face($pn-bold,            'proxima-nova/ProximaNova-Bold',       'ProximaNova-Bold');
@include font-face($pn-thin-italic,     'proxima-nova/ProximaNova-ThinIt',     'ProximaNova-ThinIt');
@include font-face($pn-light-italic,    'proxima-nova/ProximaNova-LightIt',    'ProximaNova-LightIt');
@include font-face($pn-regular-italic,  'proxima-nova/ProximaNova-RegularIt',  'ProximaNova-RegularIt');
@include font-face($pn-semibold-italic, 'proxima-nova/ProximaNova-SemiboldIt', 'ProximaNova-SemiboldIt');
@include font-face($pn-bold-italic,     'proxima-nova/ProximaNova-BoldIt',     'ProximaNova-BoldIt');
