<% provide(:title, page_title(@place.name)) %>
<% editable = policy(@place).update? %>

<div class="show-page place-show">
  <%= render 'places/header', editable: %>

  <div class="show-page-content">
    <div class="card">
      <%= yield %>
    </div>
  </div>
</div>
