<% link_to_preview ||= false %>

<div class="places__list" data-controller="places--searchable-list">
  <div class="places__search">
    <span class="index-search__icon">
      <i class="fas fa-search"></i>
    </span>
    <input class="index-search__input" type="text" data-action="input->places--searchable-list#filter_places" placeholder="Search...">
  </div>
  <div class="places__list-container">
    <% @places.group_by(&:country).each do |country, places| %>
      <div class="places__country" data-target="places--index.country places--searchable-list.country">
        <%= country.name %>
      </div>
      <% places.each do |place| %>
        <%= link_to place.name,
                    place_path(place),
                    class: 'places__item',
                    data: { target: 'places--index.place places--searchable-list.place', id: place.id, lat: place.latitude, lon: place.longitude } %>
      <% end %>
    <% end %>
  </div>
</div>
