<div class="container">
  <div class="page-header">
    <h2>
      <%= t('activerecord.models.place') %>: <%= @place.name %>
    </h2>
  </div>

  <div class="content-block">
    <%= render 'form' %>
  </div>
</div>
