<% provide :title, page_title(t('application.header.places')) %>

<div class="places" data-controller="places--index">
  <div class="places__sidebar" data-places--index-target="sidebar">
    <%= render 'list_with_search' %>

    <% if policy(Place).create? %>
      <div class="places__sidebar-create">
        <%= link_to new_place_path, class: 'btn btn-default' do %>
          <%= svg_icon 'plus-solid' %>
          <%= t('.new') %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="places__container">
    <div class="places__map" data-places--index-target="map"></div>
  </div>
</div>
