- provide :title, page_title(t('application.header.places'))

.places{'data-controller': 'places--index',
        'data-action': 'maps_api:ready@window->places--index#on_maps_ready '        + |
                       'maps_api:failed@window->places--index#on_maps_load_failed ' + |
                       'ajax:before->places--index#before_request_preview '         + |
                       'ajax:success->places--index#request_preview_success '       + |
                       'ajax:error->places--index#request_preview_error ' }           |

  .places__sidebar{'data-target': 'places--index.sidebar'}
    = render 'list_with_search', link_to_preview: true
    - if policy(Place).create?
      .places__sidebar-create
        = link_to new_place_path, class: 'btn btn-default' do
          %i.fa.fa-plus
          = t('general.create')
    .place-preview{'data-target': 'places--index.preview'}
      .place-preview__header
        %a{'data-action': 'places--index#close_preview'}
          %i.fa.fa-chevron-left
      .place-preview__loading{'data-target': 'places--index.previewLoading'}
        %i.fa.fa-circle-o-notch.fa-spin
      .place-preview__container
  .places__container
    .places__map{'data-target': 'places--index.map'}
