- provide :title, page_title(t('application.header.places'))

.places{'data-controller': 'places--index',
        'data-action': 'maps_api:ready@window->places--index#on_maps_ready maps_api:failed@window->places-index#on_maps_load_failed' }
  .places__sidebar
    .places__search
      %span.index-search__icon
        %i.fa.fa-search
      %input.index-search__input{type: 'text', 'data-action': 'input->places--index#filter_places', placeholder: 'Search...'}
    .places__list-container
      - @places.each do |country, places|
        .places__country{'data-target': 'places--index.country'}
          = country.name
        - places.each do |place|
          .places__item{data: { target: 'places--index.place', id: place.id, lat: place.latitude, lon: place.longitude }}
            = place.name
    .places__preview
  .places__container
    .places__map{'data-target': 'places--index.map'}
