.container
  .page-header
    %h2
      = t('activerecord.models.place')

  .content-block
    = render 'form'

= content_for :page_js do
  :javascript
    Skyderby.helpers.CountrySelect($('select[name="place[country_id]"]'));
