.container
  = render 'places/header'

  .content-block
    - pilots = @place.pilots_accessible_by(current_user)
    - unless pilots.blank?
      .row.top-buffer
        .col-sm-12
          %div= t('.visited_by') + ':'
          - pilots.each do |pilot|
            %a{href: profile_path(pilot)}
              %img.img-50{src: pilot.userpic_url(:thumb), 'data-toggle' => 'tooltip', title: pilot.name}
      %hr

    #tracks-table.table.table-hover
      .thead
        .tr
          .th
            =t 'activerecord.attributes.track.id'
          .th=t 'activerecord.attributes.track.name'
          .th=t 'activerecord.attributes.track.suit'
          .th=t 'activerecord.attributes.track.comment'
          .th.result-head.text-right
            =t 'disciplines.distance'
          .th.result-head.text-right
            =t 'disciplines.speed'
          .th.result-head.text-right
            =t 'disciplines.time'
          .th
            =t 'activerecord.attributes.track.recorded_at'
          .th

      .tbody
        = render @tracks, except_columns: [:place]

  .text-center.top-buffer
    .pagination-list
      = will_paginate @tracks, renderer: BootstrapPagination::Rails
