<%
  locale_local_names =
    {
      en: 'English',
      ru: 'Русский',
      de: 'Deutsch',
      fr: 'Français',
      it: 'Italiano',
      es: 'Español'
    }
%>

<div class="language-switcher sd-dropdown" data-controller="dropdown">
  <button class="dropdown-toggle button button--ghost button--sm" data-action="dropdown#toggle">
    <%= image_tag asset_path('blank.gif'), class: "flag flag-#{I18n.locale}" %>
    <%= icon_tag 'angle-up-solid' %>
  </button>

  <template data-dropdown-target="menu">
    <div class="sd-dropdown-menu">
      <% I18n.available_locales.each do |locale| %>
        <% active = I18n.locale == locale %>
        <%= link_to( {locale: }, rel: 'nofollow', data: { 'turbo-prefetch': 'false' }, class: class_names('dropdown-item', active && 'active')) do %>
          <div class="active-indicator"></div>
          <%= locale_local_names[locale] %>
        <% end %>
      <% end %>
    </div>
  </template>
</div>
