!!! 
%html
  %head
    %meta{'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8'}
    %meta{name: 'format-detection', content: 'telephone=no'} 
    %meta{name: 'viewport', content: 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;'}
    %meta{'http-equiv': 'X-UA-Compatible', content: 'IE=9; IE=8; IE=7; IE=EDGE'}

    %title
      = yield :title

    :css
      #outlook a { padding:0; }
      body{ width:100% !important; -webkit-text; size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; }     
      .ReadMsgBody { width: 100%; }
      .ExternalClass {width:100%;} 
      .backgroundTable {margin:0 auto; padding:0; width:100%;!important;} 
      table td {border-collapse: collapse;}
      .ExternalClass * {line-height: 115%;}

      /* These are our tablet/medium screen media queries */
      @media screen and (max-width: 630px) {
        /* Display block allows us to stack elements */ 
        *[class="mobile-column"] {display: block;} 
        /* Some more stacking elements */
        *[class="mob-column"] {float: none !important;width: 100% !important;}
        /* Hide stuff */
        *[class="hide"] {display:none !important;}
        /* This sets elements to 100% width and fixes the height issues too, a god send */
        *[class="100p"] {width:100% !important; height:auto !important;}
        /* For the 2x2 stack */
        *[class="condensed"] {padding-bottom:40px !important; display: block;}
        /* Centers content on mobile */
        *[class="center"] {text-align:center !important; width:100% !important; height:auto !important;}
        /* 100percent width section with 20px padding */
        *[class="100pad"] {width:100% !important; padding:20px;}
        /* 100percent width section with 20px padding left & right */
        *[class="100padleftright"] {width:100% !important; padding:0 20px 0 20px;} 
        /* 100percent width section with 20px padding top & bottom */
        *[class="100padtopbottom"] {width:100% !important; padding:20px 0px 20px 0px;}
      }

    = yield :email_style

  %body{style: "background-color: #fafafa; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"}
    %table{border: '0', cellpadding: '0', cellspacing: '0', style: 'margin: 0; padding: 25px 0;', width: '100%'}
      %tr
        %td{align: 'center', valign: 'top'}
          %table.100p{width: '640', cellspacing: '0', cellpadding: '0', bgcolor: '#'}
            %tr
              %td.100p{background: image_url('email/header.png'), bgcolor: '#3b464e', width: '640', height: '97', valign: 'top', style: 'background-position: center;'}
                / [if gte mso 9]
                %v:rect{'xmlns:v': 'urn:schemas-microsoft-com:vml', fill:'true', stroke: 'false', style: 'width:640px;'}
                  %v:fill{type: 'tile', src: image_url('email/header.png'), color: '#3b464e'}
                  %v:textbox{style: 'mso-fit-shape-to-text:true', inset:'0,0,0,0'}
                    / ![endif]
                    %div{style: 'height: 97px;'}
                      &nbsp;

          %table.100p{width: '640', cellspacing: '0', cellpadding: '0', bgcolor: '#'}
            %tr
              %td.100p{bgcolor: '#fff', width: '640', valign: 'top', style: 'padding: 15px; color: #333; border-left: #ccc solid 1px; border-right: #ccc solid 1px; line-height: 1.4;'}
                = yield

          %table.100p{width: '640', cellspacing: '0', cellpadding: '0', bgcolor: '#'}
            %tr
              %td.100p{bgcolor: '#6189af', width: '640', valign: 'top', style: 'color: #fff; padding: 15px;'}
                %div{style: 'line-height: 1.4; font-size: 13px;'}
                  Skyderby
                  %br
                  %a{href: 'mailto: info@skyderby.ru', style: 'color: #fff; text-decoration: none;'}
                    info@skyderby.ru
                  %br
                  Russia, Moscow
