!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag 'sessions/application', media: 'all', 'data-turbolinks-track': 'reload'
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
  %body
    %header
      = link_to root_path, class: 'header__home' do
        %span SkyDerby
    .container
      = yield
